@{
    Layout = "~/Views/Shared/_PartialViewAjaxLayout.cshtml";
}
@using (Ajax.BeginRouteForm("Nexus", new { @action = "Search" }, new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Search users</h4>
        <hr />

        <div class="form-group has-feedback">
            <label for="query" class="control-label col-md-2">AD Login:</label>
            <div class="col-md-8">
                <input type="text" name="query" id="query" value="" class="form-control" />
                <span class="form-control-feedback glyphicon glyphicon-asterisk"></span>
            </div>
            <div class="col-md-2">
                <input type="submit" value="Search..." class="btn btn-omnius-blue" />
            </div>
        </div>

        @if(Request.HttpMethod == "POST" && string.IsNullOrWhiteSpace(ViewBag.Result))
        {
            <span class="error">Not found</span>
        }
        else if(ViewBag.Result.Length > 0)
        {
            <pre>@ViewBag.Result</pre>
        }

    </div>
}
