@{ FSS.Omnius.FrontEnd.Utils.T t = new FSS.Omnius.FrontEnd.Utils.T((FSS.Omnius.Modules.CORE.Locale)ViewData["locale"] ); }
    <ul  id=appMenu>
@if (Context.GetLoggedUser().canUseBlock("",25)){            <li>
                    <h4>@(t._("test"))</h4>

            </li>
}@if (Context.GetLoggedUser().canUseBlock("User",25)){            <li>
                    <a href="/App2/Bootstraptest">@(t._("BootstrapTest"))</a>
            </li>
}    </ul>
