@using FSS.Omnius.Modules.Entitron.Entity.Persona;
@model List<AjaxModuleAccessPermission>
@{
    Page.Title = "Omnius Persona";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "personaModulesModule";
}
@helper CheckboxCell(bool allowed)
{
    if (allowed)
    {
        <td class="checkboxCell yesCell"><i class="fa fa-check"></i></td>
    }
    else
    {
        <td class="checkboxCell noCell"><i class="fa fa-times"></i></td>
    }
}
<div id="upperPanel">
    <div class="panelLabel">Přístup k modulům</div>
    <svg class="backgroundDecoration" width="540px" height="135px">
        <path d="M31 0 L31 28 L65 62 L376 62" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 135 L31 108 L65 74 L376 74" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 47 L52 68 L31 89 L10 68 Z" stroke="#49c4f1" stroke-width="1" fill="none" />
    </svg>
    <img class="decorationWatcheye" src="~/Content/images/watcheye_small.png" />
    <div id="hideUpperPanelIcon" class="fa fa-caret-up"></div>
</div>
<div id="minimizedUpperPanel">
    <div class="panelLabel">Přístup k modulům</div>
    <div id="showUpperPanelIcon" class="fa fa-caret-down"></div>
</div>
<div id="lowerPanel">
    <svg class="modulesFormUpperDecoration" width="40px" height="240px">
        <path d="M31 0 L31 235" stroke="#457fa9" stroke-width="1" fill="none"></path>
    </svg>
    <div id="personaModulesContentContainer">
        @if (Model.Count == 0)
        {
            <div class="modelErrorMessage">V databázi zatím nejsou žádná nastavení oprávnění k modulům (tabulka Persona_ModuleAccessPermissions)</div>
        }
        else
        {
        <table id="moduleAccessTable" class="table table-bordered table-striped table-omnius">
            <thead>
                <tr>
                    <th></th>
                        <th>Core</th>
                        <th>Master</th>
                        <th>Tapestry</th>
                        <th>Entitron</th>
                        <th>Mozaic</th>
                        <th>Persona</th>
                        <th>Nexus</th>
                        <th>Sentry</th>
                        <th>Hermes</th>
                        <th>Athena</th>
                        <th>Watchtower</th>
                        <th>Cortex</th>
                        <th class="hide_me">User's id</th>

                </tr>
            </thead>
            <tbody>
                        <tr class="hiddenIdRow">
                            <td></td>
                        </tr>
                @for (int i = 0; i < Model.Count; i++)
                {
                 
                        <tr class="hiddenIdRow">
                          <td>@Model[i].UserId</td>
                        </tr>
                }

            </tbody>
        </table>
        <div id="personaModulesFormButtonsPanel">
            <svg class="modulesFormLowerDecoration" width="500px" height="102px">
                <path d="M1 1 L101 101 L499 101" stroke="#457fa9" stroke-width="1" fill="none"></path>
            </svg>
            <button id="btnReloadModuleAccessTable" class="btn-omnius-rectangular">Zrušit</button>
            <button id="btnSaveModuleAccessTable" class="btn-omnius-rectangular">Uložit</button>
        </div>
        }
    </div>
</div>

@* Load datatable css *@
<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
@* Load datatable js *@

<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script>
        $(document).ready(function () {
            $('#moduleAccessTable').DataTable({
                "ajax": {
                    "url": "/Persona/Modules/loadData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                       

                         { "data": "UserName", "autoWidth": true },
                      
                        {
                            "data" : "Core",
                            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                                if (oData.Core) {
                                    $(nTd).html("<td moduleId = 'Core' class='checkboxCell yesCell'><i class='fa fa-check'></i></td>");
                                } else {
                                    $(nTd).html("<td moduleId = 'Core' class='checkboxCell noCell core'><i class='fa fa-times'></i></td>");
                                }
                            }
                                  
                        },
                        {
                            "data" : "Master",
                            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                                if (oData.Master == true) {
                                    $(nTd).html("<td moduleId = 'Master' class='checkboxCell yesCell'><i class='fa fa-check'></i></td>");
                                } else {
                                    $(nTd).html("<td moduleId = 'Master' class='checkboxCell noCell'><i class='fa fa-times'></i></td>");
                                }
                            }
                        }, 

                       {
                           "data": "Tapestry",
                           "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                               if (oData.Tapestry == true) {
                                   $(nTd).html("<td moduleId = 'Tapestry' class='checkboxCell yesCell'><i class='fa fa-check'></i></td>");
                               } else {
                                   $(nTd).html("<td moduleId = 'Tapestry' class='checkboxCell noCell'><i class='fa fa-times'></i></td>");
                               }
                           }

                       },
                        {
                            "data": "Entitron",
                            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                                if (oData.Entitron == true) {
                                    $(nTd).html("<td moduleId = 'Entitron'  class='checkboxCell yesCell'><i class='fa fa-check'></i></td>");
                                } else {
                                    $(nTd).html("<td moduleId = 'Entitron' class='checkboxCell noCell'><i class='fa fa-times'></i></td>");
                                }
                            }
                        },
                        {
                            "data": "Mozaic",
                            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                                if (oData.Mozaic == true) {
                                    $(nTd).html("<td moduleId = 'Mozaic'  class='checkboxCell yesCell'><i class='fa fa-check'></i></td>");
                                } else {
                                    $(nTd).html("<td moduleId = 'Mozaic' class='checkboxCell noCell'><i class='fa fa-times'></i></td>");
                                }
                            }

                        },
                        {
                            "data": "Persona",
                            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                                if (oData.Persona == true) {
                                    $(nTd).html("<td moduleId = 'Persona' class='checkboxCell yesCell'><i class='fa fa-check'></i></td>");
                                } else {
                                    $(nTd).html("<td moduleId = 'Persona' class='checkboxCell noCell'><i class='fa fa-times'></i></td>");
                                }
                            }
                        },

                       {
                           "data": "Nexus",
                           "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                               if (oData.Nexus == true) {
                                   $(nTd).html("<td moduleId = 'Nexus' class='checkboxCell yesCell'><i class='fa fa-check'></i></td>");
                               } else {
                                   $(nTd).html("<td moduleId = 'Nexus' class='checkboxCell noCell'><i class='fa fa-times'></i></td>");
                               }
                           }

                       },
                        {
                            "data": "Sentry",
                            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                                if (oData.Sentry == true) {
                                    $(nTd).html("<td moduleId = 'Sentry' class='checkboxCell yesCell'><i class='fa fa-check'></i></td>");
                                } else {
                                    $(nTd).html("<td moduleId = 'Sentry' class='checkboxCell noCell'><i class='fa fa-times'></i></td>");
                                }
                            }
                        },
                         {
                             "data": "Hermes",
                             "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                                 if (oData.Hermes == true) {
                                     $(nTd).html("<td moduleId = 'Hermes' class='checkboxCell yesCell'><i class='fa fa-check'></i></td>");
                                 } else {
                                     $(nTd).html("<td moduleId = 'Hermes' class='checkboxCell noCell'><i class='fa fa-times'></i></td>");
                                 }
                             }

                         },
                        {
                            "data": "Athena",
                            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                                if (oData.Athena == true) {
                                    $(nTd).html("<td moduleId = 'Athena' class='checkboxCell yesCell'><i class='fa fa-check'></i></td>");
                                } else {
                                    $(nTd).html("<td moduleId = 'Athena' class='checkboxCell noCell'><i class='fa fa-times'></i></td>");
                                }
                            }
                        },

                       {
                           "data": "Watchtower",
                           "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                               if (oData.Watchtower == true) {
                                   $(nTd).html("<td moduleId = 'Watchtower' class='checkboxCell yesCell'><i class='fa fa-check'></i></td>");
                               } else {
                                   $(nTd).html("<td moduleId = 'Watchtower' class='checkboxCell noCell'><i class='fa fa-times'></i></td>");
                               }
                           }

                       },
                        {
                            "data": "Cortex",
                            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                                if (oData.Cortex == true) {
                                    $(nTd).html("<td moduleId = 'Cortex' class='checkboxCell yesCell'><i class='fa fa-check'></i></td>");
                                } else {
                                    $(nTd).html("<td moduleId = 'Cortex' class='checkboxCell noCell'><i class='fa fa-times'></i></td>");
                                }
                            }
                        },
                         {
                             "data": "UserId", "autoWidth": true,
                             "fnDrawCallback": function (oSettings) {
                                 $(oSettings.nTHead).hide();
                             },
                             "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                                 $(nTd).html("<td class = 'userIds'>" + oData.UserId + "</td>").hide();
                             }
                         }
                    ]
            });
        });
</script>