@using FSS.Omnius.Modules.Entitron
@model IEnumerable<DBItem>
@{ Layout = "~/Views/EPK/_Layout.cshtml"; }
<form class="mozaicForm" method="post">
    <div id="uic364" name="uic364" class="uic form-heading" style="left: 120px; top: 135px; width: 144px; height: 40px; ">Přehled objednávek</div>
    @if (Model != null && Model.Count() > 0)
    {
        <table id="uic365" name="uic365" class="uic data-table display" style="left: 165px; top: 210px; width: 900px; height: 151px; ">
            <thead>
                <tr>
                    @foreach (string columnName in Model.First().getColumnNames())
                    {
                        <th>@columnName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (DBItem row in Model)
                {
                    <tr>
                        @foreach (string columnName in row.getColumnNames())
                        {
                            <td>@row[columnName]</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    <div id="uic366" name="uic366" class="uic breadcrumb-navigation breadcrumb-navigation" style="left: 90px; top: 45px; width: 1100px; height: 55px; ">
        <div class="app-icon fa fa-book"></div>
        <div class="nav-text">Evidence periodik &gt; Přehled objednávek</div>
    </div>
</form>
