@{ FSS.Omnius.FrontEnd.Utils.T t = new FSS.Omnius.FrontEnd.Utils.T( (string)ViewData["locale"] ); }
    <ul  id=appMenu>
@if (Context.GetLoggedUser().canUseBlock("User",118)){            <li>
                    <a href="/VozovyPark/Prehled">@(t._("Prehled"))</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("Admin",118)){            <li>
                    <a href="/VozovyPark/NoveAuto">@(t._("Nove auto"))</a>
            </li>
}    </ul>
