@{ FSS.Omnius.FrontEnd.Utils.T t = new FSS.Omnius.FrontEnd.Utils.T( (string)ViewData["locale"] ); }
    <ul  id=appMenu>
@if (Context.GetLoggedUser().canUseBlock("Admin,Guest",118)){            <li>
                    <a href="/VozovyPark/Home">@(t._("Home"))</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("Admin",118)){            <li>
                    <a href="/VozovyPark/Newcar">@(t._("NewCar"))</a>
            </li>
}    </ul>
