@{
    Page.Title = "Omnius Help";
    Page.ModuleClass = "helpModule";
    Layout = "~/Views/Shared/_OmniusUserLayout.cshtml";
}

<div id="helpContainer">
    <h1>Help</h1>
    <p>*help for all platform*</p>
    <br />

    <h2>Topic</h2>
    <ul>
        <li>
            <a href="#">User section</a>
            <ul>
                <li><a href="#">Control panel</a></li>
                <li><a href="#">Logging</a></li>
                <li><a href="#">Using application</a></li>
                <li><a href="#">Search</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Administration</a>
            <ul>
                <li><a href="#">Tapestry - Creating workflow</a></li>
                <li><a href="#">Entitron - Database designer</a></li>
                <li><a href="#">Mozaic - Visual components</a></li>
                <li><a href="#">Nexus - Intergation</a></li>
                <li><a href="#">Application profiles</a></li>
            </ul>
        </li>
    </ul>
</div>
