@{ FSS.Omnius.FrontEnd.Utils.T t = new FSS.Omnius.FrontEnd.Utils.T( (string)ViewData["locale"] ); }
    <ul  id=appMenu>
@if (Context.GetLoggedUser().canUseBlock("User",85)){            <li>
                    <a href="/HodorovaTestovaciAplikace/HlavniStranka">@(t._("Hlavní stránka"))</a>
            </li>
}    </ul>
