@{ Layout = "~/Views/Shared/_OmniusUserAppLayout.cshtml"; }@{ Dictionary<string, string> formState = (Dictionary<string, string>)ViewData["formState"]; }<div class="mozaicBootstrapPage"><div class="container"><div class="panel-group" id="accordio-1">
@{ if(ViewData.ContainsKey("DataDate_item")) {
        foreach(var row in (IEnumerable<FSS.Omnius.Modules.Entitron.DB.DBItem>)ViewData["DataDate_item"]) {
            <div class="">
                <div class="panel panel-default" ><div class="panel-heading"><h3 class="panel-title"><a href="#accordion-1 .item-1" target="" data-toggle="collapse" data-parent="#accordion-1" class="" aria-expanded="true" id="income_amount">@(row["day"].ToString())</a><div class="col-xs-12 col-sm-3"><span class="" id="income_amount">@(row["costs"].ToString())</span></div><div class="col-xs-12 col-sm-3"><span class="" id="income_amount">@(row["km"].ToString())</span></div><div class="col-xs-12 col-sm-3"><span class="" id="income_amount">@(row["phm"].ToString())</span></div></h3></div><div class="panel-collapse item-1 collapse in" aria-expanded="true" style=""><div class="panel-body empty-element mbe-active" data-uic="containers|panel-body" locked=""></div></div></div>   
            </div>
        }
    }
}</div></div></div>