@{
    ViewBag.Title = ViewData["exception"];
    Layout = "~/Views/Shared/_OmniusUserLayout.cshtml";
}
<link href="/Content/css/ErrorCss.css" rel="stylesheet" />

<div id="appNotificationArea"></div>
@Scripts.Render("~/bundles/OmniusScripts")
<script>
    @if (ViewData["exception"] != null)
    {
        @Html.Raw("ShowAppNotification(" + Json.Encode(ViewData["exception"]) + ", 'error');");
    }
    else
    {
        @Html.Raw("ShowAppNotification('Nastala neznámá chyba', 'error')");
    }
</script>