@{ FSS.Omnius.FrontEnd.Utils.T t = new FSS.Omnius.FrontEnd.Utils.T( (string)ViewData["locale"] ); }
    <ul  id=appMenu>
@if (Context.GetLoggedUser().canUseBlock("User",111)){            <li>
                    <a href="/PetrovaAplikace/Main">@(t._("Main"))</a>
            </li>
}    </ul>
