@{ FSS.Omnius.FrontEnd.Utils.T t = new FSS.Omnius.FrontEnd.Utils.T( (string)ViewData["locale"] ); }
    <ul  id=appMenu>
@if (Context.GetLoggedUser().canUseBlock("User",97)){            <li>
                    <h4>@(t._("Kartoteka"))</h4>

    <ul >
@if (Context.GetLoggedUser().canUseBlock("User",97)){            <li>
                    <a href="/TestJanFlorian/Prehled">@(t._("Prehled"))</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("User",97)){            <li>
                    <a href="/TestJanFlorian/Novy">@(t._("Novy"))</a>
            </li>
}    </ul>
            </li>
}    </ul>
