@{ FSS.Omnius.FrontEnd.Utils.T t = new FSS.Omnius.FrontEnd.Utils.T( (string)ViewData["locale"] ); }
    <ul  id=appMenu>
@if (Context.GetLoggedUser().canUseBlock("user",108)){            <li>
                    <a href="/Ariadne/Stream">@(t._("Stream"))</a>
            </li>
}    </ul>
