@{ FSS.Omnius.FrontEnd.Utils.T t = new FSS.Omnius.FrontEnd.Utils.T( (string)ViewData["locale"] ); }
    <ul  id=appMenu>
@if (Context.GetLoggedUser().canUseBlock("Admin",117)){            <li>
                    <a href="/Xmu/Overview">@(t._("Overview"))</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("User",117)){            <li>
                    <a href="/Xmu/Overviewpairconfig">@(t._("OverviewPairConfig"))</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("User",117)){            <li>
                    <a href="/Xmu/Balanceconfig">@(t._("balanceConfig"))</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("Admin",117)){            <li>
                    <a href="/Xmu/Atsrobot">@(t._("AtsRobot"))</a>
            </li>
}    </ul>
