@{
    Layout = "~/Views/Shared/_PartialViewAjaxLayout.cshtml";
}
<div id="nexusUpperPanel">
    <div class="panelLabel">Hermes</div>
    <svg class="backgroundDecoration" width="540px" height="565px">
        <path d="M31 0 L31 28 L65 62 L376 62" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 357 L31 108 L65 74 L376 74" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 47 L52 68 L31 89 L10 68 Z" stroke="#49c4f1" stroke-width="1" fill="none" />
    </svg>
    <img class="decorationWatcheye" src="~/Content/images/watcheye_small.png" />
    <div id="nexusMenuArea">
        <div id="hermesMenuSMTP" class="nexusMenuItem">
            <div class="buttonLabel">SMTP Servery</div>
            <div class="fa fa-server"></div>
            <div class="itemCount">@ViewData["SMTPServersCount"]</div>
        </div>
    </div>
    <div id="hideNexusPanelIcon" class="fa fa-caret-up"></div>
</div>
<div id="minimizedNexusUpperPanel">
    <div class="panelLabel">Hermes</div>
    <div id="showNexusPanelIcon" class="fa fa-caret-down"></div>
</div>
