#overviewPanel {
    position: absolute;
    background-color: #c0c0c0;
    border: 1px solid #467ea8;
    width: 90%;
    min-height: 820px;
    margin: 40px 20px;
}
.block {
    position: absolute;
    width: 160px;
    height: 86px;
    background-color: #467ea8;
    color: white;
    border: none;
    font-size: 16px;
}
.block .blockName {
    position: absolute;
    top: 15px;
    text-align: center;
    width: 100%;
    font-weight: bold;
}
.block .tableName {
    position: absolute;
    top: 50px;
    text-align: center;
    width: 100%;
    color: #f1a57a;
    font-weight: bold;
}
.block {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
#btnAddBlock {
    position: absolute;
    right: 10px;
    top: 10px;
}
#moduleSwitcher {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 32px;
    z-index: 200;
    color: white;
    background-color: #467ea8;
    border: none;
}
.ui-dialog {
    padding: 0px 0px;
    border: 1px solid black;
    border-radius: 4px;
}
.ui-widget-header {
    background-image: none;
    background-color: #2d74b2;
    color: white;
}
.ui-dialog .ui-dialog-buttonpane {
    padding: 3px;
}
.ui-dialog .ui-dialog-buttonset button {
    margin: 3px;
}
.ui-dialog-titlebar-close {
    background: url("/Content/Style/base/images/ui-icons_888888_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
    border: medium none;
}
.ui-dialog-titlebar-close:hover {
    background: url("/Content/Style/base/images/ui-icons_222222_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
}
.ui-dialog-content .formTable label {
    margin-bottom: 0px;
}
.ui-dialog-content .formTable tr {
    height: 32px;
}
.ui-dialog-content .formTable td {
    vertical-align: middle;
}
.ui-dialog-content .formTable tr td:first-child {
    width: 150px;
}
.btn-tapestry {
    background-color: #49c3f1;
    color: black;
}
.btn-tapestry:hover {
    background-color: #2ddef9;
    color: black;
}
body {
    background-color: #455d73;
}
