@font-face {
  font-family: "FatTec";
  src: url(../fonts/Fat-TecA07.otf) format("opentype");
}
@font-face {
  font-family: "MyriadPro";
  src: url(../fonts/MYRIADPRO-REGULAR.OTF) format("opentype");
}

#leftBar {
    position: fixed;
    top: 75px;
    bottom: 0px;
    width: 225px;
    background-color: #455d73;
}
.leftMenu {
    padding-left: 0px;
}
.leftMenu li {
    display: block;
    width: 100%;
    height: 50px;
    background-color: #455d73;
    color: white;
    padding-top: 12px;
    text-align: left;
    font-size: 18px;
    font-family: MyriadPro;
    padding-left: 25px;
}
.leftMenu li a, .leftMenu li a:hover {
    color: white;
}
.leftMenu li.active {
    padding-left: 18px;
    border-left: 7px solid #21a7b5;
    background-color: #446782;
}
.leftMenu li.expanded {
    padding-left: 18px;
    border-left: 7px solid #59c9e7;
    background-color: #446782;
}
.leftMenu li.subMenu {
    background-color: #457fa9;
}
#topBar {
    position: fixed;
    left: 0px;
    right: 0px;
    height: 75px;
    background-color: #457fa9;
}
#topBar .searchField {
    position: absolute;
    top: 0px;
    right: 312px;
    width: 755px;
    height: 75px;
    background-color: #f2f2f3;
}
#topBar .searchField .searchIcon {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 10;
}
#topBar .searchField .searchInput {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-size: 32px;
    background-color: #f2f2f3;
    padding-left: 75px;
}
#topBar .userLabel {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 312px;
    height: 75px;
    background-color: #457fa9;
}
#topBar .fa-caret-down {
    position: absolute;
    left: 255px;
    top: 18px;
    color: white;
    font-size: 36px;
}
#omniusLogo {
    width: 225px;
    height: 75px;
}
#centralAdminPanel {
    position: absolute;
    left: 225px;
    top: 75px;
    right: 0px;
    height: 357px;
    background: url(images/AdminBackgroundUpper.png) no-repeat #3a3a3a;
}
#centralAdminPanel .panelLabel {
    position: absolute;
    left: 52px;
    top: 24px;
    font-size: 18px;
    font-family: FatTec;
    color: white;
}
#centralAdminPanel .indicatorRectangle {
    width: 308px;
    height: 147px;
}
#centralAdminPanel .indicatorBar {
    width: 232px;
    height: 38px;
    font-family: MyriadPro;
    color: white;
}
#centralAdminPanel .indicatorBar .fa {
    position: absolute;
    font-size: 17px;
    left: 10px;
    top: 10px;
}
#centralAdminPanel .indicatorBar .message {
    position: absolute;
    font-size: 15px;
    left: 26px;
    top: 8px;

}
#centralAdminPanel .indicatorBar.error {
    background-color: #dd5660;
}
#centralAdminPanel .indicatorBar.warning {
    background-color: #f3a67b;
}
#centralAdminPanel .indicatorBar.info {
    background-color: #21a7b5;
}
#errorSample {
    position: absolute;
    left: 394px;
    top: 110px;
}
#warningSample {
    position: absolute;
    left: 394px;
    top: 164px;
}
#infoSample {
    position: absolute;
    left: 394px;
    top: 218px;
}
#usersOnlineIndicator {
    position: absolute;
    left: 70px;
    top: 110px;
    background-color: #21a7b5;
}
#usersOnlineIndicator .bigNumber {
    position: absolute;
    left: 20px;
    top: -10px;
    color: white;
    font-size: 110px;
    font-family: MyriadPro;
}
#usersOnlineIndicator .indicatorLabel {
    position: absolute;
    left: 150px;
    top: 30px;
    color: white;
    font-size: 22px;
    font-family: MyriadPro;
}
#activeProfileIndicator {
    position: absolute;
    left: 640px;
    top: 110px;
    background-color: #21a7b5;
}
#activeProfileIndicator .bigTextLine {
    position: absolute;
    left: 20px;
    top: 10px;
    color: white;
    font-size: 52px;
    font-family: MyriadPro;
}
#activeProfileIndicator .indicatorLabel {
    position: absolute;
    left: 150px;
    top: 85px;
    color: white;
    font-size: 22px;
    font-family: MyriadPro;
}
#maintenanceIndicator .bigTextLine {
    position: absolute;
    left: 20px;
    top: 10px;
    color: white;
    font-size: 52px;
    font-family: MyriadPro;
}
#maintenanceIndicator .indicatorLabel {
    position: absolute;
    left: 20px;
    top: 85px;
    color: white;
    font-size: 22px;
    font-family: MyriadPro;
}
#activeModulesIndicator {
    position: absolute;
    left: 970px;
    top: 110px;
    background-color: #f68d4d;
}
#activeModulesIndicator .bigNumber {
    position: absolute;
    left: 20px;
    top: -10px;
    color: white;
    font-size: 110px;
    font-family: MyriadPro;
}
#activeModulesIndicator .indicatorLabel {
    position: absolute;
    left: 150px;
    top: 30px;
    color: white;
    font-size: 22px;
    font-family: MyriadPro;
}
#maintenanceIndicator {
    position: absolute;
    left: 1300px;
    top: 110px;
    background-color: #f48b99;
}
#moduleAdminPanel {
    position: absolute;
    left: 225px;
    top: 432px;
    width: 1200px;
    height: 357px;
    background: url(images/AdminBackgroundLower.png) no-repeat #f2f2f3;
}

#moduleAdminPanel .panelLabel {
    position: absolute;
    left: 52px;
    top: 24px;
    font-size: 18px;
    font-family: FatTec;
    color: #3e3e3e;
}
#moduleAdminPanel .moduleArea {
    vertical-align: top;
    margin-left: 66px;
    margin-top: 108px;
}
#moduleAdminPanel .moduleSquare {
    display: inline-block;
    width: 160px;
    height: 160px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 10px solid #f2f2f3;
    background-repeat: no-repeat;
}
#moduleAdminPanel .moduleSquare.selectedSquare {
    border: 10px solid #f68d4d;
}
#moduleConfigPanel {
    position: absolute;
    top: 432px;
    right: 0px;
    width: 755px;
    height: 357px;
    background: url(images/ModuleConfigBackground.png) no-repeat;
    background-position: top right;
}
#moduleConfigPanel .panelLabel {
    position: absolute;
    right: 56px;
    top: 24px;
    font-size: 18px;
    font-family: FatTec;
    color: #3e3e3e;
}
#moduleConfigPanel .currentModuleIcon {
    position: absolute;
    left: 265px;
    top: 110px;
    width: 105px;
    height: 105px;
    background-repeat: no-repeat;
    background-size: 105px;
}
#moduleConfigPanel .currentModuleName {
    position: absolute;
    left: 400px;
    top: 110px;
    color: #3a3a3a;
    font-family: FatTec;
}
#moduleConfigPanel .currentModuleDescription {
    position: absolute;
    left: 400px;
    top: 140px;
    color: #3a3a3a;
    font-size: 18px;
    font-family: MyriadPro;
}
#moduleConfigPanel .currentModuleLastChange {
    position: absolute;
    left: 400px;
    top: 175px;
    color: #3a3a3a;
    font-size: 18px;
    font-family: MyriadPro;
}
#moduleConfigPanel .moduleConfigTable {
    position: absolute;
    left: 265px;
    top: 240px;
    width: 410px;
    table-layout: fixed;    
    font-size: 18px;
    font-family: MyriadPro;
    border-collapse:collapse;
    border: 1px solid #727273;
}
#moduleConfigPanel .moduleConfigTable tr {
    height: 30px;
}
#moduleConfigPanel .moduleConfigTable td {
    padding-left: 16px;
    border: 1px solid #727273;
}
#moduleConfigPanel .moduleConfigTable tr.headerRow {
    background-color: #aaabab;
    color: white;
}
#moduleConfigPanel .moduleConfigTable td.inactive {
    background-color: #dd5660;
    color: white;
}
#moduleConfigPanel .moduleConfigTable td .fa {
    float: right;
    font-size: 24px;
    margin-right: 10px;
}
#omniusLogo {
    width: 225px;
    height: 75px;
    background-image: url(images/OmniusLogo.png)
}
.userLabel .name {
    position: absolute;
    left: 100px;
    top: 15px;
    color: white;
    font-size: 22px;
    font-family: MyriadPro;
}
.userLabel .role {
    position: absolute;
    left: 100px;
    top: 42px;
    color: #59c9e7;
    font-size: 13px;
    font-family: MyriadPro;
}
.userLabel .avatar {
    position: absolute;
    left: 25px;
    top: 8px;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
}
#leftBar, #topBar, #centralAdminPanel, #moduleAdminPanel, #moduleConfigPanel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
body {
    background-color: #f2f2f3;
    zoom: 90%;
}
