@{
    Layout = "~/Views/Shared/_PartialViewAjaxLayout.cshtml";
}
<div id="activeProfilePanel">
    <div class="panelLabel">Active profile</div>
    <div class="placeholderPanel">
        *profile info*
    </div>
</div>