@{
    Layout = "~/Views/Shared/_PartialViewAjaxLayout.cshtml";
}
<div id="moduleAdminPanel">
    <div class="panelLabel">Module management</div>
    <div class="moduleArea">
            <div class="moduleSquare" moduleName="cortex" style="background-image: url(/Content/Images/ModuleIcons/cortex.png)"></div>
            <div class="moduleSquare" moduleName="hermes" style="background-image: url(/Content/Images/ModuleIcons/hermes.png)"></div>
            <div class="moduleSquare" moduleName="persona" style="background-image: url(/Content/Images/ModuleIcons/persona.png)"></div>
            <div class="moduleSquare" moduleName="sentry" style="background-image: url(/Content/Images/ModuleIcons/sentry.png)"></div>
            <div class="moduleSquare" moduleName="nexus" style="background-image: url(/Content/Images/ModuleIcons/nexus.png)"></div>
            <div class="moduleSquare selectedSquare" moduleName="athena" style="background-image: url(/Content/Images/ModuleIcons/athena.png)"></div>
            <div class="moduleSquare" moduleName="watchtower" style="background-image: url(/Content/Images/ModuleIcons/watchtower.png)"></div>
            <div class="moduleSquare" moduleName="core" style="background-image: url(/Content/Images/ModuleIcons/core.png)"></div>
            <div class="moduleSquare" moduleName="entitron" style="background-image: url(/Content/Images/ModuleIcons/entitron.png)"></div>
            <div class="moduleSquare" moduleName="tapestry" style="background-image: url(/Content/Images/ModuleIcons/tapestry.png)"></div>
            <div class="moduleSquare" moduleName="mozaic" style="background-image: url(/Content/Images/ModuleIcons/mozaic.png)"></div>
            <div class="moduleSquare" moduleName="master" style="background-image: url(/Content/Images/ModuleIcons/master.png)"></div>
    </div>
</div>
<div id="moduleConfigPanel">
    <div class="panelLabel">Module configuration</div>
    <div class="currentModuleIcon" style="background-image: url(/Content/Images/ModuleIcons/athena.png)"></div>
    <div class="currentModuleName">Athena</div>
    <div class="currentModuleDescription">Analytic module</div>
    <div class="currentModuleLastChange"><b>Last change:</b> 17.4.1615</div>
</div>