@{
    Layout = "~/Views/Shared/_PartialViewAjaxLayout.cshtml";
}
<div id="usersOnlinePanel">
    <div class="panelLabel">Logged users</div>
    <div class="placeholderPanel">
        *table of users*
    </div>
</div>