@font-face {
  font-family: "RweHeadlineRegular";
  src: url(/Content/fonts/rweheadline-regularcondens-webfont.ttf) format("truetype"); }

@font-face {
  font-family: "RweTextMedium";
  src: url(/Content/fonts/rwetext-medium-webfont.ttf) format("truetype"); }

body.appManagerModule {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white; }
  body.appManagerModule .appColor0 {
    background: -webkit-linear-gradient(top, #0086be, #0065a9);
    background: -o-linear-gradient(bottom, #0086be, #0065a9);
    background: -moz-linear-gradient(bottom, #0086be, #0065a9);
    background: linear-gradient(to bottom, #0086be, #0065a9);
    color: white; }
  body.appManagerModule .appColor0 .highlight {
    color: #ffdf00; }
  body.appManagerModule .appColor1 {
    background: -webkit-linear-gradient(top, #87ba15, #019a32);
    background: -o-linear-gradient(bottom, #87ba15, #019a32);
    background: -moz-linear-gradient(bottom, #87ba15, #019a32);
    background: linear-gradient(to bottom, #87ba15, #019a32);
    color: white; }
  body.appManagerModule .appColor1 .highlight {
    color: #ffdf00; }
  body.appManagerModule .appColor2 {
    background: -webkit-linear-gradient(top, #c3dc89, #8aba18);
    background: -o-linear-gradient(bottom, #c3dc89, #8aba18);
    background: -moz-linear-gradient(bottom, #c3dc89, #8aba18);
    background: linear-gradient(to bottom, #c3dc89, #8aba18);
    color: white; }
  body.appManagerModule .appPanel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    position: absolute;
    width: auto;
    height: auto;
    font-family: RweTextMedium;
    padding: 12px 12px;
    border-radius: 4px;
    font-size: 11px; }
    body.appManagerModule .appPanel .appPanelHeader {
      height: 36px; }
    body.appManagerModule .appPanel .smallFont {
      font-size: 11px; }
    body.appManagerModule .appPanel .mediumFont {
      font-size: 16px; }
    body.appManagerModule .appPanel .largeFont {
      font-size: 22px; }
    body.appManagerModule .appPanel hr {
      margin-top: 5px;
      margin-bottom: 5px; }
    body.appManagerModule .appPanel .highlight {
      font-weight: bold; }
    body.appManagerModule .appPanel .appTitle {
      font-family: RweHeadlineRegular;
      text-transform: uppercase;
      font-size: 20px;
      margin-bottom: 10px;
      white-space: nowrap; }
    body.appManagerModule .appPanel .appIcon {
      float: left;
      font-weight: 100;
      margin-right: 7px;
      margin-bottom: 0px;
      text-align: center;
      vertical-align: middle;
      width: 30px;
      height: 30px;
      border: 2px solid white;
      border-radius: 50%;
      font-size: 19px; }
  body.appManagerModule .ui-draggable-dragging {
    z-index: 200; }
  body.appManagerModule #moduleSwitcher {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 32px;
    z-index: 200;
    color: white;
    background-color: #4d41e7; }

#topBar {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  position: absolute;
  left: 0px;
  right: 0px;
  height: 75px;
  background-color: #457fa9;
  z-index: 30; }
  #topBar #omniusLogo {
    width: 225px;
    height: 75px;
    background-image: url(/Content/images/OmniusLogo.png); }
  #topBar .searchField {
    position: absolute;
    top: 0px;
    right: 312px;
    width: 755px;
    height: 75px;
    background-color: #f2f2f3; }
    #topBar .searchField .searchIcon {
      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 50; }
    #topBar .searchField .searchInput {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      font-size: 32px;
      background-color: #f2f2f3;
      padding-left: 75px;
      z-index: 40; }
  #topBar .userLabel {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 312px;
    height: 75px;
    background-color: #457fa9; }
    #topBar .userLabel .name {
      position: absolute;
      left: 100px;
      top: 15px;
      color: white;
      font-size: 22px;
      font-family: MyriadPro; }
    #topBar .userLabel .role {
      position: absolute;
      left: 100px;
      top: 42px;
      color: #59c9e7;
      font-size: 13px;
      font-family: MyriadPro; }
    #topBar .userLabel .avatar {
      position: absolute;
      left: 25px;
      top: 8px;
      width: 60px;
      height: 60px;
      background-color: white;
      border-radius: 50%; }
  #topBar .fa-caret-down {
    position: absolute;
    left: 255px;
    top: 18px;
    color: white;
    font-size: 36px; }

#leftBarArea {
  position: fixed;
  top: 75px;
  width: 225px;
  bottom: 0px;
  background-color: #455d73;
  z-index: -10; }

#leftBar {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  position: absolute;
  left: 0px;
  top: 75px;
  width: 225px;
  background-color: #455d73; }
  #leftBar .leftMenu {
    padding-left: 0px; }
    #leftBar .leftMenu li {
      display: block;
      width: 100%;
      height: 50px;
      background-color: #455d73;
      color: white;
      padding-top: 12px;
      text-align: left;
      font-size: 18px;
      font-family: MyriadPro;
      padding-left: 25px; }
    #leftBar .leftMenu li a, #leftBar .leftMenu li a:hover {
      color: white; }
    #leftBar .leftMenu li.active {
      padding-left: 18px;
      border-left: 7px solid #21a7b5;
      background-color: #446782; }
    #leftBar .leftMenu li.expanded {
      padding-left: 18px;
      border-left: 7px solid #59c9e7;
      background-color: #446782; }
    #leftBar .leftMenu li.subMenu {
      background-color: #457fa9; }

@media only screen and (max-width: 1600px) {
  .searchField {
    left: 520px !important;
    right: 312px !important;
    width: auto !important; } }

body.tapestryModule {
  background-color: #404040; }
  body.tapestryModule .blockPanel {
    position: absolute;
    left: 225px;
    top: 75px;
    right: 0px;
    bottom: 0px;
    background-color: #455d73;
    border-left: 4px solid #3a3a3a;
    border-top: 4px solid #3a3a3a; }
  body.tapestryModule #attributesPanel {
    position: absolute;
    left: 0px;
    width: 876px;
    margin: 20px;
    padding: 5px 10px;
    font-size: 1.5em; }
  body.tapestryModule #rulesPanel {
    position: absolute;
    left: 0px;
    top: 170px;
    right: 270px;
    bottom: 140px;
    margin: 20px;
    padding: 5px 10px;
    font-size: 1.5em;
    overflow: scroll; }
  body.tapestryModule #viewsPanel {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 876px;
    margin: 20px;
    padding: 5px 10px;
    font-size: 1.5em;
    height: 110px; }
  body.tapestryModule #actionsPanel {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 560px;
    width: 240px;
    margin: 20px;
    padding: 5px 10px;
    font-size: 1.5em; }
  body.tapestryModule #operatorsPanel {
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 598px;
    width: 240px;
    margin: 20px;
    padding: 5px 10px;
    font-size: 1.5em; }
  body.tapestryModule #operatorsPanel .operator {
    background-color: #4f88bb;
    border: 1px solid #41719c;
    color: white; }
  body.tapestryModule #rolesPanel {
    position: absolute;
    right: 270px;
    left: 906px;
    top: 40px;
    margin: 20px;
    padding: 5px 10px;
    font-size: 1.5em; }
  body.tapestryModule #statesPanel {
    position: absolute;
    bottom: 0px;
    left: 906px;
    width: 240px;
    height: 110px;
    margin: 20px;
    padding: 5px 10px;
    font-size: 1.5em; }
  body.tapestryModule #portsPanel {
    position: absolute;
    bottom: 0px;
    right: 270px;
    left: 1176px;
    height: 110px;
    margin: 20px;
    padding: 5px 10px;
    font-size: 1.5em; }
  body.tapestryModule .menuPanel .menuItem {
    margin: 8px 3px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size: 0.8em;
    white-space: nowrap;
    z-index: 10; }
  body.tapestryModule .header {
    width: 740px;
    background-color: #49c3f1;
    color: black;
    font-size: 1.5em;
    height: 40px; }
  body.tapestryModule .headerItem {
    width: 180px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    height: 40px;
    padding-top: 5px; }
  body.tapestryModule #headerBlockName {
    border-right: 3px solid #467ea8;
    position: absolute;
    width: 250px; }
  body.tapestryModule #headerTableName {
    border-right: 3px solid #467ea8;
    position: absolute;
    left: 250px;
    width: 190px; }
  body.tapestryModule #headerOverview {
    position: absolute;
    left: 440px;
    width: 300px; }
  body.tapestryModule .headerItem:hover {
    background-color: #2ddef9;
    cursor: pointer; }
  body.tapestryModule #btnAddRule {
    position: fixed;
    right: 340px;
    top: 300px;
    padding: 3px 10px;
    font-size: 0.8em;
    z-index: 2000; }
  body.tapestryModule #btnAddActions {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 3px 10px;
    font-size: 0.8em; }
  body.tapestryModule .item, body.tapestryModule .menuPanel, body.tapestryModule #rulesPanel, body.tapestryModule .header, body.tapestryModule ._jsPlumb_overlay, body.tapestryModule .ui-dialog-content table {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default; }
  body.tapestryModule .item {
    position: absolute;
    margin: -1px;
    padding: 5px; }
  body.tapestryModule .sourceEndpoint {
    margin-left: 4px; }
  body.tapestryModule .ui-dialog {
    padding: 0px 0px;
    border: 1px solid black;
    border-radius: 4px; }
  body.tapestryModule .ui-widget-header {
    background-image: none;
    background-color: #2d74b2;
    color: white; }
  body.tapestryModule .ui-dialog .ui-dialog-buttonpane {
    padding: 3px; }
  body.tapestryModule .ui-dialog .ui-dialog-buttonset button {
    margin: 3px; }
  body.tapestryModule .sourceEndpoint._jsPlumb_dragging, body.tapestryModule .sourceEndpoint.jsplumb-drag {
    visibility: hidden !important; }
  body.tapestryModule .sourceEndpoint.jsplumb-drag-active {
    visibility: visible !important; }
  body.tapestryModule #upperVerticalDivider {
    position: absolute;
    left: 900px;
    top: 60px;
    width: 23px;
    height: 90px;
    cursor: ew-resize; }
  body.tapestryModule #lowerLeftVerticalDivider {
    position: absolute;
    left: 900px;
    bottom: 20px;
    width: 23px;
    height: 110px;
    cursor: ew-resize; }
  body.tapestryModule #lowerRightVerticalDivider {
    position: absolute;
    left: 1170px;
    bottom: 20px;
    width: 23px;
    height: 110px;
    cursor: ew-resize; }
  body.tapestryModule #rightHorizontalDivider {
    position: absolute;
    top: 587px;
    right: 20px;
    width: 240px;
    height: 23px;
    cursor: ns-resize; }
  body.tapestryModule .verticalDividerBar {
    background-color: #467ea8;
    width: 3px;
    height: 100%;
    margin: 0px 10px; }
  body.tapestryModule .horizontalDividerBar {
    background-color: #467ea8;
    height: 3px;
    width: 100%;
    margin: 10px 0px; }
  body.tapestryModule .highlightedRow {
    background-color: #49c3f1 !important;
    color: white !important; }
  body.tapestryModule .contextMenu {
    height: 100%;
    width: auto;
    padding: 5px;
    background-color: #bf9000;
    color: black;
    display: inline-block; }
  body.tapestryModule .itemLabel {
    display: inline-block;
    padding: 5px; }
  body.tapestryModule #moduleSwitcher {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 32px;
    z-index: 200;
    color: white;
    background-color: #455d73;
    border: none; }
  body.tapestryModule .operatorSymbol {
    position: absolute !important;
    width: 70px;
    height: 60px;
    margin-top: -22px;
    margin-left: -7px; }
  body.tapestryModule .endpointSourceLabel {
    color: #41719c;
    font-size: 12px;
    font-weight: bold;
    background-color: #c0c0c0;
    z-index: 100;
    padding: 1px 5px; }
  body.tapestryModule #btnAddCondition {
    margin-top: 10px; }
  body.tapestryModule #edit-condition-dialog {
    width: auto !important; }
  body.tapestryModule .logicTable {
    width: 660px; }
    body.tapestryModule .logicTable tr {
      width: 100%;
      height: 40px; }
    body.tapestryModule .logicTable tr td {
      padding: 10px 5px; }
    body.tapestryModule .logicTable .btnRemoveCondition {
      float: right;
      color: black; }
    body.tapestryModule .logicTable .selectField {
      width: 230px; }
  body.tapestryModule .rule {
    position: absolute;
    padding: 20px;
    width: 500px;
    min-width: 120px;
    min-height: 60px;
    background-color: #c0c0c0;
    border: 1px solid #467ea8;
    box-sizing: initial; }
    body.tapestryModule .rule .ruleHeader {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      height: 30px;
      padding-left: 38px;
      padding-top: 2px;
      background-color: #455d73;
      color: white;
      font-size: 20px; }
    body.tapestryModule .rule .editRuleIcon {
      position: absolute;
      left: 8px;
      top: 8px;
      font-size: 18px;
      color: #49c3f1;
      z-index: 100; }
    body.tapestryModule .rule .editRuleIcon:hover {
      color: white; }
    body.tapestryModule .rule .deleteRuleIcon {
      position: absolute;
      right: 6px;
      top: 5px;
      font-size: 19px;
      color: #f06771;
      z-index: 100; }
    body.tapestryModule .rule .deleteRuleIcon:hover {
      color: #f88b98; }
    body.tapestryModule .rule .ruleContent {
      position: absolute;
      top: 30px;
      left: 0px;
      right: 0px;
      bottom: 0px; }
      body.tapestryModule .rule .ruleContent .item {
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        font-size: 0.8em;
        white-space: nowrap; }
  body.tapestryModule .rule.ui-draggable-dragging {
    z-index: 1000; }
  body.tapestryModule #rulesPanel {
    background-color: #467ea8 !important;
    color: black !important;
    border: none !important; }
  body.tapestryModule .scrollArea {
    position: absolute;
    left: 0px;
    top: 0px;
    transform-origin: 0px 0px;
    min-width: 4500px;
    min-height: 2500px; }
  body.tapestryModule .item, body.tapestryModule .menuItem {
    background-color: #467ea8;
    color: white; }
  body.tapestryModule .item .fa {
    color: #f1a57a; }
  body.tapestryModule .menuPanel {
    background-color: #c0c0c0;
    color: #455d73;
    border: none; }
  body.tapestryModule .btn-tapestry {
    background-color: #49c3f1;
    color: black; }
  body.tapestryModule .btn-tapestry:hover {
    background-color: #2ddef9;
    color: black; }
  body.tapestryModule #zoomPanel {
    position: fixed;
    right: 345px;
    bottom: 215px;
    text-align: center;
    z-index: 2000; }
    body.tapestryModule #zoomPanel button {
      font-size: 12px;
      background-color: #49c3f1;
      color: black;
      border: none; }
    body.tapestryModule #zoomPanel button:hover {
      background-color: #2ddef9; }
    body.tapestryModule #zoomPanel #zoomLabel {
      font-size: 20px;
      color: black;
      margin-bottom: -2px; }

body.overviewModule {
  background-color: #455d73; }
  body.overviewModule #overviewPanel {
    position: absolute;
    background-color: #c0c0c0;
    border: 1px solid #467ea8;
    left: 225px;
    top: 75px;
    right: 0px;
    bottom: 0px;
    border-left: 4px solid #3a3a3a;
    border-top: 4px solid #3a3a3a; }
    body.overviewModule #overviewPanel .block {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: default;
      position: absolute;
      width: 160px;
      height: 86px;
      background-color: #467ea8;
      color: white;
      border: none;
      font-size: 16px; }
      body.overviewModule #overviewPanel .block .blockName {
        position: absolute;
        top: 15px;
        text-align: center;
        width: 100%;
        font-weight: bold; }
      body.overviewModule #overviewPanel .block .tableName {
        position: absolute;
        top: 50px;
        text-align: center;
        width: 100%;
        color: #f1a57a;
        font-weight: bold; }
  body.overviewModule #btnAddBlock {
    position: absolute;
    right: 10px;
    top: 10px; }
  body.overviewModule #moduleSwitcher {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 32px;
    z-index: 200;
    color: white;
    background-color: #467ea8;
    border: none; }
  body.overviewModule .ui-dialog {
    padding: 0px 0px;
    border: 1px solid black;
    border-radius: 4px; }
  body.overviewModule .ui-widget-header {
    background-image: none;
    background-color: #2d74b2;
    color: white; }
  body.overviewModule .ui-dialog .ui-dialog-buttonpane {
    padding: 3px; }
  body.overviewModule .ui-dialog .ui-dialog-buttonset button {
    margin: 3px; }
  body.overviewModule .ui-dialog-content .formTable label {
    margin-bottom: 0px; }
  body.overviewModule .ui-dialog-content .formTable tr {
    height: 32px; }
  body.overviewModule .ui-dialog-content .formTable td {
    vertical-align: middle; }
  body.overviewModule .ui-dialog-content .formTable tr td:first-child {
    width: 150px; }
  body.overviewModule .btn-tapestry {
    background-color: #49c3f1;
    color: black; }
  body.overviewModule .btn-tapestry:hover {
    background-color: #2ddef9;
    color: black; }

body.dbDesignerModule {
  background-color: #e0e0e0;
  overflow: hidden; }
  body.dbDesignerModule .dbTable {
    position: absolute;
    width: 220px;
    border: 1px solid #45525e;
    border-radius: 4px; }
  body.dbDesignerModule .dbTableHeader {
    background-color: #45525e;
    color: white;
    width: 218px;
    height: 30px;
    padding-top: 3px;
    text-align: center; }
  body.dbDesignerModule .dbTableName {
    position: absolute;
    left: 50px;
    right: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em; }
  body.dbDesignerModule .dbColumn {
    position: relative;
    text-align: left;
    height: 30px;
    background-color: lightblue;
    padding-top: 3px; }
  body.dbDesignerModule .idColumn {
    padding-left: 27px; }
  body.dbDesignerModule .dbColumnName {
    color: black;
    font-weight: normal;
    font-size: 1.2em;
    width: 165px; }
  body.dbDesignerModule .dbPrimaryKey {
    background-color: #3bb8e1; }
  body.dbDesignerModule .dbIndex {
    height: 30px;
    padding-top: 3px;
    background-color: lightyellow;
    color: black;
    font-style: italic;
    border-top: 1px solid black; }
  body.dbDesignerModule .dbIndexText {
    position: relative;
    top: 3px;
    width: 165px; }
  body.dbDesignerModule .dbView {
    position: absolute;
    width: 220px;
    border: 1px solid #455a51;
    border-radius: 4px; }
  body.dbDesignerModule .dbViewHeader {
    background-color: #455a51;
    color: #e5ffec;
    width: 218px;
    height: 30px;
    padding-top: 3px;
    text-align: center; }
  body.dbDesignerModule .dbViewName {
    position: absolute;
    left: 20px;
    right: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em; }
  body.dbDesignerModule .deleteViewIcon {
    float: left;
    padding-top: 6px;
    padding-left: 6px;
    color: #ff9090; }
  body.dbDesignerModule .editViewIcon {
    float: right;
    padding-top: 6px;
    padding-right: 6px; }
  body.dbDesignerModule .deleteTableIcon {
    float: left;
    padding-top: 6px;
    padding-left: 6px;
    color: #ff9090; }
  body.dbDesignerModule .addColumnIcon {
    position: absolute;
    top: 6px;
    right: 6px; }
  body.dbDesignerModule .editTableIcon {
    position: absolute;
    top: 6px;
    right: 30px; }
  body.dbDesignerModule .editColumnIcon {
    float: right;
    padding-top: 6px;
    padding-right: 6px; }
  body.dbDesignerModule .deleteColumnIcon {
    float: left;
    padding-top: 6px;
    padding-left: 6px;
    margin-right: 10px; }
  body.dbDesignerModule .deleteIndexIcon {
    float: left;
    padding-top: 6px;
    padding-left: 6px;
    margin-right: 10px; }
  body.dbDesignerModule .editIndexIcon {
    float: right;
    padding-top: 6px;
    padding-right: 6px; }
  body.dbDesignerModule .addColumnIcon:hover, body.dbDesignerModule .editColumnIcon:hover, body.dbDesignerModule .deleteColumnIcon:hover, body.dbDesignerModule .deleteTableIcon:hover, body.dbDesignerModule .editTableIcon:hover,
  body.dbDesignerModule .deleteViewIcon:hover, body.dbDesignerModule .editViewIcon:hover, body.dbDesignerModule .deleteIndexIcon:hover, body.dbDesignerModule .editIndexIcon:hover {
    color: #ff4000; }
  body.dbDesignerModule .addColumnIcon, body.dbDesignerModule .deleteTableIcon, body.dbDesignerModule .editColumnIcon, body.dbDesignerModule .deleteColumnIcon, body.dbDesignerModule .editTableIcon, body.dbDesignerModule .deleteViewIcon, body.dbDesignerModule .editViewIcon, body.dbDesignerModule .deleteIndexIcon,
  body.dbDesignerModule .dbTableName, body.dbDesignerModule .dbColumnName, body.dbDesignerModule .dbViewName, body.dbDesignerModule .dbIndexText, body.dbDesignerModule .editIndexIcon, body.dbDesignerModule ._jsPlumb_overlay {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default; }
  body.dbDesignerModule .ui-dialog-content .formTable label {
    margin-bottom: 0px; }
  body.dbDesignerModule .ui-dialog-content .formTable tr {
    height: 32px; }
  body.dbDesignerModule .ui-dialog-content .formTable td {
    vertical-align: middle; }
  body.dbDesignerModule .ui-dialog-content .formTable tr td:first-child {
    width: 150px; }
  body.dbDesignerModule .top-bar-container {
    position: absolute;
    left: 225px;
    top: 75px;
    right: 205px;
    height: 32px;
    background-color: #455d73;
    color: white;
    text-align: center;
    padding-top: 6px;
    font-size: 1.2em;
    font-weight: bold; }
  body.dbDesignerModule .relationLabel {
    margin-top: 15px; }
  body.dbDesignerModule .deleteRelation {
    color: #ff6060; }
  body.dbDesignerModule #edit-relation-dialog input[type=radio] {
    margin-left: 20px; }
  body.dbDesignerModule .work-area-container {
    position: absolute;
    left: 225px;
    top: 105px;
    right: 205px;
    bottom: 0px;
    overflow: scroll;
    border: 2px solid grey;
    background-color: white; }
  body.dbDesignerModule .database-container {
    touch-action: none;
    width: auto;
    height: auto;
    position: relative;
    transform-origin: 0 0; }
  body.dbDesignerModule label[for=new-view-query], body.dbDesignerModule label[for=view-query] {
    margin-top: 6px; }
  body.dbDesignerModule input#column-length {
    width: 70px;
    margin-left: 8px; }
  body.dbDesignerModule #zoomLabel {
    font-size: 1.5em;
    margin-bottom: 4px; }
  body.dbDesignerModule #add-index-dialog, body.dbDesignerModule #edit-index-dialog {
    height: auto !important; }
  body.dbDesignerModule .dbTableName, body.dbDesignerModule .dbColumnName, body.dbDesignerModule .dbIndexText, body.dbDesignerModule .dbViewName {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden; }
  body.dbDesignerModule .toolbox {
    float: right;
    padding-right: 15px;
    padding-top: 100px; }
  body.dbDesignerModule .menuLabel {
    width: 175px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 5px;
    cursor: default; }
  body.dbDesignerModule .menuButtons .btn {
    box-sizing: initial;
    display: block;
    width: 160px;
    padding: 10px 6px;
    margin-bottom: 12px; }
  body.dbDesignerModule .ui-dialog {
    padding: 0px 0px;
    border: 1px solid #45525e;
    border-radius: 4px; }
  body.dbDesignerModule .ui-widget-header {
    background-image: none;
    background-color: #45525e;
    color: white; }
  body.dbDesignerModule .ui-dialog .ui-dialog-buttonpane {
    padding: 3px; }
  body.dbDesignerModule .ui-dialog .ui-dialog-buttonset button {
    margin: 3px; }
  body.dbDesignerModule .highlightedCommitRow {
    background-color: lightblue !important; }
  body.dbDesignerModule #moduleSwitcher {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 32px;
    z-index: 200;
    color: white;
    background-color: #4d41e7; }

@font-face {
  font-family: "FatTec";
  src: url(/Content/fonts/Fat-TecA07.otf) format("opentype"); }

@font-face {
  font-family: "MyriadPro";
  src: url(/Content/fonts/MYRIADPRO-REGULAR.OTF) format("opentype"); }

body.portalModule {
  background-color: #f2f2f3; }
  body.portalModule #centralAdminPanel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    position: absolute;
    left: 225px;
    top: 75px;
    right: 0px;
    height: 357px;
    background-color: #3a3a3a; }
    body.portalModule #centralAdminPanel .panelLabel {
      position: absolute;
      left: 52px;
      top: 24px;
      font-size: 18px;
      font-family: FatTec;
      color: white; }
    body.portalModule #centralAdminPanel .backgroundDecoration {
      position: absolute;
      left: 0px;
      top: 0px; }
    body.portalModule #centralAdminPanel .decorationWatcheye {
      position: absolute;
      left: 19px;
      top: 56px;
      width: 24px;
      height: 24px; }
    body.portalModule #centralAdminPanel .indicatorRectangle, body.portalModule #centralAdminPanel .clickableIndicatorRectangle {
      position: relative;
      display: inline-block;
      width: 308px;
      height: 147px;
      margin-right: 17px;
      white-space: normal; }
    body.portalModule #centralAdminPanel .clickableIndicatorRectangle {
      background-color: #21a7b5; }
    body.portalModule #centralAdminPanel .clickableIndicatorRectangle.highlighted {
      background-color: #f68d4d !important; }
    body.portalModule #centralAdminPanel .maintenanceActive {
      background-color: #2d74b2 !important; }
    body.portalModule #centralAdminPanel .indicatorBar {
      position: relative;
      display: block;
      width: 232px;
      height: 38px;
      margin-bottom: 16px;
      font-family: MyriadPro;
      color: white; }
      body.portalModule #centralAdminPanel .indicatorBar .fa {
        position: absolute;
        font-size: 17px;
        left: 10px;
        top: 10px; }
      body.portalModule #centralAdminPanel .indicatorBar .message {
        position: absolute;
        font-size: 15px;
        left: 26px;
        top: 8px; }
    body.portalModule #centralAdminPanel .indicatorBar.error {
      background-color: #dd5660; }
    body.portalModule #centralAdminPanel .indicatorBar.warning {
      background-color: #f3a67b; }
    body.portalModule #centralAdminPanel .indicatorBar.info {
      background-color: #21a7b5; }
    body.portalModule #centralAdminPanel #upperResponsiveArea {
      position: absolute;
      left: 70px;
      top: 110px;
      width: 100%;
      white-space: nowrap;
      vertical-align: top;
      transform-origin: left top; }
    body.portalModule #centralAdminPanel #notificationArea, body.portalModule #centralAdminPanel #rectangleIndicatorsArea {
      display: inline-block;
      white-space: nowrap;
      vertical-align: top; }
    body.portalModule #centralAdminPanel #usersOnlineIndicator .bigNumber {
      position: absolute;
      left: 20px;
      top: -10px;
      color: white;
      font-size: 110px;
      font-family: MyriadPro; }
    body.portalModule #centralAdminPanel #usersOnlineIndicator .indicatorLabel {
      position: absolute;
      left: 150px;
      top: 30px;
      color: white;
      font-size: 22px;
      font-family: MyriadPro; }
    body.portalModule #centralAdminPanel #activeProfileIndicator .bigTextLine {
      position: absolute;
      left: 20px;
      top: 10px;
      color: white;
      font-size: 52px;
      font-family: MyriadPro; }
    body.portalModule #centralAdminPanel #activeProfileIndicator .indicatorLabel {
      position: absolute;
      left: 150px;
      top: 85px;
      color: white;
      font-size: 22px;
      font-family: MyriadPro; }
    body.portalModule #centralAdminPanel #activeModulesIndicator .bigNumber {
      position: absolute;
      left: 20px;
      top: -10px;
      color: white;
      font-size: 110px;
      font-family: MyriadPro; }
    body.portalModule #centralAdminPanel #activeModulesIndicator .indicatorLabel {
      position: absolute;
      left: 150px;
      top: 30px;
      color: white;
      font-size: 22px;
      font-family: MyriadPro; }
    body.portalModule #centralAdminPanel #maintenanceIndicator {
      background-color: #f48b99; }
      body.portalModule #centralAdminPanel #maintenanceIndicator .bigTextLine {
        position: absolute;
        left: 20px;
        top: 10px;
        color: white;
        font-size: 52px;
        font-family: MyriadPro; }
      body.portalModule #centralAdminPanel #maintenanceIndicator .indicatorLabel {
        position: absolute;
        left: 20px;
        top: 85px;
        color: white;
        font-size: 22px;
        font-family: MyriadPro; }
  body.portalModule #lowerPanel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    position: absolute;
    left: 225px;
    top: 432px;
    right: 0px;
    height: auto; }
  body.portalModule #moduleAdminPanel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    position: absolute;
    left: 0px;
    top: 0px;
    max-width: 1200px;
    margin-right: 0px;
    height: 357px; }
    body.portalModule #moduleAdminPanel .panelLabel {
      position: absolute;
      left: 52px;
      top: 24px;
      font-size: 18px;
      font-family: FatTec;
      color: #3e3e3e; }
    body.portalModule #moduleAdminPanel .moduleArea {
      vertical-align: top;
      margin-left: 66px;
      margin-top: 108px;
      transform-origin: left top; }
    body.portalModule #moduleAdminPanel .moduleSquare {
      display: inline-block;
      width: 160px;
      height: 160px;
      margin-left: 0px;
      margin-top: 0px;
      margin-right: 15px;
      margin-bottom: 15px;
      border: 10px solid #f2f2f3;
      background-repeat: no-repeat; }
    body.portalModule #moduleAdminPanel .moduleSquare.selectedSquare {
      border: 10px solid #f68d4d; }
  body.portalModule #moduleConfigPanel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 490px;
    height: 357px; }
    body.portalModule #moduleConfigPanel .panelLabel {
      position: absolute;
      right: 56px;
      top: 24px;
      font-size: 18px;
      font-family: FatTec;
      color: #3e3e3e; }
    body.portalModule #moduleConfigPanel .currentModuleIcon {
      position: absolute;
      left: 0px;
      top: 110px;
      width: 105px;
      height: 105px;
      background-repeat: no-repeat;
      background-size: 105px; }
    body.portalModule #moduleConfigPanel .currentModuleName {
      position: absolute;
      left: 135px;
      top: 110px;
      color: #3a3a3a;
      font-family: FatTec; }
    body.portalModule #moduleConfigPanel .currentModuleDescription {
      position: absolute;
      left: 135px;
      top: 140px;
      color: #3a3a3a;
      font-size: 18px;
      font-family: MyriadPro; }
    body.portalModule #moduleConfigPanel .currentModuleLastChange {
      position: absolute;
      left: 135px;
      top: 175px;
      color: #3a3a3a;
      font-size: 18px;
      font-family: MyriadPro; }
    body.portalModule #moduleConfigPanel .moduleConfigTable {
      position: absolute;
      left: 0px;
      top: 240px;
      width: 410px;
      table-layout: fixed;
      font-size: 18px;
      font-family: MyriadPro;
      border-collapse: collapse;
      border: 1px solid #727273; }
    body.portalModule #moduleConfigPanel .moduleConfigTable tr {
      height: 30px; }
    body.portalModule #moduleConfigPanel .moduleConfigTable td {
      padding-left: 16px;
      border: 1px solid #727273; }
    body.portalModule #moduleConfigPanel .moduleConfigTable tr.headerRow {
      background-color: #aaabab;
      color: white; }
    body.portalModule #moduleConfigPanel .moduleConfigTable td.inactive {
      background-color: #dd5660;
      color: white; }
    body.portalModule #moduleConfigPanel .moduleConfigTable td .fa {
      float: right;
      font-size: 24px;
      margin-right: 10px; }
  body.portalModule .lowerLeftDecoration {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -10; }
  body.portalModule .lowerLeftDecorationEditSymbol {
    position: absolute;
    left: 22px;
    top: 58px;
    color: #F68D4D;
    font-size: 22px; }
  body.portalModule .lowerRightDecoration {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -10; }
  body.portalModule .placeholderPanel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1200px;
    height: 357px;
    margin-left: 66px;
    margin-top: 108px;
    color: #3e3e3e;
    font-size: 18px;
    font-family: MyriadPro; }
  body.portalModule #usersOnlinePanel .panelLabel, body.portalModule #activeProfilePanel .panelLabel {
    position: absolute;
    left: 52px;
    top: 24px;
    font-size: 18px;
    font-family: FatTec;
    color: #3e3e3e; }

@media only screen and (max-width: 1920px) {
  #upperResponsiveArea {
    transform: scale(0.9); }
  #moduleAdminPanel .moduleArea {
    transform: scale(0.9); } }

@media only screen and (max-width: 1810px) {
  #upperResponsiveArea {
    transform: scale(0.8); }
  #moduleAdminPanel .moduleArea {
    transform: scale(0.8); } }

@media only screen and (max-width: 1700px) {
  #upperResponsiveArea {
    transform: scale(0.7); }
  #moduleAdminPanel .moduleArea {
    transform: scale(0.7); } }

@media only screen and (max-width: 1580px) {
  #moduleAdminPanel {
    margin-right: 550px !important; }
  #moduleAdminPanel .moduleArea {
    width: 135%; }
  #upperResponsiveArea {
    white-space: normal !important; }
  #notificationArea .indicatorBar {
    display: inline-block !important;
    margin-top: 28px;
    margin-right: 17px; } }

.ui-dialog .ui-dialog-titlebar-close {
  background: url("/Content/images/ui-icons_888888_256x240.png") repeat scroll -93px -128px transparent;
  border: medium none; }

.ui-dialog .ui-dialog-titlebar-close:hover {
  background: url("/Content/images/ui-icons_222222_256x240.png") repeat scroll -93px -128px transparent; }

