.ui-dialog {
    .ui-dialog-titlebar-close {
        background: url("/Content/images/ui-icons_888888_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
        border: medium none;
    }
    .ui-dialog-titlebar-close:hover {
        background: url("/Content/images/ui-icons_222222_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
    }
}