@import "Mixins.scss";

body.dbDesignerModule {
    background-color: #e0e0e0;
    overflow: hidden;

    .dbTable {
        position: absolute;
        width: 220px;
        border: 1px solid #45525e;
        border-radius: 4px;
    }
    .dbTableHeader {
        background-color: #45525e;
        color: white;
        width: 218px;
        height: 30px;
        padding-top: 3px;
        text-align: center;
    }
    .dbTableName {
        position: absolute;
        left: 50px;
        right: 50px;
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
    }
    .dbColumn {
        position: relative;
        text-align: left;
        height: 30px;
        background-color: lightblue;
        padding-top: 3px;
    }
    .idColumn {
        padding-left: 27px;
    }
    .dbColumnName {
        color: black;
        font-weight: normal;
        font-size: 1.2em;
        width: 165px;
    }
    .dbPrimaryKey {
        background-color: #3bb8e1;
    }
    .dbIndex {
        height: 30px;
        padding-top: 3px;
        background-color: lightyellow;
        color: black;
        font-style: italic;
        border-top: 1px solid black;
    }
    .dbIndexText {
        position: relative;
        top: 3px;
        width: 165px;
    }
    .dbView {
        position: absolute;
        width: 220px;
        border: 1px solid #455a51;
        border-radius: 4px;
    }
    .dbViewHeader {
        background-color: #455a51;
        color: #e5ffec;
        width: 218px;
        height: 30px;
        padding-top: 3px;
        text-align: center;
    }
    .dbViewName {
        position: absolute;
        left: 20px;
        right: 20px;
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
    }
    .deleteViewIcon {
        float: left;
        padding-top: 6px;
        padding-left: 6px;
        color: #ff9090;
    }
    .editViewIcon {
        float: right;
        padding-top: 6px;
        padding-right: 6px;
    }
    .deleteTableIcon {
        float: left;
        padding-top: 6px;
        padding-left: 6px;
        color: #ff9090;
    }
    .addColumnIcon {
        position: absolute;
        top: 6px;
        right: 6px;
    }
    .editTableIcon {
        position: absolute;
        top: 6px;
        right: 30px;
    }
    .editColumnIcon {
        float: right;
        padding-top: 6px;
        padding-right: 6px;
    }
    .deleteColumnIcon {
        float: left;
        padding-top: 6px;
        padding-left: 6px;
        margin-right: 10px;
    }
    .deleteIndexIcon {
        float: left;
        padding-top: 6px;
        padding-left: 6px;
        margin-right: 10px;
    }
    .editIndexIcon {
        float: right;
        padding-top: 6px;
        padding-right: 6px;
    }
    .addColumnIcon:hover, .editColumnIcon:hover, .deleteColumnIcon:hover, .deleteTableIcon:hover, .editTableIcon:hover,
    .deleteViewIcon:hover, .editViewIcon:hover, .deleteIndexIcon:hover, .editIndexIcon:hover {
        color: #ff4000;
    }
    .addColumnIcon, .deleteTableIcon, .editColumnIcon, .deleteColumnIcon, .editTableIcon, .deleteViewIcon, .editViewIcon, .deleteIndexIcon,
    .dbTableName, .dbColumnName, .dbViewName, .dbIndexText, .editIndexIcon, ._jsPlumb_overlay {
        @include no-select();
    }
    .ui-dialog-content .formTable label {
        margin-bottom: 0px;
    }
    .ui-dialog-content .formTable tr {
        height: 32px;
    }
    .ui-dialog-content .formTable td {
        vertical-align: middle;
    }
    .ui-dialog-content .formTable tr td:first-child {
        width: 150px;
    }
    .top-bar-container {
        position: absolute;
        left: 225px;
        top: 75px;
        right: 205px;
        height: 32px;
        background-color: #455d73;
        color: white;
        text-align: center;
        padding-top: 6px;
        font-size: 1.2em;
        font-weight: bold;
    }
    .relationLabel {
        margin-top: 15px;
    }
    .deleteRelation {
        color: #ff6060;
    }
    #edit-relation-dialog input[type=radio] {
        margin-left: 20px;
    }
    .work-area-container {
        position: absolute;
        left: 225px;
        top: 105px;
        right: 205px;
        bottom: 0px;
        overflow: scroll;
        border: 2px solid grey;
        background-color: white;
    }
    .database-container {
        touch-action: none;
        width: auto;
        height: auto;
        position: relative;
        transform-origin: 0 0;
    }
    label[for=new-view-query], label[for=view-query] {
        margin-top: 6px;
    }
    input#column-length {
        width: 70px;
        margin-left: 8px;
    }
    #zoomLabel {
        font-size: 1.5em;
        margin-bottom: 4px;
    }
    #add-index-dialog, #edit-index-dialog {
        height: auto !important;
    }
    .dbTableName, .dbColumnName, .dbIndexText, .dbViewName {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
    }
    .toolbox {
        float: right;
        padding-right: 15px;
        padding-top: 100px;
    }
    .menuLabel {
        width: 175px;
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
        margin-top: 20px;
        margin-bottom: 5px;
        cursor: default;
    }
    .menuButtons .btn {
        box-sizing: initial;
        display: block;
        width: 160px;
        padding: 10px 6px;
        margin-bottom: 12px;
    }
    .ui-dialog {
        padding: 0px 0px;
        border: 1px solid #45525e;
        border-radius: 4px;
    }
    .ui-widget-header {
        background-image: none;
        background-color: #45525e;
        color: white;
    }
    .ui-dialog .ui-dialog-buttonpane {
        padding: 3px;
    }
    .ui-dialog .ui-dialog-buttonset button {
        margin: 3px;
    }
    .highlightedCommitRow {
        background-color: lightblue !important;
    }
    #moduleSwitcher {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 32px;
        z-index: 200;
        color: white;
        background-color: #4d41e7;
    }
}
