@font-face {
    font-family: "RweHeadlineRegular";
    src: url(/Content/fonts/rweheadline-regularcondens-webfont.ttf) format("truetype");
}
@font-face {
    font-family: "RweTextMedium";
    src: url(/Content/fonts/rwetext-medium-webfont.ttf) format("truetype");
}
@font-face {
  font-family: "FatTec";
  src: url(/Content/fonts/Fat-TecA07.otf) format("opentype");
}
@font-face {
  font-family: "MyriadPro";
  src: url(/Content/fonts/MYRIADPRO-REGULAR.OTF) format("opentype");
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('fonts/glyphicons-halflings-regular.woff2') format('woff2'), 
       url('fonts/glyphicons-halflings-regular.woff') format('woff'), 
       url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}