@font-face {
    font-family: "RweHeadlineRegular";
    src: url(/Content/fonts/rweheadline-regularcondens-webfont.ttf) format("truetype");
}
@font-face {
    font-family: "RweTextMedium";
    src: url(/Content/fonts/rwetext-medium-webfont.ttf) format("truetype");
}
@font-face {
  font-family: "FatTec";
  src: url(/Content/fonts/Fat-TecA07.otf) format("opentype");
}
@font-face {
  font-family: "MyriadPro";
  src: url(/Content/fonts/MYRIADPRO-REGULAR.OTF) format("opentype");
}
