body.nexusModule {
    #lowerPanel {
        .wsdlFileString {
            width: 700px;
            text-overflow: clip;
            overflow: hidden;
        }
    }
    .top-panel {
        position: relative;
        top: 75px;
        margin-left: 225px;
        background: #3a3a3a;
        overflow: hidden;
    }
    .top-panel-content {
        position: relative;
        z-index: 2;
        padding: 1.5em 52px;
    }
    .bottom-panel {
        margin-left: 225px;
        padding: 0px 52px;
        position: relative;
        top: 75px;
    }
    .tabs {
        position: relative;
        z-index: 2;
        padding: 25px 55px;
    }
    .top-panel table th, .top-panel table td {
        color: #fff;
        vertical-align: middle !important;
    }
}
