@import "Mixins.scss";

body.tapestryModule {
    .actionItem {
        background-color: #5bb3e4;
        color: black;
    }
    .attributeItem {
        background-color: #8e67ad;
        color: white;
    }
    .uiItem {
        background-color: #f4e80b;
        color: black;
    }
    .roleItem {
        background-color: #db4c91;
        color: white;
    }
    .stateItem {
        background-color: #4d77db;
        color: #28334e;
    }
    .targetItem {
        background-color: #f26822;
        color: #6a3d26;
    }
    .templateItem {
        background-color: #58bf8f;
        color: #375949;
    }
    #upperPanel {
        height: 357px;

        .tapestryUpperPanelButton {
            position: absolute;
            width: 196px;
            height: 38px;
            background-color: #21a7b5;
            color: white;
            font-family: MyriadPro;
            font-size: 19px;
            padding: 5px 14px;
        }
        .tapestryUpperPanelButton.highlighted {
            background-color: #f68d4d;
        }
        #upperPanelHistoryButton {
            left: 390px;
            top: 39px;
        }
        #upperPanelLibrariesButton {
            left: 600px;
            top: 39px;
        }
        #tapestryLibraryArea {
            position: absolute;
            left: 66px;
            top: 96px;
            width: 1564px;

            .libraryCategory {
                width: 220px;
                display: inline-block;
                vertical-align: top;
            }
            .libraryCategoryHeader {
                width: 218px;
                height: 30px;
                background-color: #aaabab;
                font-family: MyriadPro;
                font-size: 18px;
                color: white;
                padding-left: 8px;
                padding-top: 3px;
                margin-bottom: 6px;
            }
            .libraryItem {
                width: 218px;
                height: 30px;
                background-color: white;
                font-family: MyriadPro;
                font-size: 18px;
                color: black;
                padding-left: 8px;
                padding-top: 3px;
                margin-bottom: 3px;
            }
            .libraryItem.highlighted {
                background-color: #84c441;
                color: #425b33;
            }
        }
    }
    #lowerPanel {
        top: 432px;
        padding: 0px;

        #tapestryLeftBar {
            @include no-select();
            position: absolute;
            width: 218px;

            .leftBarHeader {
                width: 100%;
                height: 32px;
                background-color: #bdbbbc;
                font-family: FatTec;
                font-size: 16px;
                padding: 8px 10px;
            }
            .tapestryToolbox {
                width: 100%;
                list-style: none;
                padding-left: 0px;
                font-family: MyriadPro;
                font-size: 18px;
                color: white;
                
                > li {
                    height: 30px;
                    padding-top: 3px;

                    .toolboxCategoryLabel, .toolboxItem {
                        padding-left: 8px;
                    }
                }
                .toolboxLi, .symbolToolboxSpace {
                    //display: none;
                }
                .toolboxLi {
                    padding-top: 0px;
                }
                .toolboxItem {
                     width: 218px;
                }
                .toolboxItem.ui-draggable-dragging {
                     z-index: 1000;
                     border-bottom: none;
                }
                .toolboxCategoryHeader_Symbols {
                    background-color: #b3b2b2
                }
                .symbolToolboxSpace {
                    position: relative;
                    height: 360px;
                    background-color: #e0e2e2;

                    .toolboxSymbol {
                        position: absolute;
                    }
                    .toolboxSymbol.ui-draggable-dragging {
                        z-index: 1000;
                    }
                }
                .toolboxCategoryHeader_Actions {
                    background-color: #5793b5;
                    border-bottom: 2px solid #5793b5;
                }
                .toolboxLi_Actions {
                    background-color: #5bb3e4;
                    border-bottom: 2px solid #5793b5;
                    color: #3c5561;
                }
                .toolboxCategoryHeader_Attributes {
                    background-color: #795b8f;
                    border-bottom: 2px solid #795b8f;
                }
                .toolboxLi_Attributes {
                    background-color: #8e67ad;
                    border-bottom: 2px solid #795b8f;
                    color: #4a3c54;
                }
                .toolboxCategoryHeader_UI {
                    background-color: #c2b52b;
                    border-bottom: 2px solid #c2b52b;
                }
                .toolboxLi_UI {
                    background-color: #f4e80b;
                    border-bottom: 2px solid #c2b52b;
                    color: #65602f;
                }
                .toolboxCategoryHeader_Roles {
                    background-color: #b2477b;
                    border-bottom: 2px solid #b2477b;
                }
                .toolboxLi_Roles {
                    background-color: #db4c91;
                    border-bottom: 2px solid #b2477b;
                    color: #64364b;
                }
                .toolboxCategoryHeader_States {
                    background-color: #3e568f;
                    border-bottom: 2px solid #3e568f;
                }
                .toolboxLi_States {
                    background-color: #4d77db;
                    border-bottom: 2px solid #3e568f;
                    color: #28334e;
                }
                .toolboxCategoryHeader_Targets {
                    background-color: #c35c29;
                    border-bottom: 2px solid #c35c29;
                }
                .toolboxLi_Targets {
                    background-color: #f26822;
                    border-bottom: 2px solid #c35c29;
                    color: #6a3d26;
                }
                .toolboxCategoryHeader_Templates {
                    background-color: #509c78;
                    border-bottom: 2px solid #509c78;
                }
                .toolboxLi_Templates {
                    background-color: #58bf8f;
                    border-bottom: 2px solid #509c78;
                    color: #375949;
                }
            }
        }
        #tapestryLeftBarBackground {
            position: fixed;
            width: 218px;
            left: 225px;
            top: 0px;
            bottom: 0px;
            background-color: #e0e2e2;
            z-index: -20;
        }
        #tapestryWorkspace {
            @include no-select();
            position: absolute;
            left: 218px;
            right: 0px;
            top: 0px;
            min-height: 100px;

            .plusButton {
                display: inline-block;
                font-size: 20px;
                color: #457fa9;
                margin-left: 8px;
            }
            .item, .symbol {
                z-index: 20;
            }
            .ruleItem.ui-draggable-dragging, .item.ui-draggable-dragging, .symbol.ui-draggable-dragging {
                z-index: 1000;
            }

            #blockHeaderPanel {
                height: 34px;
                border-bottom: 2px solid #455d73;
                font-family: MyriadPro;
                font-size: 14px;
                vertical-align: middle;
                padding-left: 10px;

                #blockHeaderBlockName, #blockHeaderDbResCount, #blockHeaderScreenCount{
                    color: #457fa9;
                    font-size: 20px;
                    padding-left: 2px;
                    padding-right: 10px;
                }
            }
            #assignResourcesPanel, #workflowRulesPanel {
                margin: 15px 13px;
                border: 1px solid #455d73;
                padding: 7px 5px;

                .panelHeader {
                    font-family: FatTec;
                    font-size: 16px;
                }
            }
            #assignResourcesPanel {
                position: relative;
                min-height: 350px;
                padding-top: 27px;

                .panelHeader {
                    position: relative;
                    top: -27px;
                }
                .resourceRule {
                    position: absolute;
                    background-color: #e0e2e2;

                    .item {
                        position: absolute;
                        min-width: 80px;
                        height: 20px;
                        font-family: MyriadPro;
                        font-size: 14px;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }
            #workflowRulesPanel {
                position: relative;
                min-height: 900px;
                padding-top: 27px;

                .panelHeader {
                    position: relative;
                    top: -27px;
                }
                .workflowRule {
                    position: absolute;
                    border: 2px solid #bcbbbc;
                    background: white;

                    .workflowRuleHeader {
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        bottom: 0px;
                        width: 56px;
                        border-right: 2px solid #bcbbbc;

                        .vericalLabel {
                            position: absolute;
                            left: -50px;
                            top: 150px;
                            width: 150px;
                            font-family: MyriadPro;
                            font-size: 18px;
	                        transform: rotate(-90deg);
	                        transform-origin: 50% 50%;
                        }
                     }
                    .swimlaneArea {
                        position: absolute;
                        left: 56px;
                        top: 0px;
                        right: 0px;
                        bottom: 0px;
                    }
                    .swimlane {
                        position: relative;
                        width: 100%;
                        height: 50%;
                        border-bottom: 2px solid #bcbbbc;

                        .swimlaneRolesArea {
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            bottom: 0px;
                            width: 56px;
                            border-right: 2px solid #bcbbbc;

                            .rolePlaceholder {
                                position: absolute;
                                left: 5px;
                                top: 5px;
                                right: 5px;
                                bottom: 5px;
                                border: 2px dashed #bcbbbc;

                                .rolePlaceholderLabel {
                                    position: absolute;
                                    left: -55px;
                                    top: 58px;
                                    width: 150px;
                                    color: #bcbbbc;
                                    font-family: MyriadPro;
                                    font-size: 11px;
	                                transform: rotate(-90deg);
	                                transform-origin: 50% 50%;
                                 }
                            }

                            .roleItem {
                                position: absolute;
                                left: -12px;
                                top: 72px;
                                width: 77px;
                                height: 22px;
                                color: white;
                                background-color: #db4c91;
                                font-family: MyriadPro;
                                font-size: 12px;
                                text-align: center;
	                            transform: rotate(-90deg);
	                            transform-origin: 50% 50%;
                                border-radius: 4px;
                            }
                        }
                        .swimlaneContentArea {
                            position: absolute;
                            left: 56px;
                            top: 0px;
                            right: 0px;
                            bottom: 0px;

                            .symbol, .subSymbol, .subSymbolCounterpart {
                                position: absolute;
                            }
                            .item {
                                position: absolute;
                                width: 110px;
                                height: 60px;
                                border-radius: 6px;
                                padding-top: 20px;
                                font-family: MyriadPro;
                                font-size: 12px;
                                text-align: center;
                            }
                            .actionItem {
                                background-color: #5bb3e4;
                                color: black;
                            }
                            .templateItem {
                                background-color: #58bf8f;
                                color: black;
                            }
                        }
                    }
                    .swimlane:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}
