@import "Mixins.scss";
@import "Fonts.scss";
$color_error: #f15921;

#userTopBar {
    @include no-select();
    @include linear-gradient(#edf8fe, #ceeaf8);
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 50px;

    .icon {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding-top: 5px;
        padding-left: 10px;
        z-index: 50;
        font-size: 32px;
        color: #0065a9;
        cursor: pointer;
    }
    .activeIcon {
        background-color: #edf8fe;
        cursor: default;
    }

    #toggleMenuIcon{
        display: none;
    }
    .clientTitle {
        position: absolute;
        font-family: RweHeadlineRegular;
        text-transform: uppercase;
        font-size: 20px;
        color: #59575c;
        padding-top: 10px;
        top: 0px;
        left: 0px;
        right: 0px;
        text-align: center;
    }
    .clientTitleArea {
        position: absolute;
        left: 160px;
        top: 0px;
        right: 540px;
        height: 50px;
    }
    .userBoxMinimized {
        display: none;
    }
    .userBox, .userBoxMinimized {
        position: absolute;
        top: 0px;
        right: 290px;
        width: 250px;
        height: 50px;
        .avatar {
            position: absolute;
            left: 5px;
            top: 5px;
            width: 40px;
            height: 40px;
            background-image: url(/Content/images/avatar-generic.png);
            background-size: 40px 40px;
        }
        .fullName {
            position: absolute;
            left: 65px;
            top: 6px;
            font-family: RweTextMedium;
            font-size: 14px;
        }
        .commands {
            position: absolute;
            left: 65px;
            top: 24px;
            color: #0065a9;
            font-family: RweTextMedium;
            font-size: 14px;
        }
        .notificationIcon {
            position: absolute;
            right: 30px;
            top: 8px;
            font-size: 30px;
            color: #0065a9;
            cursor: pointer;
        }

    }
    .searchBoxMinimised {
        display: none;
    }
    .searchBox, .searchBoxMinimized {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 310px;
        height: 50px;
        .searchInputField {
            position: absolute;
            bottom: 11px;
            right: 85px;
            width: 215px;
            height: 28px;
            background-color: white;
            color: #a2b4cc;
            padding-left: 14px;
            padding-top: 4px;
            font-family: RweTextMedium;
            font-size: 14px;
            border: none;
        }
        .searchIcon {
            position: absolute;
            right: 30px;
            top: 8px;
            font-size: 30px;
            color: #0065a9;
            cursor: pointer;
        }

    }
}
#userLeftBar {
    @include no-select();
    background-color: #edf8fe;
    position: absolute;
    left: 0px;
    top: 50px;
    bottom: 0px;
    width: 310px;
    border-right: 1px solid #f1f0ee;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    transition: 0.4s ease-out;

    *{transition: 0.4s ease-out}
        
    .widgetLabel {
        position: absolute;
        font-family: RweHeadlineRegular;
        text-transform: uppercase;
        font-size: 20px;
        color: #0065a9;
        padding: 0 30px;
        top: 30px;
        left: 0px;
        right: 30px;
        overflow: hidden;
        white-space: nowrap;
    }
    .circles {
        position: absolute;
        color: #0065a9;
        left: 32px;
        top: 65px;

        .fa {
            margin-right: 9px;
        }
    }
    #switchMenuIcon {
        position: absolute;
        font-size: 18px;
        color: #0065a9;
        left: 260px;
        top: 35px;
    }
    #showMenuIcon, #hideMenuIcon {
        position: absolute;
        font-size: 28px;
        color: #0065a9;
        right: 12px;
        top: 30px;
        cursor: pointer;            
    }
    #showMenuIcon {
        display: none;
    }
    .appList {
        position: absolute;
        font-size: 17px;
        font-weight: 100;
        color: #0065a9;
        left: 0px;
        top: 75px;
        right: 0px;
        .appListItem {
            position: relative;
            height: 40px;
            border-top: 1px solid #d6dfe6;
            cursor: pointer;
            .icon {
                position: absolute;
                top: 10px;
                left: 32px;
            }
            .appName {
                position: absolute;
                top: 8px;
                left: 62px;
                right: 10px;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        .appListItem:hover{
            background-color: #ceeaf8;
        }
    }
    .infoBox {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 310px;
        height: 90px;
        color: #919296;
        .icon {
            position: absolute;
            left: 15px;
            font-size: 60px;
        }
        .infoText {
            position: absolute;
            left: 85px;
            top: 5px;
            font-size: 12px;
            opacity: inherit;
        }
    }
    #appMenu {
        position: absolute;
        left: 0px;
        top: 75px;
        font-family: MyriadPro;
        color: #58585a;
        font-size: 18px;
        padding-left: 0px;

        > li > a {
            padding-left: 40px;
            font-size: 16px;
        }
        > li {
            list-style: none;
            h4 {
                padding-left: 40px;
            }
            ul {
                color: #0065a9;
                font-size: 14px;
                padding-left: 0px;
                padding-bottom: 15px;
                li {
                    list-style: none;
                    width: 250px;
                    padding-left: 15px;
                    padding-top: 3px;
                    margin-left: 45px;
                    height: 24px;
                    cursor: pointer;
                }
                li:hover{
                    background-color: #ceeaf8;
                }
            }
        }
        a {
            color: #0065a9;
            width: 100%;
            height: 100%;
            display: block;
        }
        a:hover {
            text-decoration: none;
            color: #0065a9;
        }
    } 
}

#appNotificationArea {
    position: fixed;
    left: 310px;
    top: 50px;
    right: 0;
    z-index: 5;
    transition: left 0.4s ease-out;

}

body.userLayout.leftBarHidden {
    #userLeftBar {
        width: 50px;
        overflow: hidden;

        #hideMenuIcon {
            display: none;
        }
        #showMenuIcon {
            display: inline-block;
        }
        .widgetLabel{
            padding: 0 0 0 20px;
        }
        .appListItem {
            border-color: #edf8fe;
        }
        .appListItem .icon {
            left: 18px;
        }
        #appMenu {
            left: 20px;
        }
        .infoBox {
            opacity: 0;
            //transition: 0.4s ease-in;
        }
    }
    #userContentArea, #helpContainer, #pageOverlay, #appNotificationArea{
        left: 50px;
    }
}

@media (max-width: 799px) {
    body.userLayout.leftBarHidden #userLeftBar {
        width: 0;
    }
    #userTopBar {
        #toggleMenuIcon, > a {
            display: block;
            float: left;
        }

        .clientTitleArea {
            left: 200px;
            right: 140px;
        }
        .userBox {
            display: none;
            background-color: #edf8fe;
            top: 50px;
            right: 0;
            width: 150px;
            border: 1px solid #f1f0ee;
            z-index: 10;

            .notificationIcon, .avatar {
                display: none;
            }
            .fullName, .commands {
                left: 15px;
            }
        }
        .userBoxMinimized {
            display: block;
            width: 90px;
            position: absolute;
            right: 50px;
            .notificationIcon {
                right: 0px;
            }
        }
        .searchBox {
            display: none;
            position: absolute;
            left: 0;
            top: 50px;
            width: 100%;
            background-color: #edf8fe;
            z-index: 10;
            .searchInputField {
                left: 15px;
                width: calc(100% - 70px);
            }
            .searchIcon {
                position: absolute;
                right: 15px;
            }
            .searchIcon::before {
                content: "\f061";
            }
        }

        .searchBoxMinimized {
            display: block;
            width: 50px;
            .searchIcon {
                right: 10px;
            }
        }
    }
    body.userLayout #userLeftBar, body.userLayout.leftBarHidden #userLeftBar {
        #showMenuIcon, #hideMenuIcon {
            display: none;
        }
    }
    body.userLayout, body.userLayout.leftBarHidden {
        #userContentArea, #helpContainer, #pageOverlay, #appNotificationArea {
            left: 0px;
        }
    }
}

@media (min-width: 800px) {
    .userBox, .searchBox {
        display: block !important;
    }
}

@media (max-width: 479px) {
    #userTopBar .clientTitle { 
        display: none;
    }
}

#userContentArea {
    position: absolute;
    left: 310px;
    top: 50px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    transition: left 0.4s ease-out;
}
#helpContainer {
    margin-left: 40px;
}
#detailsContainer {
    .title {
        position: absolute;
        left: 100px;
        top: 75px;
        font-family: RweHeadlineRegular;
        text-transform: uppercase;
        font-size: 26px;
        color: #0065A9;
    }
    .userDetailsTable {
        position: absolute;
        left: 100px;
        top: 150px;
        width: 75%;
        font-size: 17px;
        font-weight: 100;
        color: #0065a9;
    }
}
#modalRepository {
    display: none;
}
.mozaicForm {
    position: relative;

    .uic {
        position: absolute;
    }
    
    .button-simple {
        background-color: #4b8ad1;
        border: 1px solid #4b8ad1;
        color: white;

    }
    .button-simple[disabled], .button-simple.looks-disabled {
        background-color: #d5d2d2;
        border: 1px solid #a0a0a0;
        color: black;
    }
    .button-dropdown {
        background-color: white;
        border: 1px solid #4b8ad1;
        color: #4b8ad1;
    }
    .button-large {
        width: 198px;
        height: 31px;
        font-size: 18px;
        .fa-caret-down {
            padding-left: 7px;
        }
    }
    .button-small {
        width: 112px;
        height: 23px;
        font-size: 14px;
        .fa-caret-down {
            padding-left: 5px;
        }
    }
    .button-extra-small {
        width: 78px;
        height: 19px;
        font-size: 11px;
        .fa-caret-down {
            padding-left: 3px;
        }
    }
    .input-single-line {
        width: 220px;
        height: 25px;
        border: 1px solid #b8b4ab;
        padding-left: 6px;
    }
    .input-multiline {
        width: 260px;
        height: 75px;
        border: 1px solid #b8b4ab;
        padding-left: 6px;
        resize: none;
    }
    .input-read-only {
        background-color: #e0e0e0;
    }
    .uic.has-error {
        border: 1px solid red;
        box-shadow: 0px 0px 1px 0px rgba(255,0,0,1);
    }
    .info-container {
        @include no-select();
        color: #58585a;
        position: relative;
        width: 260px;

        .info-container-icon {
            position: absolute;
            left: 0px;
            top: 4px;
            font-size: 18px;
        }
        .info-container-header {
            position: absolute;
            left: 24px;
            top: 0px;
            font-size: 18px;
        }
        .info-container-body {
            padding-top: 26px;
        }
    }
    .breadcrumb-navigation {
        @include no-select();
        @include linear-gradient(#0086be, #0065a9);
        color: white;
        font-family: RweTextMedium;
        padding: 12px 12px;
        border-radius: 4px;
        font-size: 11px;
        width: 200px;
        height: 55px;

        .app-icon {
            position: absolute;
            font-weight: 100;
            width: 30px;
            height: 30px;
            padding-top: 3px;
            border: 2px solid white;
            border-radius: 50%;
            font-size: 19px;
            text-align: center;
            vertical-align: middle;
        }
        .nav-text {
            position: absolute;
            left: 54px;
            font-family: RweHeadlineRegular;
            font-size: 20px;
            white-space: nowrap;
        }
    }
    .tab-navigation {
        @include no-select();
        white-space: nowrap;

        li {
            a.fa {
                font-size: 20px;
                height: 42px;
                padding-top: 6px;
            }
        }
    }
    .control-label {
        @include no-select();
        font-family: MyriadPro;
        font-size: 14px;
        color: #58585a;
        white-space: nowrap;

        b {
            font-size: 1.15em;
        }
        u {
            color: #0065a9;
        }
    }
    .detail-label {
        color: #0066cc;
        font-weight: bold;
        text-align: right;
    }
    .form-heading {
        @include no-select();
        font-family: RweHeadlineRegular;
        font-size: 28px;
        color: #58585a;
        white-space: nowrap;
    }
    .checkbox-control {
        width: auto;
        white-space: nowrap;

        .checkbox-label {
            margin-left: 6px;
            font-family: MyriadPro;
            font-size: 14px;
            color: #58585a;
            white-space: nowrap;
        }
    }
    .radio-control {
        display: inline-block;
        white-space: nowrap;

        .radio-label {
            margin-left: 6px;
            font-family: MyriadPro;
            font-size: 14px;
            color: #58585a;
            white-space: nowrap;
        }
    }
    .dataTables_wrapper .inner_wrapper {
        width: 100%;
        overflow-x: auto;
    }
    .data-table {
        width: 250px;
        border: 1px solid #4b8ad1;
        height: auto !important;

        tr {
            th:first-child, td:first-child {
                display: none;
            }
        }
        tfoot {
            display: table-header-group;

            th {
                padding: 10px 18px 6px 10px;

                input {
                    width: 53px;
                }
                input:focus {
                    width: 180px;
                }
            }
        }
        .actionIcons {
            width: 60px;

            .fa {
                font-size: 16px;
                margin-right: 5px;
                cursor: pointer;
            }
            .fa-edit, .fa-search, .fa-sign-in {
                color: #0065a9;
            }
            .fa-remove {
                color: #e3001b;
            }
            .fa-sign-in {
                font-size: 20px;
            }
        }
        thead {
            white-space: nowrap;
        }
    }
    .data-table-simple-mode {
        background-color: white;
        tfoot {
            display: none;
        }
    }
    .name-value-list {
        font-family: MyriadPro;
        font-size: 14px;

        tr {
            border-top: 1px solid #01a1f7;
        }
        tr:first-child {
            display: none;
        }
        tr:nth-child(2) {
            border-top: 2px solid #01a1f7;
        }
        tr:last-child {
            border-bottom: 2px solid #01a1f7;
        }
        td {
            padding-top: 3px;
            padding-bottom: 3px;
        }
        .name-cell {
            min-width: 140px;
            padding-left: 10px;
            padding-right: 10px;
            font-weight: bold;
            background-color: #d4f0fe;
        }
        .value-cell {
            min-width: 140px;
            padding-left: 25px;
            padding-right: 10px;
        }
    }
    .name-value-list.toolboxItem {
        .name-cell {
            min-width: 110px;
        }
        .value-cell {
            min-width: 60px;
        }
    }
    .visible-panel-pale-background {
        background-color: #cce0f5;
    }
    .named-panel {
        background-color: #cce0f5;

        .named-panel-header {
            position: absolute;
            left: 0px;
            top: 0px;
            right: 0px;
            min-height: 25px;
            padding: 1px 6px;
            background-color: #0066cc;
            color: white;
            font-family: MyriadPro;
            font-size: 18px;
        }
    }
    .removePanelIcon {
        @include no-select();
        position: absolute;
        right: 6px;
        top: 6px;
        font-size: 19px;
        color: #58585a;
    }
    .removePanelIcon:hover {
        color: #e3001b;
    }
}
.app-alert {
    width: 100%;
    font-family: MyriadPro;
    font-size: 18px;
    padding: 6px 20px;
    border-width: 1px;
    border-style: solid;

    .alertSymbol {
        padding-right: 10px;
    }
    .closeAlertIcon {
        color: #e3001b;
        float: right;
        margin-top: 4px;
        cursor: pointer;
    }
}
.app-alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.app-alert-success.app-alert-odd{
    background-color: darken(#d6e9c6, 5%);
}
.app-alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.app-alert-error.app-alert-odd{
    background-color: darken(#f2dede, 5%);
}
.app-alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.app-alert-warning.app-alert-odd{
    background-color: darken(#fcf8e3, 5%);
}
.app-alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.app-alert-info.app-alert-odd{
    background-color: darken(#d9edf7, 5%);
}
.hiddenForm {
    display: none;
}

.dataTables_wrapper {
    input, select {
        border: 1px solid #4b8ad1;
        height: 25px;
    }

    .dataTables_paginate {
        padding-top: 0.600em !important;
        .paginate_button {
            background: #4fa7ff !important;
            padding: 2px 8px !important;
            border-radius: 0px !important;
            border: none !important;
            color: white !important;
            &:hover {
                color: white !important;
                background: #519ae2 !important;
            }
            &.current {
                background-color: #0066cc !important;
                color: white !important;
                &:hover {
                    color: white !important;
                }
            }
            &.previous, &.next {
                background-color: transparent !important;
                color: black !important;
                &:hover {
                    color: #494d57 !important;
                }
                &.disabled {
                    opacity: 0.4;
                    &:hover {
                        color: black !important;
                    }
                }
            }
        }
    }
}

table.dataTable {
    margin: 0 !important;
    width: 100% !important;

    thead, tr th {
        background-color: #f1f1f1;
    }

    thead th {
        border-bottom: 1px solid #4b8ad1;
    }

    tfoot th {
        border-bottom: 1px solid #beccdc;
        border-top: none;
        padding: 0 !important;

        input {
            width: 100% !important;
            border: none !important;
            border-right: 1px solid #beccdc !important;
            padding: 0px 5px;
            box-sizing: border-box;
        }
        
        &:last-child input {
            border-right: none !important;
        }
    }
}