@import "Mixins.scss";
@import "Fonts.scss";

#userTopBar {
    @include no-select();
    @include linear-gradient(#edf8fe, #ceeaf8);
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 50px;

    .icon {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding-top: 5px;
        padding-left: 10px;
        z-index: 50;
        font-size: 32px;
        color: #0065a9;
        cursor: pointer;
    }
    .activeIcon {
        background-color: #edf8fe;
        cursor: default;
    }

    #toggleMenuIcon{
        display: none;
    }
    .clientTitle {
        position: absolute;
        font-family: RweHeadlineRegular;
        text-transform: uppercase;
        font-size: 20px;
        color: #59575c;
        padding-top: 10px;
        top: 0px;
        left: 0px;
        right: 0px;
        text-align: center;
    }
    .clientTitleArea {
        position: absolute;
        left: 160px;
        top: 0px;
        right: 540px;
        height: 50px;
    }
    .userBoxMinimized {
        display: none;
    }
    .userBox, .userBoxMinimized {
        position: absolute;
        top: 0px;
        right: 290px;
        width: 250px;
        height: 50px;
        .avatar {
            position: absolute;
            left: 5px;
            top: 5px;
            width: 40px;
            height: 40px;
            background-image: url(/Content/images/avatar-generic.png);
            background-size: 40px 40px;
        }
        .fullName {
            position: absolute;
            left: 65px;
            top: 6px;
            font-family: RweTextMedium;
            font-size: 14px;
        }
        .commands {
            position: absolute;
            left: 65px;
            top: 24px;
            color: #0065a9;
            font-family: RweTextMedium;
            font-size: 14px;
        }
        .notificationIcon {
            position: absolute;
            right: 30px;
            top: 8px;
            font-size: 30px;
            color: #0065a9;
            cursor: pointer;
        }

    }
    .searchBoxMinimised {
        display: none;
    }
    .searchBox, .searchBoxMinimized {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 310px;
        height: 50px;
        .searchInputField {
            position: absolute;
            bottom: 11px;
            right: 85px;
            width: 215px;
            height: 28px;
            background-color: white;
            color: #a2b4cc;
            padding-left: 14px;
            padding-top: 4px;
            font-family: RweTextMedium;
            font-size: 14px;
            border: none;
        }
        .searchIcon {
            position: absolute;
            right: 30px;
            top: 8px;
            font-size: 30px;
            color: #0065a9;
            cursor: pointer;
        }

    }
}
#userLeftBar {
    @include no-select();
    background-color: #edf8fe;
    position: absolute;
    left: 0px;
    top: 50px;
    bottom: 0px;
    width: 310px;
    border-right: 1px solid #f1f0ee;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    transition: 0.4s ease-out;

    *{transition: 0.4s ease-out}
        
    .widgetLabel {
        position: absolute;
        font-family: RweHeadlineRegular;
        text-transform: uppercase;
        font-size: 20px;
        color: #0065a9;
        padding: 0 30px;
        top: 30px;
        left: 0px;
        right: 30px;
        overflow: hidden;
        white-space: nowrap;
    }
    .circles {
        position: absolute;
        color: #0065a9;
        left: 32px;
        top: 65px;

        .fa {
            margin-right: 9px;
        }
    }
    #switchMenuIcon {
        position: absolute;
        font-size: 18px;
        color: #0065a9;
        left: 260px;
        top: 35px;
    }
    #showMenuIcon, #hideMenuIcon {
        position: absolute;
        font-size: 28px;
        color: #0065a9;
        right: 12px;
        top: 30px;
        cursor: pointer;            
    }
    #showMenuIcon {
        display: none;
    }
    .appList {
        position: absolute;
        font-size: 17px;
        font-weight: 100;
        color: #0065a9;
        left: 0px;
        top: 75px;
        right: 0px;
        .appListItem {
            position: relative;
            height: 40px;
            border-top: 1px solid #d6dfe6;
            cursor: pointer;
            .icon {
                position: absolute;
                top: 10px;
                left: 32px;
            }
            .appName {
                position: absolute;
                top: 8px;
                left: 62px;
                right: 10px;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        .appListItem:hover{
            background-color: #ceeaf8;
        }
    }
    .infoBox {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 310px;
        height: 90px;
        color: #919296;
        .icon {
            position: absolute;
            left: 15px;
            font-size: 60px;
        }
        .infoText {
            position: absolute;
            left: 85px;
            top: 5px;
            font-size: 12px;
            opacity: inherit;
        }
    }
    #appMenu {
        position: absolute;
        left: 0px;
        top: 75px;
        font-family: MyriadPro;
        color: #58585a;
        font-size: 18px;
        padding-left: 0px;

        > li {
            list-style: none;
            h4 {
                padding-left: 40px;
            }
            ul {
                color: #0065a9;
                font-size: 14px;
                padding-left: 0px;
                padding-bottom: 15px;
                li {
                    list-style: none;
                    width: 250px;
                    padding-left: 15px;
                    padding-top: 3px;
                    margin-left: 45px;
                    height: 24px;
                    cursor: pointer;
                }
                li:hover{
                    background-color: #ceeaf8;
                }
            }
        }
        a {
            color: #0065a9;
            width: 100%;
            height: 100%;
            display: block;
        }
        a:hover {
            text-decoration: none;
            color: #0065a9;
        }
    } 
}

#appNotificationArea {
    position: fixed;
    left: 310px;
    top: 50px;
    right: 0;
    z-index: 5;
    transition: left 0.4s ease-out;
}

body.userLayout.leftBarHidden {
    #userLeftBar {
        width: 50px;
        overflow: hidden;

        #hideMenuIcon {
            display: none;
        }
        #showMenuIcon {
            display: inline-block;
        }
        .widgetLabel{
            padding: 0 0 0 20px;
        }
        .appListItem {
            border-color: #edf8fe;
        }
        .appListItem .icon {
            left: 18px;
        }
        #appMenu {
            left: 20px;
        }
        .infoBox {
            opacity: 0;
            //transition: 0.4s ease-in;
        }
    }
    #userContentArea, #helpContainer, #pageOverlay, #appNotificationArea{
        left: 50px;
    }
}

@media (max-width: 799px) {
    body.userLayout.leftBarHidden #userLeftBar {
        width: 0;
    }
    #userTopBar {
        #toggleMenuIcon, > a {
            display: block;
            float: left;
        }

        .clientTitleArea {
            left: 200px;
            right: 140px;
        }
        .userBox {
            display: none;
            background-color: #edf8fe;
            top: 50px;
            right: 0;
            width: 150px;
            border: 1px solid #f1f0ee;
            z-index: 10;

            .notificationIcon, .avatar {
                display: none;
            }
            .fullName, .commands {
                left: 15px;
            }
        }
        .userBoxMinimized {
            display: block;
            width: 90px;
            position: absolute;
            right: 50px;
            .notificationIcon {
                right: 0px;
            }
        }
        .searchBox {
            display: none;
            position: absolute;
            left: 0;
            top: 50px;
            width: 100%;
            background-color: #edf8fe;
            z-index: 10;
            .searchInputField {
                left: 15px;
                width: calc(100% - 70px);
            }
            .searchIcon {
                position: absolute;
                right: 15px;
            }
            .searchIcon::before {
                content: "\f061";
            }
        }

        .searchBoxMinimized {
            display: block;
            width: 50px;
            .searchIcon {
                right: 10px;
            }
        }
    }
    body.userLayout #userLeftBar, body.userLayout.leftBarHidden #userLeftBar {
        #showMenuIcon, #hideMenuIcon {
            display: none;
        }
    }
    body.userLayout, body.userLayout.leftBarHidden {
        #userContentArea, #helpContainer, #pageOverlay, #appNotificationArea {
            left: 0px;
        }
    }
}

@media (min-width: 800px) {
    .userBox, .searchBox {
        display: block !important;
    }
}

@media (max-width: 479px) {
    #userTopBar .clientTitle { 
        display: none;
    }
}

#userContentArea {
    position: absolute;
    left: 310px;
    top: 50px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    transition: left 0.4s ease-out;
}
#helpContainer {
    margin-left: 40px;
}
#detailsContainer {
    .title {
        position: absolute;
        left: 100px;
        top: 75px;
        font-family: RweHeadlineRegular;
        text-transform: uppercase;
        font-size: 26px;
        color: #0065A9;
    }
    .userDetailsTable {
        position: absolute;
        left: 100px;
        top: 150px;
        width: 75%;
        font-size: 17px;
        font-weight: 100;
        color: #0065a9;
    }
}
#modalRepository {
    display: none;
}
.app-alert {
    width: 100%;
    font-family: MyriadPro;
    font-size: 18px;
    padding: 6px 20px;
    border-width: 1px;
    border-style: solid;

    .alertSymbol {
        padding-right: 10px;
    }
    .closeAlertIcon {
        color: #e3001b;
        float: right;
        margin-top: 4px;
        cursor: pointer;
    }
}
.app-alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.app-alert-success.app-alert-odd{
    background-color: darken(#d6e9c6, 5%);
}
.app-alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.app-alert-error.app-alert-odd{
    background-color: darken(#f2dede, 5%);
}
.app-alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.app-alert-warning.app-alert-odd{
    background-color: darken(#fcf8e3, 5%);
}
.app-alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.app-alert-info.app-alert-odd{
    background-color: darken(#d9edf7, 5%);
}
.hiddenForm {
    display: none;
}
