@{ FSS.Omnius.FrontEnd.Utils.T t = new FSS.Omnius.FrontEnd.Utils.T( (string)ViewData["locale"] ); }
    <ul  id=appMenu>
@if (Context.GetLoggedUser().canUseBlock("user",93)){            <li>
                    <h4>@(t._("Emaily"))</h4>

    <ul >
@if (Context.GetLoggedUser().canUseBlock("user",93)){            <li>
                    <a href="/TestNada/Adresati">@(t._("Adresáti"))</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("user",93)){            <li>
                    <a href="/TestNada/PoslatZpravu">@(t._("Poslat zprávu"))</a>
            </li>
}    </ul>
            </li>
}    </ul>
