@{
    Layout = "~/Views/Shared/_PartialViewAjaxLayout.cshtml";
}
<div id="nexusUpperPanel">
    <div class="panelLabel">Nexus</div>
    <svg class="backgroundDecoration" width="540px" height="565px">
        <path d="M31 0 L31 28 L65 62 L376 62" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 357 L31 108 L65 74 L376 74" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 47 L52 68 L31 89 L10 68 Z" stroke="#49c4f1" stroke-width="1" fill="none" />
    </svg>
    <img class="decorationWatcheye" src="~/Content/images/watcheye_small.png" />
    <div id="nexusMenuArea">
        <div id="nexusMenuLDAP" class="nexusMenuItem">
            <div class="buttonLabel">LDAP</div>
            <div class="fa fa-book"></div>
            <div class="itemCount">@ViewData["LdapServersCount"]</div>
        </div>
        <div id="nexusMenuWebServices" class="nexusMenuItem">
            <div class="buttonLabel">WebServices</div>
            <div class="fa fa-globe"></div>
            <div class="itemCount">@ViewData["WebServicesCount"]</div>
        </div>
        <div id="nexusMenuExtDB" class="nexusMenuItem">
            <div class="buttonLabel">Externí databáze</div>
            <div class="fa fa-database"></div>
            <div class="itemCount">@ViewData["ExtDatabasesCount"]</div>
        </div>
    </div>
    <div id="hideNexusPanelIcon" class="fa fa-caret-up"></div>
</div>
<div id="minimizedNexusUpperPanel">
    <div class="panelLabel">Nexus</div>
    <div id="showNexusPanelIcon" class="fa fa-caret-down"></div>
</div>
