@{
    Page.Title = "Omnius Portal";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "portalModule";
}

<div id="centralAdminPanel">
    <div class="panelLabel">Centrální administrace</div>
    <div id="usersOnlineIndicator" class="indicatorRectangle">
        <div class="bigNumber">26</div>
        <div class="indicatorLabel">přihlášených uživatelů</div>
    </div>
    <div id="errorSample" class="indicatorBar error"><i class="fa fa-bolt"></i><div class="message">Chyba: Datový tok SN</div></div>
    <div id="warningSample" class="indicatorBar warning"><i class="fa fa-warning"></i><div class="message">Varování: 2GB místa na disku E:</div></div>
    <div id="infoSample" class="indicatorBar info"><i class="fa fa-check"></i><div class="message">Vymazání HR cache úspěšné</div></div>
    <div id="activeProfileIndicator" class="indicatorRectangle">
        <div class="bigTextLine">RWE_PROD</div>
        <div class="indicatorLabel">profil aktivní</div>
    </div>
    <div id="activeModulesIndicator" class="indicatorRectangle">
        <div class="bigNumber">11</div>
        <div class="indicatorLabel">aktivních modulů</div>
    </div>
    <div id="maintenanceIndicator" class="indicatorRectangle">
        <div class="bigTextLine">ÚDRŽBA</div>
        <div class="indicatorLabel">vypnuta</div>
    </div>
</div>
<div id="moduleAdminPanel">
    <div class="panelLabel">Správa modulů</div>
    <div class="moduleArea">
        <div class="moduleRow">
            <div class="moduleSquare" style="background-image: url(/Content/images/ModuleIcons/cortex.png)"></div>
            <div class="moduleSquare" style="background-image: url(/Content/Images/ModuleIcons/hermes.png)"></div>
            <div class="moduleSquare" style="background-image: url(/Content/Images/ModuleIcons/persona.png)"></div>
            <div class="moduleSquare" style="background-image: url(/Content/Images/ModuleIcons/sentry.png)"></div>
            <div class="moduleSquare" style="background-image: url(/Content/Images/ModuleIcons/nexus.png)"></div>
            <div class="moduleSquare selectedSquare" style="background-image: url(/Content/Images/ModuleIcons/athena.png)"></div>
        </div>
        <div class="moduleRow">
            <div class="moduleSquare" style="background-image: url(/Content/Images/ModuleIcons/watchtower.png)"></div>
            <div class="moduleSquare" style="background-image: url(/Content/Images/ModuleIcons/core.png)"></div>
            <div class="moduleSquare" style="background-image: url(/Content/Images/ModuleIcons/entitron.png)"></div>
            <div class="moduleSquare" style="background-image: url(/Content/Images/ModuleIcons/tapestry.png)"></div>
            <div class="moduleSquare" style="background-image: url(/Content/Images/ModuleIcons/mozaic.png)"></div>
            <div class="moduleSquare" style="background-image: url(/Content/Images/ModuleIcons/master.png)"></div>
        </div>
        <div class="moduleRow">
            <div class="moduleSquare" style="background-image: url(/Content/Images/ModuleIcons/plus.png)"></div>
        </div>
    </div>
</div>
<div id="moduleConfigPanel">
    <div class="panelLabel">Konfigurace modulu</div>
    <div class="currentModuleIcon" style="background-image: url(/Content/Images/ModuleIcons/athena.png)"></div>
    <div class="currentModuleName">Athena</div>
    <div class="currentModuleDescription">Analytický modul</div>
    <div class="currentModuleLastChange"><b>Poslední změna:</b> 17.4.2015</div>

    <table class="moduleConfigTable">
        <tr class="headerRow">
            <td colspan="2">Hlavní</td>
        </tr>
        <tr>
            <td>Stav</td>
            <td class="inactive">Neaktivní<i class="fa fa-caret-down"></i></td>
        </tr>
        <tr>
            <td>Účet</td>
            <td>athena_service_account</td>
        </tr>
        <tr class="headerRow">
            <td colspan="2">Služby</td>
        </tr>
        <tr>
            <td colspan="2">/service/athena/chart_renderer.xml</td>
        </tr>
        <tr>
            <td colspan="2">/service/athena/analytic_unit.xml</td>
        </tr>
    </table>
</div>
