@model FSS.Omnius.Modules.Entitron.Entity.Mozaic.Css

@using (Ajax.BeginForm("Update", "Css", new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "form form-horizontal" }))
{
    <div class="form-group">
        <label for="EditCssName" class="control-label col-sm-2">Name:</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Name, new { @id = "EditCssName", @onkeyup = "ValidateName()", @maxlength = 50, @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="Value" class="control-label col-sm-2">SCSS content:</label>
        <div class="col-sm-10">
            @Html.TextAreaFor(x => x.Value, new { @rows = "15", @style = "resize:vertical", @name = "EditCssValue", @resize = "vertical", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <button type="submit" id="saveButton" class="btn btn-primary">Save</button>
        <button id="removeChild" class="btn btn-danger">Remove</button>
        @Html.ActionLink("Back", "Index", new { }, new { @class = "btn btn-default" })
    </div>
    
    <!-- Input validation -->
    <link href="~/Scripts/cm/lib/codemirror.css" rel="stylesheet" />
    <link href="~/Scripts/cm/addon/hint/show-hint.css" rel="stylesheet" />

    <script src="~/Scripts/cm/lib/codemirror.js"></script>

    <script src="~/Scripts/cm/mode/css/css.js"></script>

    <script src="~/Scripts/cm/addon/hint/show-hint.js"></script>
    <script src="~/Scripts/cm/addon/hint/css-hint.js"></script>
    
    <script src="~/Scripts/cm/addon/edit/closebrackets.js"></script>
    <script src="~/Scripts/cm/addon/edit/matchbrackets.js"></script>
    
    <script>
        setTimeout(function() {
            var editor = CodeMirror.fromTextArea(document.getElementById("Value"), {
                lineNumbers: true,
                lineWrapping: true,
                matchBrackets: true,
                autoCloseBrackets: true,
                mode: "text/x-scss",
                extraKeys: {
                    "Ctrl-Space": "autocomplete"
                }
            });
        }, 500);

        function ValidateName()
        {
            var name = document.getElementById("EditCssName").value;

            if (name == "" || name == null)
            {
                SetNameBadStyle();
                SetSaveBadStyle();
            }
            else
            {
                SetNameGoodStyle();
                SetSaveGoodStyle();
            }
        }

        function SetNameBadStyle() {
            var element = document.getElementById("EditCssName");
            element.style.backgroundColor = "Salmon";
        }

        function SetNameGoodStyle() {
            var element = document.getElementById("EditCssName");
            element.style.backgroundColor = "white";
        }

        function SetSaveBadStyle() {
            var element = document.getElementById("saveButton");
            element.disabled = true;
        }

        function SetSaveGoodStyle() {
            var element = document.getElementById("saveButton");
            element.disabled = false;
        }
    </script>
}
