body.hermesModule {
    #upperPanel {
        height: 295px;
    }
    #lowerPanel {
        top: 370px;
    }
    h4.variableListTitle {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 15px;
    }
    #NumOrderList li {
        list-style: none;
        width: 300px;
        height: 44px;
        padding: 10px 15px;
        margin: 10px;
        background-color: #467ea8;
        color: white;
        cursor: ns-resize;
        font-family: MyriadPro;
        font-size: 18px;
        border-radius: 3px;
    }
    #NumOrderList .ui-sortable-helper {
        border: 1px solid #49c3f1;
        box-shadow: 0px 0px 22px #49c3f1;
    }
    #numOrderArea {
        margin-bottom: 100px;
    }

    .conditions {
       
        .conditionSetIcon {
            display: inline-block;
            background-color: #49c3f1;
            color: black;
            font-family: MyriadPro;
            margin: 3px; 
            padding: 2px 10px;
            cursor: pointer;
        }

        .conditionSetIcon:hover {
            background-color: #2ddef9;
        }

        .conditionSet {
            position: relative;
            border-top: 1px solid black;
            padding-top: 7px;
            margin-top: 15px;
        }

        .removeConditionSetIcon {
            position: absolute;
            right: 10px;
            top: 10px;
            background-color: #d9534f;
            color: white;
            width: 24px;
            height: 24px;
            line-height: 24px;
            margin: 3px;
            text-align: center;
            cursor: pointer;
        }

        .removeConditionSetIcon:hover {
            background-color: #f06771;
        }

        .conditionSetHeading {
            margin-bottom: 6px;
        }

        .conditionTable {
            
            td {
                padding-left: 5px;
                padding-right: 5px;
                padding-bottom: 3px;
            }

            td.conditionOperator {
                width: 40px;
            }

            .conditionActions {
                 width: 100px;

                .conditionActionIcon {
                    display: inline-block;
                    background-color: #49c3f1;
                    color: black;
                    width: 24px;
                    height: 24px;
                    margin: 3px;
                    line-height: 24px;
                    text-align: center;
                    cursor: pointer;
                }

                .conditionActionIcon:hover {
                    background-color: #2ddef9;
                }

                .removeConditionIcon {
                    background-color: #d9534f;
                    color: white;
                }

                .removeConditionIcon:hover {
                    background-color: #f06771;
                }
            }
        }
    }


    @media only screen and (max-width: 1460px) {
        .lowerRightDecoration {
            display: none;
        }
    }
    @media only screen and (max-width: 1290px) {
        .tileMenuArea {
            transform: scale(0.9);
        }
        .lowerRightDecoration {
            display: none;
        }
    }
    @media only screen and (max-width: 1190px) {
        .tileMenuArea {
            transform: scale(0.8);
        }
        .lowerRightDecoration {
            display: none;
        }
    }
    @media only screen and (max-width: 1120px) {
        .tileMenuArea {
            transform: scale(0.8);
        }
        .moduleSubMenuArea {
            transform: scale(0.9);
        }
        .lowerRightDecoration {
            display: none;
        }
    }
    @media only screen and (max-width: 1090px) {
        .tileMenuArea {
            transform: scale(0.75);
        }
        .moduleSubMenuArea {
            transform: scale(0.8);
        }
        .lowerRightDecoration {
            display: none;
        }
    }
}
