.personaModule {
    background-color: #f2f2f3;

    #upperPanel {
        height: 135px;
    }

    #lowerPanel {
        top: 200px;
        padding: 50px;

        h4 {
            font-family: FatTec;
            font-size: 20px;
            color: #457fa9;
            margin-left: 25px;
        }
        .rightsFormUpperDecoration {
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: -10
        }
        .editAppRolesIcon {
            font-size: 16px;
            margin-left: 8px;
            color: white;
        }
        .editAppRolesIcon:hover {
            text-decoration: none;
            color: #f98e4b;
        }

        #DetailUser {
            min-height: 1600px;
        }
    }
}
.personaModulesModule {
    background-color: #f2f2f3;

    #upperPanel {
        @include no-select();
        position: absolute;
        left: 225px;
        top: 75px;
        right: 0px;
        height: 135px;
    }
    #lowerPanel {
        @include no-select();
        top: 200px;

        .modulesFormUpperDecoration {
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: -10
        }
        .panelLabel {
            position: absolute;
            left: 52px;
            top: 24px;
            font-size: 18px;
            font-family: FatTec;
            color: black;
        }
        .backgroundDecoration {
            position: absolute;
            left: 0px;
            top: 0px;
        }
        .decorationWatcheye {
            position: absolute;
            left: 19px;
            top: 56px;
            width: 24px;
            height: 24px;
        }
        #personaModulesContentContainer {
            position: absolute;
            left: 150px;
            top: 50px;
        }
        #moduleAccessTable {
            th {
                font-weight: bold;
                text-align: center;
            }
            .moduleCell {
                width: 110px;
                font-weight: bold;
            }
            .checkboxCell {
                @include no-select();
                width: 140px;
                text-align: center;
                font-size: 17px;
            }
            .yesCell {
                color: #00d000;
            }
            .noCell {
                color: #f06771;
            }
            .hiddenIdRow {
                display: none;
            }
            
            th.hide_me, td.hide_me {
                display: none;

            }
            tr th:first-child, tr > td:first-child {
                display: none;
            }
        }
     
        #personaModulesFormButtonsPanel {
            position: relative;
            margin-left: 10px;
            margin-top: 90px;
            margin-bottom: 50px;

            .btn-omnius-rectangular {
                margin-right: 15px;
            }
            .modulesFormLowerDecoration {
                position: absolute;
                left: -120px;
                top: -135px;
                z-index: -10
            }
        }
    }
}
.personaRolesModule {
    #upperPanel {
        height: 135px;
    }
    #lowerPanel {
        top: 200px;
        padding: 50px;

        .appName {
            color: #f1a57a;
        }
        #groupRolesTable {
            width: auto;
            margin-top: 40px;

            td {
                height: 5px;
            }
            th {
                font-weight: bold;
                text-align: center;
            }
            .userNameCell {
                min-width: 110px;
                font-weight: bold;
            }
            .checkboxCell {
                @include no-select();
                width: 140px;
                text-align: center;
                font-size: 17px;
            }
            .yesCell {
                color: #00d000;
            }
            .noCell {
                color: #f06771;
            }
            .hiddenIdRow {
                display: none;
            }
        }

        h4 {
            font-family: FatTec;
            font-size: 20px;
            color: #457fa9;
            margin-left: 25px;
        }
    }
}
