@import "Mixins.scss";
@import "Fonts.scss";

body.portalModule {
    background-color: #f2f2f3;

    #upperPanel {
        @include no-select();
        position: fixed;
        left: 225px;
        top: 75px;
        right: 0px;
        height: 357px;
        background-color: #3a3a3a; 
        z-index:10000;
        .panelLabel {
            position: absolute;
            left: 52px;
            top: 24px;
            font-size: 18px;
            font-family: FatTec;
            color: white;
        }
        .backgroundDecoration {
            position: absolute;
            left: 0px;
            top: 0px;
        }
        .decorationWatcheye {
            position: absolute;
            left: 19px;
            top: 56px;
            width: 24px;
            height: 24px;
        }
        .indicatorRectangle, .clickableIndicatorRectangle {
            position: relative;
            display: inline-block;
            width: 308px;
            height: 147px;
            margin-right: 17px;
            white-space: normal;
        }
        .clickableIndicatorRectangle {
            background-color: #21a7b5;
        }
        .clickableIndicatorRectangle.highlighted {
            background-color: #f68d4d !important;
        }
        .maintenanceActive {
            background-color: #2d74b2 !important;
        }
        .indicatorBar {
            position: relative;
            display: block;
            width: 232px;
            height: 38px;
            margin-bottom: 16px;
            font-family: MyriadPro;
            color: white;
        
            .fa {
                position: absolute;
                font-size: 17px;
                left: 10px;
                top: 10px;
            }
            .message {
                position: absolute;
                font-size: 15px;
                left: 26px;
                top: 8px;
            }
        }
        .indicatorBar.error {
            background-color: #dd5660;
        }
        .indicatorBar.warning {
            background-color: #f3a67b;
        }
        .indicatorBar.info {
            background-color: #21a7b5;
        }
        #upperResponsiveArea {
            position: absolute;
            left: 70px;
            top: 110px;
            width: 100%;
            white-space: nowrap;
            vertical-align: top;
            transform-origin: left top;
        }
        #notificationArea, #rectangleIndicatorsArea {
            display: inline-block;
            white-space: nowrap;
            vertical-align: top;
        }
        #usersOnlineIndicator {
            .bigNumber {
                position: absolute;
                left: 20px;
                top: -10px;
                color: white;
                font-size: 110px;
                font-family: MyriadPro;
            }
            .indicatorLabel {
                position: absolute;
                left: 150px;
                top: 30px;
                color: white;
                font-size: 22px;
                font-family: MyriadPro;
            }
        }
        #activeProfileIndicator {
            .bigTextLine {
                position: absolute;
                left: 20px;
                top: 10px;
                color: white;
                font-size: 52px;
                font-family: MyriadPro;
            }
            .indicatorLabel {
                position: absolute;
                left: 150px;
                top: 85px;
                color: white;
                font-size: 22px;
                font-family: MyriadPro;
            }
        }
        #activeModulesIndicator {
            .bigNumber {
                position: absolute;
                left: 20px;
                top: -10px;
                color: white;
                font-size: 110px;
                font-family: MyriadPro;
            }
            .indicatorLabel {
                position: absolute;
                left: 150px;
                top: 30px;
                color: white;
                font-size: 22px;
                font-family: MyriadPro;
            }
        }
        #maintenanceIndicator {
            background-color: #f48b99;

            .bigTextLine {
                position: absolute;
                left: 20px;
                top: 10px;
                color: white;
                font-size: 52px;
                font-family: MyriadPro;
            }
            .indicatorLabel {
                position: absolute;
                left: 20px;
                top: 85px;
                color: white;
                font-size: 22px;
                font-family: MyriadPro;
            }
        }
    }
    #minimizedUpperPanel {
        @include no-select();
        position: absolute;
        left: 225px;
        top: 75px;
        right: 0px;
        height: 40px;
        background-color: #3a3a3a;
        display: none;
        .panelLabel {
            position: absolute;
            left: 52px;
            top: 10px;
            font-size: 18px;
            font-family: FatTec;
            color: white;
        }
    }
    #lowerPanel {
        @include no-select();
        position: absolute;
        left: 225px;
        top: 432px;
        right: 0px;
        height: auto;
    }
    #moduleAdminPanel {
        @include no-select();
        position: absolute;
        left: 0px;
        top: 0px;
        max-width: 1200px;
        margin-right: 0px;
        height: 357px;

        .panelLabel {
            position: absolute;
            left: 52px;
            top: 24px;
            font-size: 18px;
            font-family: FatTec;
            color: #3e3e3e;
        }
        .moduleArea {
            vertical-align: top;
            margin-left: 66px;
            margin-top: 108px;
            transform-origin: left top;
        }
        .moduleSquare {
            display: inline-block;
            width: 160px;
            height: 160px;
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 15px;
            margin-bottom: 15px;
            border: 10px solid #f2f2f3;
            background-repeat: no-repeat;
        }
        .moduleSquare.selectedSquare {
            border: 10px solid #f68d4d;
        }
    }

    #moduleConfigPanel {
        @include no-select();
        position: absolute;
        top: 0px;
        right: 0px;
        width: 490px;
        height: 357px;

        .panelLabel {
            position: absolute;
            right: 56px;
            top: 24px;
            font-size: 18px;
            font-family: FatTec;
            color: #3e3e3e;
        }
        .currentModuleIcon {
            position: absolute;
            left: 0px;
            top: 110px;
            width: 105px;
            height: 105px;
            background-repeat: no-repeat;
            background-size: 105px;
        }
        .currentModuleName {
            position: absolute;
            left: 135px;
            top: 110px;
            color: #3a3a3a;
            font-family: FatTec;
        }
        .currentModuleDescription {
            position: absolute;
            left: 135px;
            top: 140px;
            color: #3a3a3a;
            font-size: 18px;
            font-family: MyriadPro;
        }
        .currentModuleLastChange {
            position: absolute;
            left: 135px;
            top: 175px;
            color: #3a3a3a;
            font-size: 18px;
            font-family: MyriadPro;
        }
        .moduleConfigTable {
            position: absolute;
            left: 0px;
            top: 240px;
            width: 410px;
            table-layout: fixed;
            font-size: 18px;
            font-family: MyriadPro;
            border-collapse:collapse;
            border: 1px solid #727273;
        }
        .moduleConfigTable tr {
            height: 30px;
        }
        .moduleConfigTable td {
            padding-left: 16px;
            border: 1px solid #727273;
        }
        .moduleConfigTable tr.headerRow {
            background-color: #aaabab;
            color: white;
        }
        .moduleConfigTable td.inactive {
            background-color: #dd5660;
            color: white;
        }
        .moduleConfigTable td .fa {
            float: right;
            font-size: 24px;
            margin-right: 10px;
        }
    }
    .lowerLeftDecoration {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -10;
    }
    .lowerLeftDecorationEditSymbol {
        position: absolute;
        left: 22px;
        top: 58px;
        color: #F68D4D;
        font-size: 22px;
    }
    .lowerRightDecoration {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: -10;
    }
    .placeholderPanel {
        @include no-select();
        position: absolute;
        left: 0px;
        top: 0px;
        width: 1200px;
        height: 357px;
        margin-left: 66px;
        margin-top: 108px;
        color: #3e3e3e;
        font-size: 18px;
        font-family: MyriadPro;
    }
    #usersOnlinePanel, #activeProfilePanel {
        .panelLabel {
            position: absolute;
            left: 52px;
            top: 24px;
            font-size: 18px;
            font-family: FatTec;
            color: #3e3e3e;
        }
    }
}
@media only screen and (max-width: 1920px) {
    #upperResponsiveArea {
        transform: scale(0.9);
    }
    #moduleAdminPanel .moduleArea {
        transform: scale(0.9);
    }
}
@media only screen and (max-width: 1810px) {
    #upperResponsiveArea {
        transform: scale(0.8);
    }
    #moduleAdminPanel .moduleArea {
        transform: scale(0.8);
    }
}
@media only screen and (max-width: 1700px) {
    #upperResponsiveArea {
        transform: scale(0.7);
    }
    #moduleAdminPanel .moduleArea {
        transform: scale(0.7);
    }
}
@media only screen and (max-width: 1580px) {
    #moduleAdminPanel {
        margin-right: 550px !important;
    }
    #moduleAdminPanel .moduleArea {
        width: 135%;
    }
    #upperResponsiveArea {
        white-space: normal !important;
    }
    #notificationArea .indicatorBar {
        display: inline-block !important;
        margin-top: 28px;
        margin-right: 17px;
    }
}
