@{
    Page.Title = "Omnius Overview";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "overviewModule";
}

<div id="overviewPanel">
    <button id="btnAddBlock" class="btn btn-lg btn-tapestry">Add block</button>
    <div class="block" id="block1" style="left: 150px; top: 150px;">
        <div class="blockName">Log in screen</div>
        <div class="tableName">Users</div>
    </div>
    <div class="block" id="block2" style="left: 550px; top: 300px;">
        <div class="blockName">Second block</div>
        <div class="tableName">Table2</div>
    </div>
    <div class="block" id="block3" style="left: 950px; top: 150px;">
        <div class="blockName">Third block</div>
        <div class="tableName">Table3</div>
    </div>
    <div class="block" id="block4" style="left: 950px; top: 450px;">
        <div class="blockName">Fourth block</div>
        <div class="tableName">Table4</div>
    </div>
</div>

<div id="add-block-dialog" title="Add block">
    <form>
        <fieldset>
            <table class="formTable">
                <tr>
                    <td><label for="block-name">Block name</label></td>
                    <td><input type="text" name="block-name" id="block-name" value="" class="text ui-widget-content ui-corner-all"></td>
                </tr>
                <tr>
                    <td><label for="table-dropdown">Table</label></td>
                    <td><select name="table-dropdown" id="table-dropdown"></select></td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>