@using FSS.Omnius.Modules.Tapestry;

@{
    Page.Title = "Validace aplikačného profilu";
    Page.ModuleClass = "adminAppModule";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    var message = ViewBag.Message;
}
<div id="appBuildResults">
  @if (message.Type == ActionResultType.Success)
  {
    <div class="buildSuccess">@message.ToUser()</div>

  }
    @if (message.Type == ActionResultType.Error)
    {
        <div class="error">@message.ToUser()</div>

    }
  
       <a href="/Master/AppAdminManager">Zpět na aplikační profily</a>
</div>
