@{
    Page.Title = "Validace aplikačného profilu";
    Page.ModuleClass = "adminAppModule";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
}
<div id="appBuildResults">
    <div class="buildSuccess">Stránky byly úpěšně zkompilovány.</div>
    <a href="/Master/AppAdminManager">Zpět na aplikační profily</a>
</div>
