.mozaicForm {
  position: relative; }
  .mozaicForm .uic {
    position: absolute; }
  .mozaicForm .button-simple {
    background-color: #4b8ad1;
    border: 1px solid #4b8ad1;
    color: white; }
  .mozaicForm .button-dropdown {
    background-color: white;
    border: 1px solid #4b8ad1;
    color: #4b8ad1; }
  .mozaicForm .button-large {
    width: 198px;
    height: 31px;
    font-size: 18px; }
    .mozaicForm .button-large .fa-caret-down {
      padding-left: 7px; }
  .mozaicForm .button-small {
    width: 112px;
    height: 23px;
    font-size: 14px; }
    .mozaicForm .button-small .fa-caret-down {
      padding-left: 5px; }
  .mozaicForm .button-extra-small {
    width: 78px;
    height: 19px;
    font-size: 11px; }
    .mozaicForm .button-extra-small .fa-caret-down {
      padding-left: 3px; }
  .mozaicForm .input-single-line {
    width: 220px;
    height: 25px;
    border: 1px solid #b8b4ab;
    padding-left: 6px; }
  .mozaicForm .input-multiline {
    width: 260px;
    height: 75px;
    border: 1px solid #b8b4ab;
    padding-left: 6px; }
  .mozaicForm .input-read-only {
    background-color: #e0e0e0; }
  .mozaicForm .info-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    color: #58585a;
    position: relative;
    width: 260px; }
    .mozaicForm .info-container .info-container-icon {
      position: absolute;
      left: 0px;
      top: 4px;
      font-size: 18px; }
    .mozaicForm .info-container .info-container-header {
      position: absolute;
      left: 24px;
      top: 0px;
      font-size: 18px; }
    .mozaicForm .info-container .info-container-body {
      padding-top: 26px; }
  .mozaicForm .breadcrumb-navigation {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    background: -webkit-linear-gradient(top, #0086be, #0065a9);
    background: -o-linear-gradient(bottom, #0086be, #0065a9);
    background: -moz-linear-gradient(bottom, #0086be, #0065a9);
    background: linear-gradient(to bottom, #0086be, #0065a9);
    color: white;
    font-family: RweTextMedium;
    padding: 12px 12px;
    border-radius: 4px;
    font-size: 11px;
    width: 200px;
    height: 55px; }
    .mozaicForm .breadcrumb-navigation .app-icon {
      position: absolute;
      font-weight: 100;
      width: 30px;
      height: 30px;
      padding-top: 3px;
      border: 2px solid white;
      border-radius: 50%;
      font-size: 19px;
      text-align: center;
      vertical-align: middle; }
    .mozaicForm .breadcrumb-navigation .nav-text {
      position: absolute;
      left: 54px;
      font-family: RweHeadlineRegular;
      font-size: 20px;
      white-space: nowrap; }
  .mozaicForm .tab-navigation {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    white-space: nowrap; }
    .mozaicForm .tab-navigation li a.fa {
      font-size: 20px;
      height: 42px;
      padding-top: 6px; }
  .mozaicForm .control-label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    font-family: MyriadPro;
    font-size: 14px;
    color: #58585a;
    white-space: nowrap; }
    .mozaicForm .control-label b {
      font-size: 1.15em; }
    .mozaicForm .control-label u {
      color: #0065a9; }
  .mozaicForm .form-heading {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    font-family: RweHeadlineRegular;
    font-size: 28px;
    color: #e3001b;
    white-space: nowrap; }
  .mozaicForm .checkbox-control {
    width: auto;
    white-space: nowrap; }
    .mozaicForm .checkbox-control .checkbox-label {
      margin-left: 6px;
      font-family: MyriadPro;
      font-size: 14px;
      color: #58585a;
      white-space: nowrap; }
  .mozaicForm .radio-control {
    display: inline-block;
    white-space: nowrap; }
    .mozaicForm .radio-control .radio-label {
      margin-left: 6px;
      font-family: MyriadPro;
      font-size: 14px;
      color: #58585a;
      white-space: nowrap; }
  .mozaicForm .dataTables_wrapper .inner_wrapper {
    width: 100%;
    overflow-x: auto; }
  .mozaicForm .data-table {
    width: 250px;
    border: 1px solid #4b8ad1;
    height: auto !important; }
    .mozaicForm .data-table tr th:first-child, .mozaicForm .data-table tr td:first-child {
      display: none; }
    .mozaicForm .data-table tfoot {
      display: table-header-group; }
      .mozaicForm .data-table tfoot th {
        padding: 10px 18px 6px 10px; }
        .mozaicForm .data-table tfoot th input {
          width: 53px; }
        .mozaicForm .data-table tfoot th input:focus {
          width: 180px; }
    .mozaicForm .data-table .actionIcons {
      width: 60px; }
      .mozaicForm .data-table .actionIcons .fa {
        font-size: 16px;
        margin-right: 5px;
        cursor: pointer; }
      .mozaicForm .data-table .actionIcons .fa-edit, .mozaicForm .data-table .actionIcons .fa-search, .mozaicForm .data-table .actionIcons .fa-sign-in {
        color: #0065a9; }
      .mozaicForm .data-table .actionIcons .fa-remove {
        color: #e3001b; }
      .mozaicForm .data-table .actionIcons .fa-sign-in {
        font-size: 20px; }
  .mozaicForm .data-table-simple-mode {
    background-color: white; }
    .mozaicForm .data-table-simple-mode tfoot {
      display: none; }
  .mozaicForm .name-value-list {
    font-family: MyriadPro;
    font-size: 14px; }
    .mozaicForm .name-value-list tr {
      border-top: 1px solid #01a1f7; }
    .mozaicForm .name-value-list tr:first-child {
      display: none; }
    .mozaicForm .name-value-list tr:nth-child(2) {
      border-top: 2px solid #01a1f7; }
    .mozaicForm .name-value-list tr:last-child {
      border-bottom: 2px solid #01a1f7; }
    .mozaicForm .name-value-list td {
      padding-top: 3px;
      padding-bottom: 3px; }
    .mozaicForm .name-value-list .name-cell {
      min-width: 140px;
      padding-left: 10px;
      padding-right: 10px;
      font-weight: bold;
      background-color: #d4f0fe; }
    .mozaicForm .name-value-list .value-cell {
      min-width: 140px;
      padding-left: 25px;
      padding-right: 10px; }
  .mozaicForm .name-value-list.toolboxItem .name-cell {
    min-width: 110px; }
  .mozaicForm .name-value-list.toolboxItem .value-cell {
    min-width: 60px; }
  .mozaicForm .visible-panel-pale-background {
    background-color: #d4f0fe; }
  .mozaicForm .removePanelIcon {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    position: absolute;
    right: 6px;
    top: 6px;
    font-size: 19px;
    color: #58585a; }
  .mozaicForm .removePanelIcon:hover {
    color: #e3001b; }

