@using Mozaic.Models
@model Mozaic.Models.Page
@{
    ViewBag.Title = "Create";
    DBMozaic e = new DBMozaic();
}

<script>
    var replace = function(item)
    {
    }
    $(document).ready(function () {
    });
</script>

<h2>Create</h2>

@Html.DropDownListFor(p => p.MasterTemplateId, e.Templates.Select(t => new SelectListItem() { Text = t.Name, Value = t.Id.ToString() }))

<div id="__master__"></div>
