@model List<Mozaic.Models.Page>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    @foreach (Mozaic.Models.Page page in Model)
    {
        <tr>
            <td>@Html.ActionLink(page.Id.ToString(), "Index", new { @id = page.Id })</td>
        </tr>
    }
</table>

@Html.ActionLink("New page", "Create")
