@model Mozaic.Models.Template
@{
    ViewBag.Title = "Create";

    Mozaic.Models.DBMozaic e = new Mozaic.Models.DBMozaic();
    List<SelectListItem> Categories = e.TemplateCategories.Select(c => new SelectListItem() { Text = c.Name, Value = c.Id.ToString(), Selected = (c.Id == Model.CategoryId) }).ToList();
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Name:</td>
            <td>@Html.TextBoxFor(m => m.Name)</td>
        </tr>
        <tr>
            <td>Html:</td>
            <td>@Html.TextAreaFor(m => m.Html)</td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>@Html.DropDownListFor(m => m.CategoryId, Categories)</td>
        </tr>
    </table>
    <button>Create</button>
}