<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBEntities" connectionString="data source=vo8qh1qcem.database.windows.net;initial catalog=FSPOC-2.0;persist security info=True;user id=binu;password=Domaybietd90;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>