@{ FSS.Omnius.FrontEnd.Utils.T t = new FSS.Omnius.FrontEnd.Utils.T( (FSS.Omnius.Modules.CORE.Locale)ViewData["locale"] ); }
    <ul  id=appMenu>
@if (Context.GetLoggedUser().canUseBlock("Editor",109)){            <li>
                    <a href="/PodporaRegistruSmluv/NovySubjekt">@(t._("Nový Subjekt"))</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("User,Editor,Export",109)){            <li>
                    <a href="/PodporaRegistruSmluv/Vyhledavani">@(t._("Vyhledávání"))</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("Editor,Export",109)){            <li>
                    <a href="/PodporaRegistruSmluv/PrehledSubjektu">@(t._("Přehled subjektů"))</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("Editor",109)){            <li>
                    <a href="/PodporaRegistruSmluv/ImportSubjektu">@(t._("Import subjektů"))</a>
            </li>
}    </ul>
