@{
    Page.Title = "Omnius - User details";
    Page.ModuleClass = "userDetailsModule";
    Layout = "~/Views/Shared/_OmniusUserLayout.cshtml";
}

<div id="detailsContainer">
    <h1 class="title">Detail uživatele</h1>
    <table class="userDetailsTable table table-striped">
        <tr>
            <td>Jméno</td>
            <td>Eliška Nováková</td>
        </tr>
        <tr>
            <td>Společnost</td>
            <td>RWE</td>
        </tr>
        <tr>
            <td>Oddělení</td>
            <td>?</td>
        </tr>
        <tr>
            <td>Tým</td>
            <td>?</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>?</td>
        </tr>
        <tr>
            <td>Telefon do zaměstnání</td>
            <td>?</td>
        </tr>
        <tr>
            <td>Mobilní telefon</td>
            <td>?</td>
        </tr>
        <tr>
            <td>Adresa</td>
            <td>?</td>
        </tr>
        <tr>
            <td>Poslední přihlášení</td>
            <td>?</td>
        </tr>
    </table>
</div>