@{
    Page.Title = "Omnius Help";
    Page.ModuleClass = "helpModule";
    Layout = "~/Views/Shared/_OmniusUserLayout.cshtml";
}

<div id="helpContainer">
    <h1>Nápověda</h1>
    <p>Zde bude nápověda k platformě Omnius</p>
    <br />

    <h2>Témata</h2>
    <ul>
        <li>
            <a href="#">Uživatelská sekce</a>
            <ul>
                <li><a href="#">Ovládací prvky rozhraní</a></li>
                <li><a href="#">Přihlášení</a></li>
                <li><a href="#">Používání aplikací</a></li>
                <li><a href="#">Vyhledávání</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Administrace</a>
            <ul>
                <li><a href="#">Tapestry - Vytváření workflow</a></li>
                <li><a href="#">Entitron - Database designer</a></li>
                <li><a href="#">Mozaic - Vizuální komponenty</a></li>
                <li><a href="#">Nexus - Integrace s jinými systémy</a></li>
                <li><a href="#">Aplikační profily</a></li>
            </ul>
        </li>
    </ul>
</div>
