@font-face {
  font-family: "RweHeadlineRegular";
  src: url(fonts/rweheadline-regularcondens-webfont.ttf) format("truetype");
}
@font-face {
  font-family: "RweTextMedium";
  src: url(fonts/rwetext-medium-webfont.ttf) format("truetype");
}
body {
    background: white;
}
.appPanel {
    position: absolute;
    width: 200px;
    height: 200px;
    padding: 10px 10px;
    font-size: 14px;
    display: inline-block;
}
.appPanelContents {
    font-family: RweTextMedium;
    width: 100%;
    height: 100%;
    padding: 12px 12px;
    border-radius: 4px;
    font-size: 11px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.appPanel .smallFont {
    font-size: 11px;
}
.appPanel .mediumFont {
    font-size: 16px;
}
.appPanel .largeFont {
    font-size: 22px;
}
.appPanel .highlight {
    font-weight: bold;
}
.appColor0 {
    background: -webkit-linear-gradient(top, #0086be, #0065a9);
    background: -o-linear-gradient(bottom, #0086be, #0065a9);
    background: -moz-linear-gradient(bottom, #0086be, #0065a9);
    background: linear-gradient(to bottom, #0086be, #0065a9);
    color: white;
}
.appColor0 .highlight {
    color: #ffdf00;
}
.appColor1 {
    background: -webkit-linear-gradient(top, #87ba15, #019a32);
    background: -o-linear-gradient(bottom, #87ba15, #019a32);
    background: -moz-linear-gradient(bottom, #87ba15, #019a32);
    background: linear-gradient(to bottom, #87ba15, #019a32);
    color: white;
}
.appColor2 {
    background: -webkit-linear-gradient(top, #c3dc89, #8aba18);
    background: -o-linear-gradient(bottom, #c3dc89, #8aba18);
    background: -moz-linear-gradient(bottom, #c3dc89, #8aba18);
    background: linear-gradient(to bottom, #c3dc89, #8aba18);
    color: white;
}
.appTitle {
    font-family: RweHeadlineRegular;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
}
.appIcon {
    float: left;
    font-weight: 100;
    margin-right: 7px;
    margin-bottom: 0px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 19px;
}
.ui-draggable-dragging {
    z-index: 200;
}
#moduleSwitcher {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 32px;
    z-index: 200;
    color: white;
    background-color: #4d41e7;
}
