<div id="upperPanel">
    <div class="panelLabel">Mozaic</div>
    <svg class="backgroundDecoration" width="540px" height="565px">
        <path d="M31 0 L31 28 L65 62 L376 62" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 295 L31 108 L65 74 L376 74" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 47 L52 68 L31 89 L10 68 Z" stroke="#49c4f1" stroke-width="1" fill="none" />
    </svg>
    <img class="decorationWatcheye" src="~/Content/Images/watcheye_small.png" />
    <div class="tileMenuArea">
        
        @{ string controllerName = ViewContext.RouteData.Values["controller"].ToString();
                
            }

        <!-- Templates -->
        <a href="/Mozaic/TemplateCategory">
            <div id="mozaicMenuTemplates" class="@((controllerName == "TemplateCategory") ? "tileMenuItem highlighted" : "tileMenuItem" )">
                <div class="buttonLabel">Templates</div>
            </div>
        </a>

        <!-- Pages -->

        <div id="mozaicMenuPages" class="@((controllerName == "Page") ? "tileMenuItem highlighted" : "tileMenuItem")">
            <div class="buttonLabel">Pages</div>
        </div>

        <!-- CSS -->
        <a href="/Mozaic/Css/Index">
            <div id="mozaicMenuCss" class="@((controllerName == "Css") ? "tileMenuItem highlighted" : "tileMenuItem")">
                <div class="buttonLabel">CSS</div>
            </div>
        </a>

        <!-- JS -->
        <a href="/Mozaic/Js/Index">
            <div id="mozaicMenuJs" class="@((controllerName == "Js") ? "tileMenuItem highlighted" : "tileMenuItem")">
                <span class="fa fa-code"></span>
                <div class="buttonLabel">JS</div>
            </div>
        </a>

        <!-- Visual editor -->
        <a href="/Mozaic/Editor">
            <div id="mozaicMenuEditor" class="tileMenuItem">
                <span class="fa fa-paint-brush"></span>
                <div class="buttonLabel">Editor</div>
            </div>
        </a>
            
    </div>
    <div id="hideUpperPanelIcon" class="fa fa-caret-up"></div>
</div>

<div id="minimizedUpperPanel">
    <div class="panelLabel">Mozaic</div>
    <div id="showUpperPanelIcon" class="fa fa-caret-down"></div>
</div>