@using FSS.Omnius.Modules.Entitron.Entity.Master
@{
    Page.Title = "Validace aplikačného profilu";
    Page.ModuleClass = "adminAppValidationModule";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
}
<div id="validationResults">
    <div id="errorPanel">
        <h1>Opravte prosím tyto chyby:</h1>
        <ul class="errorList">
            <li>Blok "Login screen" odkazuje na neexistují tabulku "UserGroups"</li>
            <li>Blok "Forgot password" odkazuje na neexistují vizuální komponentu "EmailForm"</li>
            <li>Blok "Add user" používá neexistující roli "GroupAdmin"</li>
        </ul>
        <button id="btnRetryValidation" class="btn btn-primary">Zkusit znovu</button>
    </div>
</div>
