@model FSS.Omnius.Modules.Entitron.Entity.Mozaic.Template
@{
    Page.Title = "Omnius Mozaic";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "mozaicModule";
}

<link rel="stylesheet" href="~/Scripts/cm/lib/codemirror.css" />
<link rel="stylesheet" href="~/Scripts/cm/addon/hint/show-hint.css">
<script src="~/Scripts/cm/lib/codemirror.js"></script>
<script src="~/Scripts/cm/addon/hint/show-hint.js"></script>
<script src="~/Scripts/cm/addon/hint/xml-hint.js"></script>
<script src="~/Scripts/cm/addon/hint/html-hint.js"></script>
<script src="~/Scripts/cm/mode/xml/xml.js"></script>
<script src="~/Scripts/cm/mode/javascript/javascript.js"></script>
<script src="~/Scripts/cm/mode/css/css.js"></script>
<script src="~/Scripts/cm/mode/htmlmixed/htmlmixed.js"></script>

<div class="modal fade" id="AdminModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body" id="ModalContent">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(function() {
        var area = $('#selector');
        var cm = CodeMirror.fromTextArea(area[0], {
            lineNumbers: true,
            mode: "htmlmixed",
            extraKeys: { "Ctrl-Space": "autocomplete" }
        });

        cm.on('blur', function() {
            cm.save();
        });

        // Pokud by byl nějaký přepínač html / wysiwyg
        area.change(function() {
            cm.setValue(this.value);
        });
        area.next().resizable({
            resize: function() {
                cm.setSize($(this).width(), $(this).height());
            }
        });
    });
    $(document).ready(function() {
        $('#preview').click(function () {
            document.getElementById('previewContent').setAttribute("style", "display:block");
            var page = document.getElementById('selector').value;
            document.getElementById('previewfield').innerHTML = page;
        });

        $('#closePreview').click(function(){
            document.getElementById('previewContent').setAttribute("style", "display:none");
        });
    });
    
</script>

<style type="text/css">
    .top-panel {
        position: relative;
        top: 75px;
        margin-left: 225px;
        padding-bottom: 20px;
        background: #3a3a3a;
        overflow: hidden;
    }

    .top-panel-content {
        position: relative;
        z-index: 2;
        padding: 1.5em 52px;
    }

    .bottom-panel {
        margin-left: 225px;
        padding: 0px 52px;
        position: relative;
        top: 75px;
    }

    .panelLabel {
        padding: 25px 52px;
        font-size: 18px;
        font-family: FatTec;
        float: left;
        width: 420px;
    }

    .backgroundDecoration {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 0;
    }

    .decorationWatcheye {
        position: absolute;
        left: 19px;
        top: 56px;
        width: 24px;
        height: 24px;
    }

    .tabs {
        position: relative;
        z-index: 2;
        padding: 25px 55px;
    }

    .top-panel table th, .top-panel table td {
        color: #fff;
    }

    .control-label {
        color: whitesmoke;
    }
</style>

<div class="top-panel">
    <div class="panelLabel" style="color: #fff">Nová kategorie</div>
    <svg class="backgroundDecoration" width="540px" height="565px">
        <path d="M31 0 L31 28 L65 62 L376 62" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 357 L31 108 L65 74 L376 74" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 47 L52 68 L31 89 L10 68 Z" stroke="#49c4f1" stroke-width="1" fill="none" />
    </svg>
    <img class="decorationWatcheye" src="/Content/images/watcheye_small.png">
    <div class="top-panel-content">

        @using (Html.BeginForm("Create", "Template", FormMethod.Post))
        {
            <div class="form-group col-sm-12" style="padding-top: 10px">
                <div>
                    <label class="control-label col-sm-2">
                        Název
                    </label>
                </div>
                <div class="col-sm-3">
                    @Html.TextBoxFor(x => x.Name)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div>
                    <label class="control-label col-sm-2">
                        Kategorie
                    </label>
                </div>
                <div class="col-sm-3">
                    @Html.DropDownList("cat", new SelectList(ViewBag.Categories, "Id", "Name"))
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div>
                    <label class="control-label col-sm-2">
                        HTML
                    </label>
                </div>
                <div class="col-sm-11">
                    @Html.TextAreaFor(x => x.Html, new { @id = "selector", @style = "width:500px;height:300px", @name = "html" })
                </div>
            </div>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Vytvořit šablonu</button>
                @Html.ActionLink("Zpět", "Index", new { }, new { @class = "btn btn-default" })
            </div>
        }
    </div>
    <div class="form-group col-sm-1">
        <button id="preview" class="btn btn-default">
            Náhled
        </button>
    </div>
</div>
<div class="bottom-panel" id="previewContent" style="display:none">
    <div class="panelLabel">Náhled</div>
    <svg class="backgroundDecoration" width="540px" height="565px">
        <path d="M31 0 L31 28 L65 62 L376 62" stroke="#457fa9" stroke-width="1" fill="none" />
        <path d="M31 357 L31 108 L65 74 L376 74" stroke="#457fa9" stroke-width="1" fill="none" />
        <path d="M31 47 L52 68 L31 89 L10 68 Z" stroke="#457fa9" stroke-width="1" fill="none" />
    </svg>

    <div id="previewfield" class="col-sm-12" style="padding-top:20px">
    </div>
    <div class="col-sm-12" style="padding-top:20px">
        <button class="btn btn-default" id="closePreview">Zavřít náhled</button>
    </div>
</div>