@{ FSS.Omnius.FrontEnd.Utils.T t = new FSS.Omnius.FrontEnd.Utils.T( (string)ViewData["locale"] ); }
    <ul  id=appMenu>
@if (Context.GetLoggedUser().canUseBlock("User",91)){            <li>
                    <h4>@(t._("Kartotéka"))</h4>

    <ul >
@if (Context.GetLoggedUser().canUseBlock("User",91)){            <li>
                    <a href="/TestHonzaKladivko/Prehled">@(t._("Přehled"))</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("User",91)){            <li>
                    <a href="/TestHonzaKladivko/Novy">@(t._("Nový"))</a>
            </li>
}    </ul>
            </li>
}    </ul>
