@model FSS.Omnius.Entitron.Entity.Mozaic.TemplateCategory
@{
    Page.Title = "Omnius Mozaic";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "mozaicModule";
}

<script type="text/javascript">
    $('#addChildren').onclick(function() {
        $('#children').clone(true);
    })
</script>

<h2>Create</h2>

@using (Html.BeginForm("Create", "TemplateCategory", FormMethod.Post))
{
    <div class="form-group">
        <div>
            <label class="control-label">
                Název
            </label>
        </div>
        <div>
            @Html.TextBoxFor(x=>x.Name)
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="control-label">
                Předek
            </label>
        </div>
        <div>
            @Html.DropDownListFor(x=>x.Parent, new SelectList(ViewBag.Categories))
         </div>
    </div>
    <div class="form-group">
        <div>
            <label class="control-label">
                Potomek(ci)
            </label>
        </div>
        <div id="children">
            @Html.DropDownListFor(x => x.Children, new SelectList(ViewBag.Categories))
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Vytvořit kategorii</button>
        <button id="addChildren">Přidat potomka</button>
        @Html.ActionLink("Zpět", "Index", new { @class = "btn btn-default" })
    </div>
}
