@{ FSS.Omnius.FrontEnd.Utils.T t = new FSS.Omnius.FrontEnd.Utils.T( (string)ViewData["locale"] ); }
    <ul  id=appMenu>
@if (Context.GetLoggedUser().canUseBlock("User",120)){            <li>
                    <a href="/TicketSupport/Overview">@(t._("Overview"))</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("User",120)){            <li>
                    <a href="/TicketSupport/OverviewEmployee">@(t._("Overview employee"))</a>
            </li>
}    </ul>
