@{ Layout = "~/Views/Shared/_OmniusUserAppLayout.cshtml"; }<div class="mozaicBootstrapPage"><div class="container"><div class="row"><form class="form-horizontal" method="post"><div class="col-xs-12"><h1 class="">Přehled subjektů</h1>
@{ if(ViewData.ContainsKey("tableData_DataTables_Subjekt") && ((System.Data.DataTable)(ViewData["tableData_DataTables_Subjekt"])).Rows.Count > 0) {
    <table id="DataTables_Subjekt" class="table data-table no-footer mbe-active dataTable" data-dtpaging="1" data-dtinfo="1" data-dtfilter="1" data-dtordering="1" data-dtcolumnfilter="1" id="DataTables_Subjekt" role="grid" aria-describedby="DataTables_Subjekt_info">
        <thead>
            <tr>
            @foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_DataTables_Subjekt"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </thead>
        <tfoot>
            <tr>@foreach (System.Data.DataColumn col in ((System.Data.DataTable)(ViewData["tableData_DataTables_Subjekt"])).Columns) {
                <th>@col.Caption</th>
            }
                <th>Akce</th>
            </tr>
        </tfoot>
        <tbody>
        @foreach(System.Data.DataRow row in ((System.Data.DataTable)(ViewData["tableData_DataTables_Subjekt"])).Rows) {
            <tr>@foreach (var cell in row.ItemArray) {
                <td>@cell.ToString()</td>
            }
                <td class="actionIcons"><i title="edit" class="fa fa-pencil" data-action="edit" data-idparam="modelId" data-confirm=""></i> <i title="delete" class="fa fa-remove" data-action="delete" data-idparam="deleteId" data-confirm=""></i></td>
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="alert alert-info empty-table-label">Tabulka neobsahuje žádná data</div>
} }
<input type="hidden" name="DataTables_Subjekt" />
</div>@Html.AntiForgeryToken()</form></div></div></div>