@inherits System.Web.Mvc.WebViewPage
@section head{
    <link href="~/Content/Style/base/jquery.contextMenu.css" rel="stylesheet" />
    <link href="~/Content/Style/Tapestry.css" rel="stylesheet" type="text/css" />
}
@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    Page.Title = "FSPOC Tapestry";
}
<script src="~/Scripts/CommonLibraries/jquery.contextMenu.js"></script>
<script src="~/Scripts/CommonLibraries/ModuleSwitcher.js"></script>
<script src="~/Scripts/Tapestry/Utils.js"></script>
<script src="~/Scripts/Tapestry/Init.js"></script>
<script src="~/Scripts/Tapestry/VisualConfiguration.js"></script>
<script src="~/Scripts/Tapestry/Conditions.js"></script>
<script src="~/Scripts/Tapestry/Dialogs.js"></script>

<select id="moduleSwitcher">
    <option value="apps">Application Manager</option>
    <option value="workflow">Workflow Designer</option>
    <option value="database">Database Designer</option>
    <option value="tapestry" selected="selected">Tapestry</option>
    <option value="overview">Overview</option>
</select>

<div class="blockPanel">
    <div class="header">
        <div class="headerItem" id="headerBlockName">Log In Screen</div>
        <div class="headerItem" id="headerTableName">User</div>
        <div class="headerItem" id="headerOverview">Return to Overview</div>
    </div>
    <div id="attributesPanel" class="menuPanel">
        Attributes<br />
        <div class="menuItem attribute dataSource">Username</div>
        <div class="menuItem attribute dataSource">Password</div>
    </div>
    <div id="rulesPanel">
        <button type="button" class="btn btn-primary" id="btnAddRule">Add rule</button>
        Rules<br />
        <div id="rule1" class="rule" style="left: 20px; top: 45px; width: 355px; height: 70px;">
            <div class="ruleHeader"></div>
            <div id="item1" class="item view dataSource" style="left: 34px; top: 21px;">Username</div>
            <div id="item2" class="item attribute dataSource" style="left: 197px; top: 22px;">Username</div>
        </div>
        <div id="rule2" class="rule" style="left: 400px; top: 45px; width: 355px; height: 70px;">
            <div class="ruleHeader"></div>
            <div id="item3" class="item view dataSource" style="left: 34px; top: 21px;">Password</div>
            <div id="item4" class="item attribute dataSource" style="left: 197px; top: 22px;">Password</div>
        </div>
        <div id="rule3" class="rule" style="left: 20px; top: 155px; width: 737px; height: 222px;">
            <div class="ruleHeader"></div>
            <div id="item5" class="item view" style="left: 34px; top: 45px;">Log In</div>
            <div id="item6" class="item action" style="left: 174px; top: 45px;">Check Credentials</div>
            <div id="item7" class="item action" style="left: 576px; top: 45px;">Log In</div>
            <div id="item8" class="item action" style="left: 517px; top: 155px;">Validation message</div>
            <div id="decision1" class="decisionRhombus operatorSymbol" style="left: 414px; top: 34px;">
                <svg width="70" height="60">
                    <polygon points="35,8 67,30 35,52 3,30" style="fill:#4f88bb; stroke:#41719c; stroke-width:2;" />
                </svg>
            </div>
        </div>
    </div>
    <div id="viewsPanel" class="menuPanel">
        Views<br />
        <div class="menuItem view dataSource">Username</div>
        <div class="menuItem view dataSource">Password</div>
        <div class="menuItem view">Log In</div>
    </div>
    <div id="statesPanel" class="menuPanel">
        States<br />
        <div class="menuItem state dataSource">Logged Out</div>
    </div>
    <div id="portsPanel" class="menuPanel">
        Ports<br />
        <div class="menuItem port" dialogType="port">Overview Screen</div>
    </div>
    <div id="rolesPanel" class="menuPanel">
        Roles<br />
        <div class="menuItem role dataSource">None</div>
    </div>
    <div id="actionsPanel" class="menuPanel">
        <button type="button" class="btn btn-primary" id="btnAddActions">Add actions</button>
        Actions<br />
        <div class="menuItem action" dialogType="emailTemplate">Send Email</div>
        <div class="menuItem action">Log In</div>
        <div class="menuItem action">Check Credentials</div>
        <div class="menuItem action">Forgot password</div>
        <div class="menuItem action">Validation message</div>
    </div>
    <div id="operatorsPanel" class="menuPanel">
        Operators<br />
        <div class="menuItem operator" operatorType="decision">Decision</div>
        <div class="menuItem operator" operatorType="condition" dialogType="condition">Condition</div>
    </div>
    <div id="upperVerticalDivider"><div class="verticalDividerBar"></div></div>
    <div id="lowerLeftVerticalDivider"><div class="verticalDividerBar"></div></div>
    <div id="lowerRightVerticalDivider"><div class="verticalDividerBar"></div></div>
    <div id="rightHorizontalDivider"><div class="horizontalDividerBar"></div></div>
</div>

<div id="rename-block-dialog" title="Rename block">
    <form>
        <fieldset>
            <label for="block-name">Choose a new name</label>
            <input type="text" name="block-name" id="block-name" value="" class="text ui-widget-content ui-corner-all" style="width:365px;">
        </fieldset>
    </form>
</div>
<div id="add-actions-dialog" title="Add actions">
    <table id="action-table" class="table table-hover">
        <theader>
            <tr>
                <th>Action name</th>
            </tr>
        </theader>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>
<div id="choose-table-dialog" title="Choose table">
    <table id="choice-table" class="table table-hover">
        <theader>
            <tr>
                <th>Table name</th>
            </tr>
        </theader>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>
<div id="choose-email-template-dialog" title="Choose email template">
    <table id="choice-template" class="table table-hover">
        <theader>
            <tr>
                <th>Template name</th>
            </tr>
        </theader>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>
<div id="choose-port-dialog" title="Choose port">
    <table id="choice-port" class="table table-hover">
        <theader>
            <tr>
                <th>Port</th>
            </tr>
        </theader>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>
<div id="edit-condition-dialog" title="Edit condition">
    <form>
        <fieldset>
            <table class="formTable logicTable">
            </table>
            <button type="button" id="btnAddCondition">Add condition</button>
        </fieldset>
    </form>
</div>
