@inherits System.Web.Mvc.WebViewPage
@section head{
    <link href="~/Content/Style/WfDesigner.css" rel="stylesheet" type="text/css" />
}
@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    Page.Title = "FSS Workflow Designer";
}

<script src="~/Scripts/WfVisualConfiguration.js"></script>
<script src="~/Scripts/WfInit.js"></script>
<script src="~/Scripts/WfActivityDef.js"></script>
<script src="~/Scripts/WfUtils.js"></script>
<script src="~/Scripts/WfSave.js"></script>
<script src="~/Scripts/WfLoad.js"></script>
<script src="~/Scripts/WfCreate.js"></script>
<script src="~/Scripts/WfDialogs.js"></script>

<div class="toolbox">
    <button id="btn-new-workflow" type="button" class="btn btn-primary btn-lg btn-toolbox-menu">New workflow</button>
    <button id="btn-change-workflow" type="button" class="btn btn-default btn-lg btn-toolbox-menu">Change workflow</button>
    <button id="btn-save-workflow" type="button" class="btn btn-primary btn-lg btn-toolbox-menu">Save</button>
    <button id="btn-load-workflow" type="button" class="btn btn-default btn-lg btn-toolbox-menu">Load latest</button>
    <button id="btn-open-history" type="button" class="btn btn-default btn-lg btn-toolbox-menu">History</button>
    <button id="btn-clear-workflow" type="button" class="btn btn-danger btn-lg btn-toolbox-menu">Clear workflow</button>

    <div class="menuLabel noselect">Editing modes:</div>
    <div class="btn-group-vertical" data-toggle="buttons">
        <label id="mode-normal" class="btn btn-default btn-lg btn-edit-mode active">
            <input type="radio" name="modes" autocomplete="off" checked>Normal mode
        </label>
        <label id="mode-delete" class="btn btn-danger btn-lg btn-edit-mode">
            <input type="radio" name="modes" autocomplete="off">Delete mode
        </label>
    </div>

    <div class="menuLabel noselect">Activity Toolbox:</div>
    <div id="activityMenu"></div>
</div>

<div class="top-bar-container"></div>

<button type="button" id="switchToDatabase" class="btn btn-info">Switch to database designer</button>

<div class="work-area-container">
    <div id="workflow-container" class="workflow-container"></div>
</div>

<div id="new-workflow-dialog" title="Create new workflow">
    <form>
        <fieldset>
            <label for="message">Choose a name</label>
            <input type="text" name="name" id="new-workflow-name" value="" class="text ui-widget-content ui-corner-all" style="width:365px;">
        </fieldset>
    </form>
</div>

<div id="change-workflow-dialog" title="Change workflow">
    <table id="workflow-list-table" class="table table-hover">
        <theader>
            <tr>
                <th style="width:240px;">Date created</th>
                <th>Workflow name</th>
            </tr>
        </theader>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>

<div id="save-dialog" title="Save Workflow">
    <form>
        <fieldset>
            <label for="message">Add a message (optional)</label>
            <input type="text" name="message" id="message" value="" class="text ui-widget-content ui-corner-all" style="width:365px;">
        </fieldset>
    </form>
</div>

<div id="history-dialog" title="Load from history">
    <table id="commit-table" class="table table-hover">
        <theader>
            <tr>
                <th style="width:240px;">Date created</th>
                <th>Commit message</th>
            </tr>
        </theader>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>
