@using FSS.Omnius.Modules.Entitron.Entity.Tapestry
@model List<TapestryDesignerMenuItem>

@if (Model.Count() > 0) {
    <ul @((int)ViewData["Level"] == 0 ? " id=appMenu" : "")>
        @foreach (TapestryDesignerMenuItem item in Model.OrderBy(i => i.MenuOrder)) {
            <li>
             @if(item.IsMetablock) {
                 <h4>@item.Name</h4>
                 @Html.Raw(item.SubMenu)
             }
             else {
                 <a href="">@item.Name</a>
             }
            </li>
        }
    </ul>
}
