@using FSS.Omnius.Modules.Entitron.Entity.Mozaic
@model System.Data.Entity.DbSet<FSS.Omnius.Modules.Entitron.Entity.Mozaic.Js>

@{
    Page.Title = "Omnius Mozaic";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "mozaicComponentManagerModule";
}

@Html.Partial("~/Views/Mozaic/UpperPanel.cshtml");

<div id="lowerPanel">
    <svg class="lowerLeftDecoration" width="540px" height="565px">
        <path d="M31 0 L31 28 L65 62 L376 62 L402 36" stroke="#457fa9" stroke-width="1" fill="none" />
        <path d="M31 357 L31 108 L65 74 L376 74 L402 100" stroke="#457fa9" stroke-width="1" fill="none" />
        <path d="M31 47 L52 68 L31 89 L10 68 Z" stroke="#457fa9" stroke-width="1" fill="none" />
    </svg>
    <div class="fa fa-edit lowerLeftDecorationEditSymbol"></div>
    <svg class="lowerRightDecoration" width="535px" height="565px">
        <path d="M507 28 L473 62 L220 62 L185 27 L185 0" stroke="#457fa9" stroke-width="1" fill="none" />
        <path d="M507 357 L507 108 L472 74 L238 74" stroke="#457fa9" stroke-width="1" fill="none" />
    </svg>
    <div id="ldapMenuArea" style="text-align:center">
        @Ajax.RouteLink("New JS", "Mozaic", new { @action = "Create" }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ContentContainer" }, new { @class = "btn btn-omnius-blue fa fa-plus" })
    </div>
    <div id="ContentContainer">
        @Html.Partial("~/Views/Mozaic/Js/BaseIndex.cshtml")
    </div>
</div>

