@model FSS.Omnius.Modules.Entitron.Entity.Mozaic.Css

<div>
    <div class="form-group">
        <div>
            <label class="control-label">
                Název
            </label>
        </div>
        <div>
            <p>@Model.Name</p>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="control-label">
                Obsah
            </label>
        </div>
        <div>
            <p>
                <pre>
@Model.Value
                </pre>
            </p>
        </div>
    </div>
</div> 