@model FSS.Omnius.Modules.Entitron.Entity.Mozaic.Css

<script type="text/javascript">
    $('#addChildren').onclick(function () {
        $('#children').clone(true);
    })
</script>

@using (Html.BeginForm("Update", "Css", FormMethod.Post))
{
    <div>
        <div>
            <div style="display:block; margin-bottom:2em">
                <label class="control-label" style="width:auto">
                    Název:
                </label>

                @Html.TextBoxFor(x => x.Name)
            </div>
            
        </div>
    </div>

    <div>
        <div>
            <label class="control-label">
                Upravit soubor
            </label>
        </div>

        <div>
            <textarea rows="15" style="width:100%; min-height:100px; margin-left:0px; margin-right:0px; resize:vertical" name="EditCss" resize="vertical">@ViewBag.CssValue</textarea>
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Uložit</button>
        <button id="removeChild" class="btn btn-danger">Odebrat</button>
        @Html.ActionLink("Zpět", "Index", new { }, new { @class = "btn btn-default" })
    </div>
}