@{
    Page.Title = "Omnius Tapestry";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "tapestryModule";
}

<div id="blockPanel" class="blockPanel">
    <div class="header">
        <div class="headerItem" id="headerBlockName">Log In Screen</div>
        <div class="headerItem" id="headerTableName">User</div>
        <div class="headerItem" id="headerOverview">Return to Overview</div>
    </div>
    <div id="attributesPanel" class="menuPanel">
        <i class="fa fa-database" style="margin-right: 6px;"></i>Attributes<br />
        <div class="menuItem attribute dataSource">Username</div>
        <div class="menuItem attribute dataSource">Password</div>
    </div>
    <div id="rulesPanel">
        <button type="button" class="btn btn-tapestry" id="btnAddRule">Add rule</button>
        <div id="zoomPanel">
            <div id="zoomLabel">Zoom 100%</div>
            <button type="button" id="btnZoomIn">Zoom in</button>
            <button type="button" id="btnZoomOut">Zoom out</button>
        </div>
        <div class="scrollArea">
            <div id="rule1" class="rule" style="left: 24px; top: 35px; width: 380px; height: 80px;">
                <div class="ruleHeader">Rule1</div>
                <div class="editRuleIcon fa fa-edit"></div>
                <div class="deleteRuleIcon fa fa-remove"></div>
                <div class="ruleContent">
                    <div id="item1" class="item view dataSource" style="left: 34px; top: 21px;">Username</div>
                    <div id="item2" class="item attribute dataSource" style="left: 237px; top: 21px;">Username</div>
                </div>
            </div>
            <div id="rule2" class="rule" style="left: 488px; top: 35px; width: 380px; height: 80px;">
                <div class="ruleHeader">Rule2</div>
                <div class="editRuleIcon fa fa-edit"></div>
                <div class="deleteRuleIcon fa fa-remove"></div>
                <div class="ruleContent">
                    <div id="item3" class="item view dataSource" style="left: 34px; top: 21px;">Password</div>
                    <div id="item4" class="item attribute dataSource" style="left: 237px; top: 21px;">Password</div>
                </div>
            </div>
            <div id="rule3" class="rule" style="left: 24px; top: 185px; width: 845px; height: 195px;">
                <div class="ruleHeader">Rule3</div>
                <div class="editRuleIcon fa fa-edit"></div>
                <div class="deleteRuleIcon fa fa-remove"></div>
                <div class="ruleContent">
                    <div id="item5" class="item view" style="left: 36px; top: 28px;">Log In</div>
                    <div id="item6" class="item action" style="left: 207px; top: 28px;">Check Credentials</div>
                    <div id="item7" class="item action" style="left: 648px; top: 28px;">Log In</div>
                    <div id="item8" class="item action" style="left: 590px; top: 132px;">Validation message</div>
                    <div id="decision1" class="decisionRhombus operatorSymbol" style="left: 480px; top: 37px;">
                        <svg width="70" height="60">
                            <polygon points="35,8 67,30 35,52 3,30" style="fill:#467ea8; stroke:#467ea8; stroke-width:2;" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="viewsPanel" class="menuPanel">
        <i class="fa fa-paint-brush" style="margin-left: 1px; margin-right: 6px;"></i>Views<br />
        <div class="menuItem view dataSource">Username</div>
        <div class="menuItem view dataSource">Password</div>
        <div class="menuItem view">Log In</div>
    </div>
    <div id="statesPanel" class="menuPanel">
        <i class="fa fa-ellipsis-v" style="margin-left: 4px; margin-right: 8px;"></i>States<br />
        <div class="menuItem state dataSource">Logged Out</div>
    </div>
    <div id="portsPanel" class="menuPanel">
        <i class="fa fa-sign-out" style="margin-left: 1px; margin-right: 5px;"></i>Ports<br />
        <div class="menuItem port" dialogType="port">Overview Screen</div>
    </div>
    <div id="rolesPanel" class="menuPanel">
        <i class="fa fa-user" style="margin-left: 1px; margin-right: 6px;"></i>Roles<br />
        <div class="menuItem role dataSource">None</div>
    </div>
    <div id="actionsPanel" class="menuPanel">
        <button type="button" class="btn btn-tapestry" id="btnAddActions">Add actions</button>
        <i class="fa fa-cogs" style="margin-left: 1px; margin-right: 6px;"></i>Actions<br />
        <div class="menuItem action" dialogType="emailTemplate">Send Email</div>
        <div class="menuItem action">Log In</div>
        <div class="menuItem action">Check Credentials</div>
        <div class="menuItem action">Forgot password</div>
        <div class="menuItem action">Validation message</div>
    </div>
    <div id="operatorsPanel" class="menuPanel">
        Operators<br />
        <div class="menuItem operator" operatorType="decision">Decision</div>
        <div class="menuItem operator" operatorType="condition" dialogType="condition">Condition</div>
    </div>
    <div id="upperVerticalDivider"><div class="verticalDividerBar"></div></div>
    <div id="lowerLeftVerticalDivider"><div class="verticalDividerBar"></div></div>
    <div id="lowerRightVerticalDivider"><div class="verticalDividerBar"></div></div>
    <div id="rightHorizontalDivider"><div class="horizontalDividerBar"></div></div>
</div>

<div id="rename-block-dialog" title="Rename block">
    <form>
        <fieldset>
            <label for="block-name">Choose a new name</label>
            <input type="text" name="block-name" id="block-name" value="" class="text ui-widget-content ui-corner-all" style="width:365px;">
        </fieldset>
    </form>
</div>
<div id="add-actions-dialog" title="Add actions">
    <table id="action-table" class="table table-hover">
        <theader>
            <tr>
                <th>Action name</th>
            </tr>
        </theader>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>
<div id="choose-table-dialog" title="Choose table">
    <table id="choice-table" class="table table-hover">
        <theader>
            <tr>
                <th>Table name</th>
            </tr>
        </theader>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>
<div id="choose-email-template-dialog" title="Choose email template">
    <table id="choice-template" class="table table-hover">
        <theader>
            <tr>
                <th>Template name</th>
            </tr>
        </theader>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>
<div id="choose-port-dialog" title="Choose port">
    <table id="choice-port" class="table table-hover">
        <theader>
            <tr>
                <th>Port</th>
            </tr>
        </theader>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>
<div id="edit-condition-dialog" title="Edit condition">
    <form>
        <fieldset>
            <table class="formTable logicTable"></table>
            <button type="button" id="btnAddCondition">Add condition</button>
        </fieldset>
    </form>
</div>
<div id="rename-rule-dialog" title="Rename rule">
    <form>
        <fieldset>
            <label for="rule-name">Choose a new name</label>
            <input type="text" name="rule-name" id="rule-name" value="" class="text ui-widget-content ui-corner-all" style="width:365px;">
        </fieldset>
    </form>
</div>