    <ul  id=appMenu>
@if (Context.GetLoggedUser().canUseBlock("User,Admin,IA TG Coordinator,Local Coordinator,IA TG,EY Auditor,Auditor RWE",83)){            <li>
                    <a href="/PortalInternichAuditu2/KeZpracovani">Ke zpracov&#225;n&#237;</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("User,Admin,IA TG Coordinator,Local Coordinator,IA TG,EY Auditor,Auditor RWE",83)){            <li>
                    <h4>Editace</h4>
    <ul >
@if (Context.GetLoggedUser().canUseBlock("User,Admin,IA TG Coordinator,Local Coordinator,IA TG,EY Auditor,Auditor RWE",83)){            <li>
                    <a href="/PortalInternichAuditu2/NovyAudit">Nov&#253; audit</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("User,Admin,IA TG Coordinator,Local Coordinator,IA TG,EY Auditor,Auditor RWE",83)){            <li>
                    <a href="/PortalInternichAuditu2/EditaceAuditu">Editace auditů</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("User,Admin,IA TG Coordinator,Local Coordinator,IA TG,EY Auditor,Auditor RWE",83)){            <li>
                    <a href="/PortalInternichAuditu2/NovyAuditBezWf">Nov&#253; audit bez WF</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("User,Admin,IA TG Coordinator,Local Coordinator,IA TG,EY Auditor,Auditor RWE",83)){            <li>
                    <a href="/PortalInternichAuditu2/EditaceAudituBezWf">Editace auditů bez WF</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("User,Admin,IA TG Coordinator,Local Coordinator,IA TG,EY Auditor,Auditor RWE",83)){            <li>
                    <a href="/PortalInternichAuditu2/EditaceZjisteni">Editace zjištěn&#237;</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("User,Admin,IA TG Coordinator,Local Coordinator,IA TG,EY Auditor,Auditor RWE",83)){            <li>
                    <a href="/PortalInternichAuditu2/EditaceDoporuceni">Editace doporučen&#237;</a>
            </li>
}    </ul>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("User,Admin,IA TG Coordinator,Local Coordinator,EY Auditor,Auditor RWE",83)){            <li>
                    <h4>Přehled</h4>
    <ul >
@if (Context.GetLoggedUser().canUseBlock("User",83)){            <li>
                    <a href="/PortalInternichAuditu2/NapravnaOpatreni">N&#225;pravn&#225; opatřen&#237;</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("Admin,IA TG Coordinator,Local Coordinator,EY Auditor,Auditor RWE",83)){            <li>
                    <a href="/PortalInternichAuditu2/Audity">Audity</a>
            </li>
}    </ul>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("Admin,User",83)){            <li>
                    <h4>Administrace</h4>
    <ul >
@if (Context.GetLoggedUser().canUseBlock("Admin",83)){            <li>
                    <a href="/PortalInternichAuditu2/Spolecnosti">Společnosti</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("Admin",83)){            <li>
                    <a href="/PortalInternichAuditu2/Procesy">Procesy</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("Admin",83)){            <li>
                    <a href="/PortalInternichAuditu2/Cinnosti">Činnosti</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("User",83)){            <li>
                    <a href="/PortalInternichAuditu2/AuditoriEy">Auditoři EY</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("User",83)){            <li>
                    <a href="/PortalInternichAuditu2/UzivateleRwe">Uživatel&#233; RWE</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("Admin",83)){            <li>
                    <a href="/PortalInternichAuditu2/Funkce">Funkce</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("User",83)){            <li>
                    <a href="/PortalInternichAuditu2/NeaktivniUzivatele">Neaktivn&#237; uživatel&#233;</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("Admin",83)){            <li>
                    <a href="/PortalInternichAuditu2/NeaktivniPoziceNo">Neaktivn&#237; pozice / NO</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("User",83)){            <li>
                    <a href="/PortalInternichAuditu2/Soubory">Soubory</a>
            </li>
}    </ul>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("Admin",83)){            <li>
                    <h4>Reporty</h4>
    <ul >
@if (Context.GetLoggedUser().canUseBlock("Admin",83)){            <li>
                    <a href="/PortalInternichAuditu2/ReportProCesko">Report pro Česko</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("Admin",83)){            <li>
                    <a href="/PortalInternichAuditu2/ReportNovy">Report nov&#253;</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("Admin",83)){            <li>
                    <a href="/PortalInternichAuditu2/ReportNovySpolecnosti">Report nov&#253; - společnosti</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("Admin",83)){            <li>
                    <a href="/PortalInternichAuditu2/ReportNovyCz">Report nov&#253; CZ</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("Admin",83)){            <li>
                    <a href="/PortalInternichAuditu2/ReportNovySpolecnostiCz">Report nov&#253; - společnosti CZ</a>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("Admin",83)){            <li>
                    <a href="/PortalInternichAuditu2/ReportProNemecko">Report pro Německo</a>
            </li>
}    </ul>
            </li>
}@if (Context.GetLoggedUser().canUseBlock("Admin,EY Auditor,Auditor RWE",83)){            <li>
                    <a href="/PortalInternichAuditu2/FollowUp">Follow up</a>
            </li>
}    </ul>
