@using FSS.Omnius.Modules.Entitron.Entity.Persona;
@model AjaxPersonaAppRoles
@{
    Page.Title = "Omnius - edit app roles";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "personaRolesModule";
}
@helper CheckboxCell(bool allowed)
{
if (allowed)
{
        <td class="checkboxCell yesCell"><i class="fa fa-check"></i></td>
}
else
{
        <td class="checkboxCell noCell"><i class="fa fa-times"></i></td>
}
}
<div id="upperPanel">
    <div class="panelLabel">Role</div>
    <svg class="backgroundDecoration" width="540px" height="135px">
        <path d="M31 0 L31 28 L65 62 L376 62" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 135 L31 108 L65 74 L376 74" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 47 L52 68 L31 89 L10 68 Z" stroke="#49c4f1" stroke-width="1" fill="none" />
    </svg>
    <img class="decorationWatcheye" src="~/Content/images/watcheye_small.png" />
    <div id="hideUpperPanelIcon" class="fa fa-caret-up"></div>
</div>
<div id="minimizedUpperPanel">
    <div class="panelLabel">Role</div>
    <div id="showUpperPanelIcon" class="fa fa-caret-down"></div>
</div>
<div id="lowerPanel">
    <h4>Role uživatelů pro aplikaci <span class="appName">@Model.AppName</span></h4>
    @if (Model.Users.Count == 0 || Model.Roles.Count == 0)
    {
        <div class="modelErrorMessage">Tato aplikace nemá žádné role (tabulka Persona_AppRoles)</div>
    }
    else
    {
        <table id="groupRolesTable" class="table table-bordered table-striped table-omnius">
            <thead>
                <tr>
                    <th></th>
                    @foreach (var role in Model.Roles)
                    {
                        <th>@role.Name</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>

                        <td class="userNameCell">@user.Name</td>
                        @foreach (var role in Model.Roles)
                        {
                            @CheckboxCell(role.MemberList.Contains(user.Id));
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
