@using FSS.Omnius.Modules.Entitron.Entity.Cortex
@{
    Layout = "~/Views/Shared/_PartialViewAjaxLayout.cshtml";
}
<div id="upperPanel">
    <div class="panelLabel">Cortex</div>
    <svg class="backgroundDecoration" width="540px" height="565px">
        <path d="M31 0 L31 28 L65 62 L376 62" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 295 L31 108 L65 74 L376 74" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 47 L52 68 L31 89 L10 68 Z" stroke="#49c4f1" stroke-width="1" fill="none" />
    </svg>
    <img class="decorationWatcheye" src="~/Content/Images/watcheye_small.png" />
    <div class="tileMenuArea">
        <a href="@Url.RouteUrl("Cortex", new { controller = "Cortex" })">
            <div id="cortexMenuTask" class="tileMenuItem">
                <div class="buttonLabel">Planned tasks</div>
                <div class="fa fa-clock-o"></div>
                <div class="itemCount">@ViewData["TaskCount"]</div>
            </div>
        </a>
        <a href="@Url.RouteUrl("Cortex", new { controller = "Crontab", action = "Index" })">
            <div id="cortexMenuTask" class="tileMenuItem">
                <div class="buttonLabel">Crontab</div>
                <div class="fa fa-clock-o"></div>
                <div class="itemCount">@CrontabTask.CountRunning()/@CrontabTask.CountAll()</div>
            </div>
        </a>
    </div>
    <div id="hideUpperPanelIcon" class="fa fa-caret-up"></div>
</div>
<div id="minimizedUpperPanel">
    <div class="panelLabel">Cortex</div>
    <div id="showUpperPanelIcon" class="fa fa-caret-down"></div>
</div>
