@{
    Page.Title = "Omnius Tapestry";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "tapestryModule";
}
<div id="upperPanel">
    <div class="panelLabel">Tapestry</div>
    <svg class="backgroundDecoration" width="540px" height="357px">
        <path d="M31 0 L31 28 L65 62 L376 62" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 357 L31 108 L65 74 L376 74" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 47 L52 68 L31 89 L10 68 Z" stroke="#49c4f1" stroke-width="1" fill="none" />
    </svg>
    <img class="decorationWatcheye" src="~/Content/images/watcheye_small.png" />
    <div id="hideUpperPanelIcon" class="fa fa-caret-up"></div>
    <div id="upperPanelHistoryButton" class="tapestryUpperPanelButton">Historie</div>
    <div id="upperPanelLibrariesButton" class="tapestryUpperPanelButton highlighted">Knihovny</div>
    <div id="tapestryLibraryArea">
        <div class="libraryCategory">
            <div class="libraryCategoryHeader">Akce</div>
            <div class="libraryItem">Log In</div>
            <div class="libraryItem">Log Out</div>
            <div class="libraryItem highlighted">Validate</div>
            <div class="libraryItem">Check config values</div>
            <div class="libraryItem highlighted">Create</div>
            <div class="libraryItem">Delete</div>
        </div>
        <div class="libraryCategory">
            <div class="libraryCategoryHeader">Atributy</div>
            <div class="libraryItem highlighted">Name</div>
            <div class="libraryItem highlighted">Title</div>
            <div class="libraryItem highlighted">Description</div>
            <div class="libraryItem">Priority</div>
            <div class="libraryItem highlighted">Category</div>
            <div class="libraryItem">Content</div>
        </div>
        <div class="libraryCategory">
            <div class="libraryCategoryHeader">UI kompnenty</div>
            <div class="libraryItem highlighted">Textbox175</div>
            <div class="libraryItem">Combobox</div>
            <div class="libraryItem">Picture</div>
            <div class="libraryItem">Carousel</div>
            <div class="libraryItem">Dropdown-toggle</div>
            <div class="libraryItem highlighted">Button125</div>
        </div>
        <div class="libraryCategory">
            <div class="libraryCategoryHeader">Role</div>
            <div class="libraryItem highlighted">RS_admin</div>
            <div class="libraryItem">RS_approver</div>
            <div class="libraryItem highlighted">RS_key_user</div>
            <div class="libraryItem">RS_reader</div>
            <div class="libraryItem">RS_observer</div>
            <div class="libraryItem">RS_room_manager</div>
        </div>
        <div class="libraryCategory">
            <div class="libraryCategoryHeader">Stavy</div>
            <div class="libraryItem">New</div>
            <div class="libraryItem">Canceled</div>
            <div class="libraryItem">Rejected</div>
            <div class="libraryItem">Awaiting</div>
            <div class="libraryItem">Accepted</div>
            <div class="libraryItem">Closed</div>
        </div>
        <div class="libraryCategory">
            <div class="libraryCategoryHeader">Cíle</div>
            <div class="libraryItem highlighted">Detail rezervace</div>
            <div class="libraryItem">Založení rezervace</div>
            <div class="libraryItem">Zrušení rezervace</div>
            <div class="libraryItem">Notifikace</div>
        </div>
        <div class="libraryCategory">
            <div class="libraryCategoryHeader">Šablony</div>
            <div class="libraryItem highlighted">Založení rezervace</div>
        </div>
    </div>
</div>
<div id="minimizedUpperPanel">
    <div class="panelLabel">Tapestry</div>
    <div id="showUpperPanelIcon" class="fa fa-caret-down"></div>
</div>
<div id="lowerPanel">
    <div id="tapestryLeftBar">
        <div class="leftBarHeader">Paleta</div>
        <ul class="tapestryToolbox">
            <li class="toolboxCategoryHeader_Symbols"><span class="toolboxCategoryLabel">Symboly</span></li>
            <li class="symbolToolboxSpace">
                <img class="toolboxSymbol" src="~/Content/images/TapestryIcons/circle-single.png" style="left: 14px; top: 17px;"/>
                <img class="toolboxSymbol" src="~/Content/images/TapestryIcons/circle-double.png" style="left: 86px; top: 17px;" />
                <img class="toolboxSymbol" src="~/Content/images/TapestryIcons/circle-thick.png" style="left: 157px; top: 17px;" />
                <img class="toolboxSymbol" src="~/Content/images/TapestryIcons/circle-single-dashed.png" style="left: 14px; top: 68px;" />
                <img class="toolboxSymbol" src="~/Content/images/TapestryIcons/circle-double-dashed.png" style="left: 86px; top: 68px;" />
                <img class="toolboxSymbol" src="~/Content/images/TapestryIcons/gateway-plus.png" style="left: 6px; top: 127px;" />
                <img class="toolboxSymbol" src="~/Content/images/TapestryIcons/gateway-x.png" style="left: 77px; top: 127px;" />
                <img class="toolboxSymbol" src="~/Content/images/TapestryIcons/gateway-circle.png" style="left: 150px; top: 127px;" />
                <img class="toolboxSymbol" src="~/Content/images/TapestryIcons/gateway-pentagon.png" style="left: 6px; top: 200px;" />
                <img class="toolboxSymbol" src="~/Content/images/TapestryIcons/page.png" style="left: 86px; top: 200px;" />
                <img class="toolboxSymbol" src="~/Content/images/TapestryIcons/database.png" style="left: 159px; top: 198px;" />
                <img class="toolboxSymbol" src="~/Content/images/TapestryIcons/comment.png" style="left: 18px; top: 280px;" />
            </li>
            <li class="toolboxCategoryHeader_Actions"><span class="toolboxCategoryLabel">Akce</span></li>
            <li class="toolboxLi toolboxLi_Actions"><div class="toolboxItem actionItem">Validate</div></li>
            <li class="toolboxLi toolboxLi_Actions"><div class="toolboxItem actionItem">Create</div></li>
            <li class="toolboxCategoryHeader_Attributes"><span class="toolboxCategoryLabel">Atributy</span></li>
            <li class="toolboxLi toolboxLi_Attributes"><div class="toolboxItem attributeItem">Name</div></li>
            <li class="toolboxLi toolboxLi_Attributes"><div class="toolboxItem attributeItem">Title</div></li>
            <li class="toolboxLi toolboxLi_Attributes"><div class="toolboxItem attributeItem">Description</div></li>
            <li class="toolboxLi toolboxLi_Attributes"><div class="toolboxItem attributeItem">Category</div></li>
            <li class="toolboxCategoryHeader_UI"><span class="toolboxCategoryLabel">UI komponenty</span></li>
            <li class="toolboxLi toolboxLi_UI"><div class="toolboxItem uiItem">Textbox</div></li>
            <li class="toolboxLi toolboxLi_UI"><div class="toolboxItem uiItem">Button</div></li>
            <li class="toolboxCategoryHeader_Roles"><span class="toolboxCategoryLabel">Role</span></li>
            <li class="toolboxLi toolboxLi_Roles"><div class="toolboxItem roleItem">RS_admin</div></li>
            <li class="toolboxLi toolboxLi_Roles"><div class="toolboxItem roleItem">RS_key_user</div></li>
            <li class="toolboxCategoryHeader_States"><span class="toolboxCategoryLabel">Stavy</span></li>
            <li class="toolboxCategoryHeader_Targets"><span class="toolboxCategoryLabel">Cíle</span></li>
            <li class="toolboxLi toolboxLi_Targets"><div class="toolboxItem targetItem">Detail Rezervace</div></li>
            <li class="toolboxCategoryHeader_Templates"><span class="toolboxCategoryLabel">Šablony</span></li>
            <li class="toolboxLi toolboxLi_Templates"><div class="toolboxItem templateItem">Založení Rezervace</div></li>
        </ul>
    </div>
    <div id="tapestryLeftBarBackground"></div>
    <div id="tapestryWorkspace">
        <div id="blockHeaderPanel">
            Blok <span id="blockHeaderBlockName">Vyplnění údajů</span> DB zdroje <span id="blockHeaderDbResCount">2</span> 
            Obrazkovky <span id="blockHeaderScreenCount">2</span>
        </div>
        <div id="assignResourcesPanel">
            <div class="panelHeader">Přiřazení zdrojů<div id="btnAddResRule" class="plusButton fa fa-plus"></div></div>
            <div id="resRule1" class="ruleItem resourceRule" style="width: 250px; height: 60px; left: 10px; top: 36px;">
                <div id="resItem1" class="item attributeItem" style="left: 20px; top: 20px;">Name</div>
                <div id="resItem2" class="item uiItem" style="left: 146px; top: 20px;">Textbox</div>
            </div>
            <div id="resRule2" class="ruleItem resourceRule" style="width: 390px; height: 60px; left: 290px; top: 36px;">
                <div id="resItem3" class="item roleItem" style="left: 20px; top: 20px;">RS_admin</div>
                <div id="resItem4" class="item uiItem" style="left: 146px; top: 20px;">Button</div>
                <div id="resItem5" class="item actionItem" style="left: 270px; top: 20px;">Create</div>
            </div>
        </div>
        <div id="workflowRulesPanel">
            <div class="panelHeader">Pravidla bloku<div id="btnAddWfRule" class="plusButton fa fa-plus"></div>
            <div id="wfRule1" class="ruleItem workflowRule" style="width: 766px; height: 360px; left: 46px; top: 97px;">
                <div class="workflowRuleHeader">
                    <div class="vericalLabel">Založení rezervace</div>
                </div>
                <div class="swimlaneArea">
                    <div class="swimlane">
                        <div class="swimlaneRolesArea">
                            <div class="rolePlaceholder">
                                <div class="rolePlaceholderLabel">
                                    Pokud chcete specifikovat roli<br />
                                    přetáhněte ji do této oblasti
                                </div>
                            </div>
                        </div>
                        <div class="swimlaneContentArea">
                            <img id="wfItem1" class="symbol" src="~/Content/images/TapestryIcons/circle-single.png" style="left: 18px; top: 66px;" />
                            <div id="wfItem2" class="item actionItem" style="left: 145px; top: 60px;">Create
                                <img id="wfItem6" class="subSymbol" src="~/Content/images/TapestryIcons/small-message-double-circle.png" style="left: 15px; top: 45px;" />
                            </div>
                            <img id="wfItem5" class="symbol" src="~/Content/images/TapestryIcons/orange-port-arrow.png" style="left: 526px; top: 68px;" />
                        </div>
                    </div>
                    <div class="swimlane">
                        <div class="swimlaneRolesArea">
                            <div class="roleItem">RS_key_user</div>
                        </div>
                        <div class="swimlaneContentArea">
                            <div id="wfItem3" class="item templateItem" style="left: 145px; top: 60px;">Založení rezervace
                                <div id="wfItem7" class="subSymbolCounterpart" style="left: 30px; top: -2px;"></div>
                            </div>
                            <img id="wfItem4" class="symbol" src="~/Content/images/TapestryIcons/circle-filled.png" style="left: 526px; top: 66px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
