@{
    Page.Title = "Omnius Tapestry";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "tapestryModule";
}
<div id="upperPanel">
    <div class="panelLabel">Tapestry</div>
    <svg class="backgroundDecoration" width="540px" height="357px">
        <path d="M31 0 L31 28 L65 62 L376 62" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 357 L31 108 L65 74 L376 74" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 47 L52 68 L31 89 L10 68 Z" stroke="#49c4f1" stroke-width="1" fill="none" />
    </svg>
    <img class="decorationWatcheye" src="~/Content/images/watcheye_small.png" />
    <div id="hideUpperPanelIcon" class="fa fa-caret-up"></div>
    <div id="upperPanelHistoryButton" class="tapestryUpperPanelButton">Výběr bloku</div>
    <div id="upperPanelLibrariesButton" class="tapestryUpperPanelButton highlighted">Knihovny</div>
    <div id="tapestryLibraryArea">
        <div id="tapestryLibraryResponsiveArea">
            <div id="libraryCategory-Actions" class="libraryCategory">
                <div libId="1" libType="action" class="libraryCategoryHeader">Akce</div>
            </div>
            <div id="libraryCategory-Attributes" class="libraryCategory">
                <div class="libraryCategoryHeader">Atributy</div>
            </div>
            <div id="libraryCategory-UI" class="libraryCategory">
                <div class="libraryCategoryHeader">UI komponenty</div>
            </div>
            <div id="libraryCategory-Roles" class="libraryCategory">
                <div class="libraryCategoryHeader">Role</div>
            </div>
            <div id="libraryCategory-States" class="libraryCategory">
                <div class="libraryCategoryHeader">Stavy</div>
            </div>
            <div id="libraryCategory-Targets" class="libraryCategory">
                <div class="libraryCategoryHeader">Cíle</div>
            </div>
            <div id="libraryCategory-Templates" class="libraryCategory">
                <div class="libraryCategoryHeader">Šablony</div>
            </div>
            <div id="libraryCategory-Integration" class="libraryCategory">
                <div class="libraryCategoryHeader">Integrace</div>
            </div>
        </div>
    </div>
</div>
<div id="minimizedUpperPanel">
    <div class="panelLabel">Tapestry</div>
    <div id="showUpperPanelIcon" class="fa fa-caret-down"></div>
</div>
<div id="lowerPanel">
    <div id="tapestryLeftBar">
        <div class="leftBarHeader">Paleta</div>
        <div id="hideTapestryTooboxIcon" class="fa fa-caret-left"></div>
        <ul class="tapestryToolbox">
            <li class="toolboxCategoryHeader_Symbols"><span class="toolboxCategoryLabel">Symboly</span></li>
            <li class="symbolToolboxSpace">
                <img class="toolboxSymbol" symbolType="circle-single" src="~/Content/images/TapestryIcons/circle-single.png" style="left: 14px; top: 17px;" />
                <img class="toolboxSymbol" symbolType="circle-double" src="~/Content/images/TapestryIcons/circle-double.png" style="left: 86px; top: 17px;" />
                <img class="toolboxSymbol" endpoints="final" symbolType="circle-thick" src="~/Content/images/TapestryIcons/circle-thick.png" style="left: 157px; top: 17px;" />
                <img class="toolboxSymbol" symbolType="circle-single-dashed" src="~/Content/images/TapestryIcons/circle-single-dashed.png" style="left: 14px; top: 68px;" />
                <img class="toolboxSymbol" symbolType="circle-souble-dashed" src="~/Content/images/TapestryIcons/circle-double-dashed.png" style="left: 86px; top: 68px;" />
                <img class="toolboxSymbol" endpoints="gateway" symbolType="gateway-plus" src="~/Content/images/TapestryIcons/gateway-plus.png" style="left: 6px; top: 127px;" />
                <img class="toolboxSymbol" endpoints="gateway" symbolType="gateway-x" src="~/Content/images/TapestryIcons/gateway-x.png" style="left: 77px; top: 127px;" />
                <img class="toolboxSymbol" endpoints="gateway" symbolType="gateway-circle" src="~/Content/images/TapestryIcons/gateway-circle.png" style="left: 150px; top: 127px;" />
                <img class="toolboxSymbol" endpoints="gateway" symbolType="gateway-pentagon" src="~/Content/images/TapestryIcons/gateway-pentagon.png" style="left: 6px; top: 200px;" />
                <img class="toolboxSymbol" symbolType="page" src="~/Content/images/TapestryIcons/page.png" style="left: 86px; top: 200px;" />
                <img class="toolboxSymbol" symbolType="database" src="~/Content/images/TapestryIcons/database.png" style="left: 159px; top: 198px;" />
                <img class="toolboxSymbol" symbolType="comment" src="~/Content/images/TapestryIcons/comment.png" style="left: 18px; top: 280px;" />
            </li>
            <li class="toolboxCategoryHeader_Actions"><span class="toolboxCategoryLabel">Akce</span></li>
            <li class="toolboxCategoryHeader_Attributes"><span class="toolboxCategoryLabel">Atributy</span></li>
            <li class="toolboxCategoryHeader_UI"><span class="toolboxCategoryLabel">UI komponenty</span></li>
            <li class="toolboxCategoryHeader_Roles"><span class="toolboxCategoryLabel">Role</span></li>
            <li class="toolboxCategoryHeader_States"><span class="toolboxCategoryLabel">Stavy</span></li>
            <li class="toolboxCategoryHeader_Targets"><span class="toolboxCategoryLabel">Cíle</span></li>
            <li class="toolboxCategoryHeader_Templates"><span class="toolboxCategoryLabel">Šablony</span></li>
            <li class="toolboxCategoryHeader_Integrations"><span class="toolboxCategoryLabel">Integrace</span></li>
        </ul>
    </div>
    <div id="tapestryLeftBarMinimized">
        <div id="showTapestryTooboxIcon" class="fa fa-caret-right"></div>
        <div class="leftBarHeader">Paleta</div>
    </div>
    <div id="tapestryWorkspace">
        <div id="blockHeaderPanel">
            Blok <span id="blockHeaderBlockName">Vyplnění údajů</span> DB zdroje <span id="blockHeaderDbResCount">0</span>
            Obrazovky <span id="blockHeaderScreenCount">0</span>
            <div id="controlButtonArea">
                <button id="btnOverview" class="btn-omnius-rectangular">Overview</button>
                <button id="btnClear" class="btn-omnius-rectangular">Vymazat</button>
                <button id="btnSave" class="btn-omnius-rectangular">Uložit</button>
                <button id="btnLoad" class="btn-omnius-rectangular">Načíst</button>
                <button id="btnHistory" class="btn-omnius-rectangular">Historie</button>
            </div>
        </div>
        <div id="resourceRulesPanel">
            <div class="panelHeader">
                Přiřazení zdrojů<div id="btnAddResRule" class="plusButton fa fa-plus"></div>
            </div>
            <div class="scrollContainer">
                <div class="scrollArea">
                    <!--
                    <div id="resRule1" class="rule resourceRule" style="width: 250px; height: 60px; left: 10px; top: 10px;">
                        <div id="resItem1" class="item attributeItem" style="left: 20px; top: 20px;">Name</div>
                        <div id="resItem2" class="item uiItem" style="left: 146px; top: 20px;">Textbox</div>
                    </div>
                    <div id="resRule2" class="rule resourceRule" style="width: 390px; height: 60px; left: 290px; top: 10px;">
                        <div id="resItem3" class="item roleItem" style="left: 20px; top: 20px;">RS_admin</div>
                        <div id="resItem4" class="item uiItem" style="left: 146px; top: 20px;">Button</div>
                        <div id="resItem5" class="item actionItem" style="left: 270px; top: 20px;">Create</div>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <div id="workflowRulesPanel">
            <div class="panelHeader">
                Pravidla bloku<div id="btnAddWfRule" class="plusButton fa fa-plus"></div>
            </div>
            <div class="scrollContainer">
                <div class="scrollArea">
                    <!--
                    <div id="wfRule1" class="rule workflowRule" style="width: 766px; height: 360px; left: 40px; top: 20px;">
                        <div class="workflowRuleHeader">
                            <div class="verticalLabel">Založení rezervace</div>
                        </div>
                        <div class="swimlaneArea">
                            <div class="swimlane">
                                <div class="swimlaneRolesArea">
                                    <div class="rolePlaceholder">
                                        <div class="rolePlaceholderLabel">
                                            Pokud chcete specifikovat roli<br />
                                            přetáhněte ji do této oblasti
                                        </div>
                                    </div>
                                </div>
                                <div class="swimlaneContentArea">
                                    <img id="wfItem1" class="symbol" symbolType="circle-single" src="~/Content/images/TapestryIcons/circle-single.png" style="left: 18px; top: 66px;" />
                                    <div id="wfItem2" class="item actionItem" style="left: 145px; top: 60px;">
                                        <span class="itemLabel">Create</span>
                                        <img id="wfItem6" class="subSymbol" src="~/Content/images/TapestryIcons/small-message-double-circle.png" style="left: 15px; top: 45px;" />
                                    </div>
                                    <img id="wfItem5" class="symbol" symbolType="port-arrow" src="~/Content/images/TapestryIcons/port-arrow.png" style="left: 526px; top: 68px;" />
                                </div>
                            </div>
                            <div class="swimlane">
                                <div class="swimlaneRolesArea">
                                    <div class="roleItem">RS_key_user</div>
                                </div>
                                <div class="swimlaneContentArea">
                                    <div id="wfItem3" class="item templateItem" style="left: 145px; top: 60px;">
                                        <span class="itemLabel">Založení rezervace</span>
                                        <div id="wfItem7" class="subSymbolCounterpart" style="left: 30px; top: -2px;"></div>
                                    </div>
                                    <img id="wfItem4" class="symbol" symbolType="circle-filled" src="~/Content/images/TapestryIcons/circle-filled.png" style="left: 526px; top: 66px;" />
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="currentAppId" value="@ViewData["appId"]" />
<input type="hidden" id="currentBlockId" value="@ViewData["blockId"]" />
<input type="hidden" id="parentMetablockId" value="@ViewData["parentMetablockId"]" />
<input type="hidden" id="associatedTableId" value="1" />
<form id="openMetablockForm" method="post" action="/Tapestry/Overview">
    <input type="hidden" name="metablockId" />
</form>
<div id="history-dialog" title="Load from history">
    <table id="commit-table" class="table table-hover">
        <theader>
            <tr>
                <th style="width:240px;">Date created</th>
                <th>Commit message</th>
            </tr>
        </theader>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>
<div id="save-dialog" title="Save block">
    <form>
        <fieldset>
            <label for="message">Add a message (optional)</label>
            <input type="text" name="message" id="message" value="" class="text ui-widget-content ui-corner-all" style="width:365px;">
        </fieldset>
    </form>
</div>
<div id="rename-rule-dialog" title="Rename rule">
    <form>
        <fieldset>
            <label for="rule-name">Choose a new name</label>
            <input type="text" name="rule-name" id="rule-name" value="" class="text ui-widget-content ui-corner-all" style="width:365px;">
        </fieldset>
    </form>
</div>
<div id="rename-block-dialog" title="Rename block">
    <form>
        <fieldset>
            <label for="block-name">Choose a new name</label>
            <input type="text" name="block-name" id="block-name" value="" class="text ui-widget-content ui-corner-all" style="width:365px;">
        </fieldset>
    </form>
</div>
<div id="choose-screens-dialog" title="Choose screens">
    <table id="screen-table" class="table table-hover">
        <theader>
            <tr>
                <th>Screen name</th>
            </tr>
        </theader>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>
<div id="table-attribute-properties-dialog" title="Table attribute properties">
    <form>
        <fieldset>
            <table class="columnFilterTable">
                <thead>
                    <tr>
                        <th>Column name</th>
                        <th>Settings</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </fieldset>
        <button id="btnOpenTableConditions" type="button" class="btn-omnius-rectangular">Filter by conditions</button>
    </form>
</div>
<div id="choose-tables-dialog" title="Choose tables">
    <table id="table-table" class="table table-hover">
        <theader>
            <tr>
                <th>Table name</th>
            </tr>
        </theader>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>
<div id="action-properties-dialog" title="Action properties">
    <form>
        <fieldset>
            <table class="formTable">
                <tr>
                    <td><label for="input-variables">Input variables</label></td>
                    <td><input type="text" name="input-variables" id="input-variables" value="" class="text ui-widget-content ui-corner-all"></td>
                </tr>
                <tr>
                    <td><label for="output-variables">Output variables</label></td>
                    <td><input type="text" name="output-variables" id="output-variables" value="" class="text ui-widget-content ui-corner-all"></td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
<div id="gateway-x-properties-dialog" title="Condition properties">
    <form>
        <fieldset>
            <table class="formTable">
                <tr>
                    <td><label for="gateway-x-condition">Condition</label></td>
                    <td><input type="text" name="gateway-x-condition" id="gateway-x-condition" value="" class="text ui-widget-content ui-corner-all" /></td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
<div id="conditions-dialog" title="Conditions">
    <form>
        <fieldset>
            <div class="conditionSetToolbar">
                <div class="conditionSetIcon addAndConditionSetIcon">Add AND group</div>
                <div class="conditionSetIcon addOrConditionSetIcon">Add OR group</div>
            </div>
            <div class="conditionSetArea">
                <div class="conditionSet">
                    <div class="conditionSetHeading"><div class="conditionSetHeading"><span class="conditionSetPrefix">A</span>ll of these conditions must be met</div>
                    <div class="removeConditionSetIcon">X</div>
                    <table class="conditionTable">
                        <tr>
                            <td class="conditionOperator"></td>
                            <td class="conditionVariableCell">
                                <select></select>
                            </td>
                            <td class="conditionOperatorCell">
                                <select><option selected="selected">==</option><option>!=</option></select>
                            </td>
                            <td class="conditionValueCell">
                                <select><option selected="selected">True</option><<option>False</option></select>
                            </td>
                            <td class="conditionActions">
                                <div class="conditionActionIcon addAndConditionIcon">&</div><div class="conditionActionIcon addOrConditionIcon">|</div><div class="conditionActionIcon removeConditionIcon">X</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </fieldset>
    </form>
</div>
