<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Page.Title</title>
    <link href="~/Content/Style/base/minified/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Style/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Style/base/font-awesome.css" rel="stylesheet" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/CommonLibraries/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/CommonLibraries/jquery-ui-1.10.3.min.js"></script>
    <script src="~/Scripts/CommonLibraries/bootstrap.min.js"></script>
    <script src="~/Scripts/CommonLibraries/dom.jsPlumb-1.7.6-min.js "></script>
    <meta name="viewport" content="width=device-width" />
    @RenderSection("head", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
