@{
    Page.Title = "Omnius Mozaic bootstrap visual editor";
    Layout = "~/Views/Shared/_OmniusAdminLayout.cshtml";
    Page.ModuleClass = "mozaicEditorModule mozaicBootstrapEditorModule";
}
<link href="~/Scripts/cm/lib/codemirror.css" rel="stylesheet" />
<link href="~/Scripts/cm/addon/hint/show-hint.css" rel="stylesheet" />

<script src="~/Scripts/cm/lib/codemirror.js"></script>

<script src="~/Scripts/cm/mode/css/css.js"></script>
<script src="~/Scripts/cm/mode/htmlmixed/htmlmixed.js"></script>
<script src="~/Scripts/cm/mode/javascript/javascript.js"></script>
<script src="~/Scripts/cm/mode/xml/xml.js"></script>

<script src="~/Scripts/cm/addon/hint/show-hint.js"></script>
<script src="~/Scripts/cm/addon/hint/javascript-hint.js"></script>
<script src="~/Scripts/cm/addon/hint/html-hint.js"></script>
<script src="~/Scripts/cm/addon/hint/css-hint.js"></script>
<script src="~/Scripts/cm/addon/hint/xml-hint.js"></script>

<script src="~/Scripts/cm/addon/fold/xml-fold.js"></script>
<script src="~/Scripts/cm/addon/edit/closebrackets.js"></script>
<script src="~/Scripts/cm/addon/edit/closetag.js"></script>
<script src="~/Scripts/cm/addon/edit/matchbrackets.js"></script>
<script src="~/Scripts/cm/addon/edit/matchtags.js"></script>

<div id="upperPanel" class="mozaicEditorAbsolute">
    <div class="panelLabel">Mozaic visual editor</div>
    <svg class="backgroundDecoration" width="540px" height="357px">
        <path d="M31 0 L31 28 L65 62 L376 62" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 295 L31 108 L65 74 L376 74" stroke="#49c4f1" stroke-width="1" fill="none" />
        <path d="M31 47 L52 68 L31 89 L10 68 Z" stroke="#49c4f1" stroke-width="1" fill="none" />
    </svg>
    <img class="decorationWatcheye" src="~/Content/images/watcheye_small.png" />
    <div id="hideUpperPanelIcon" class="fa fa-caret-up"></div>
    <div id="controlButtonArea">
        <button id="btnNewPage" class="btn-omnius-rectangular">Nová stránka</button>
        <button id="btnChoosePage" class="btn-omnius-rectangular">Zvolit stránku</button>
        <button id="btnClear" class="btn-omnius-rectangular">Vymazat</button>
        <button id="btnSave" class="btn-omnius-rectangular">Uložit</button>
        <button id="btnLoad" class="btn-omnius-rectangular">Načíst</button>
        <button id="btnTrashPage" class="btn-omnius-rectangular">Trash</button>
        @{
            //<button id="btnToBootstrap" class="btn-omnius-rectangular">Do Bootstrap</button>
            //<button id="btnPreview" class="btn-omnius-rectangular">Náhled</button>
        }
    </div>
    <div id="appInfoPanel">
        App: <span id="headerAppName">@ViewData["appName"]</span><br /> Page: <span id="headerPageName"></span>
    </div>
    <div id="gridControlPanel">
        <label for="gridResolution">Mřížka:</label>
        <select id="gridResolutionDropdown" name="gridResolution">
            <option selected="selected" value="off">Žádná</option>
            <option value="5">5px</option>
            <option value="10">10px</option>
            <option value="15">15px</option>
            <option value="20">20px</option>
            <option value="25">25px</option>
            <option value="30">30px</option>
            <option value="35">35px</option>
            <option value="40">40px</option>
            <option value="45">45px</option>
            <option value="50">50px</option>
        </select>
        <label for="gridShow">Zobrazit:</label>
        <input type="checkbox" id="gridShowCheckbox" name="gridShow" />
    </div>
    <div id="modalControlPanel">
        <label>Uložit jako modal:</label><input type="checkbox" id="currentPageIsModal" />
        <label>Šířka:</label><input type="text" id="modalWidthInput" value="400" />
        <label>Výška:</label><input type="text" id="modalHeightInput" value="300" />
    </div>
</div>
<div id="minimizedUpperPanel">
    <div class="panelLabel">Mozaic bootstrap visual editor</div>
    <div id="showUpperPanelIcon" class="fa fa-caret-down"></div>
</div>
<div id="lowerPanel" class="mozaicEditorAbsolute">
    <div id="lowerPanelSpinnerOverlay">
        <div class="spinner-2 largeSpinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <div id="mozaicContainer">
        <div id="mozaicLeftBar">
            <div class="leftBarHeader">Paleta</div>
            <div id="hideMozaicTooboxIcon" class="fa fa-caret-left"></div>
            
            <div class="toolbox-container">
                <ul class="category">
                    <li>Text
                        <ul data-type="text">
                            <li data-template="heading">Heading</li>
                            <li data-template="paragraph">Paragraph</li>
                            <li data-template="alert">Alert</li>
                            <li data-template="blockquote">Blockquote</li>
                            <li data-template="small">Small</li>
                            <li data-template="strong">Bold</li>
                            <li data-template="italic">Italic</li>
                            <li data-template="span">Span</li>
                        </ul>
                    </li>
                    <li>Image
                        <ul data-type="image">
                            <li data-template="image">Image</li>
                            <li data-template="icon">Icon</li>
                            <!--li>Carousel</li-->
                            <li data-template="figure">Figure</li>
                            <li data-template="figcaption">Figcaption</li>
                        </ul>
                    </li>
                    <li>Controls
                        <ul data-type="controls">
                            <li data-template="button">Button</li>
                            <li data-template="split-button">Split button</li>
                            <li data-template="button-group">Button group</li>
                            <li data-template="button-toolbar">Button toolbar</li>
                            <li data-template="button-dropdown">Dropdown</li>
                            <li data-template="dropdown-menu" class="hide">Menu</li>
                            <li data-template="dropdown-menu-item" class="hide">Menu item</li>
                            <li data-template="dropdown-menu-header" class="hide">Header</li>
                            <li data-template="dropdown-menu-divider" class="hide">Divider</li>
                            <li data-template="link">Link</li>
                        </ul>
                    </li>
                    <li>Grid
                        <ul data-type="grid">
                            <li data-template="row">Row</li>
                            <li data-template="column">Column</li>
                            <li data-template="clearfix">Clearfix</li>
                        </ul>
                    </li>
                    <li>Containers
                        <ul data-type="containers">
                            <li data-template="container">Container</li>
                            <li data-template="panel">Panel</li>
                            <li data-template="panel-heading" class="hide">Panel heading</li>
                            <li data-template="panel-body" class="hide">Panel body</li>
                            <li data-template="panel-footer" class="hide">Panel footer</li>
                            <li data-template="tabs">Tabs</li>
                            <li data-template="tab" class="hide">Tab</li>
                            <li data-template="tab-items" class="hide">Tab items</li>
                            <li data-template="tab-content" class="hide">Tab content</li>
                            <li data-template="tab-pane" class="hide">Tab pane</li>
                            <li data-template="accordion">Accordion</li>
                            <li data-template="list-group">List group</li>
                            <li data-template="list-group-div" class="hide">List group</li>
                            <li data-template="list-group-item" class="hide">List group item</li>
                            <li data-template="list-group-item-link" class="hide">List group item</li>
                            <li data-template="list-group-item-button" class="hide">List group item</li>
                            <!--li>Collapse</li>
                            <li>Media</li>
                            <li>Jumbotron</li>
                            <li>Thumbnail</li-->
                            <li data-template="well">Well</li>
                            <li data-template="list">List</li>
                            <li data-template="list-item" class="hide">List item</li>
                            <li data-template="div">Div</li>
                        </ul>
                    </li>
                    <li>Page
                        <ul data-type="page">
                            <!--li>Navbar</li>
                            <li>Nav</li-->
                            <li data-template="page-header">Page header</li>
                            <li data-template="header">Header</li>
                            <li data-template="footer">Footer</li>
                            <li data-template="hgroup">Hgroup</li>
                            <li data-template="section">Section</li>
                            <li data-template="article">Article</li>
                            <li data-template="aside">Aside</li>
                        </ul>
                    </li>
                    <!--li>Pagination
                        <ul>
                            <li>Pagination</li>
                            <li>Pager</li>
                        </ul>
                    </li-->
                    <li>Table
                        <ul data-type="table">
                            <li data-template="table">Table</li>
                            <li data-template="tr">Table row</li>
                            <li data-template="cell">Table cell</li>
                            <li data-template="td" class="hide">Table cell</li>
                            <li data-template="th" class="hide">Table cell</li>
                            <li data-template="thead" class="hide">Table header</li>
                            <li data-template="tbody" class="hide">Table body</li>
                            <li data-template="tfoot" class="hide">Table footer</li>
                            <li data-template="caption" class="hide">Caption</li>
                        </ul>
                    </li>
                    <li>Form
                        <ul data-type="form">
                            <li data-template="form">Form</li>
                            <li data-template="form-group">Form group</li>
                            <li data-template="label">Field label</li>
                            <li data-template="input-text">Text input</li>
                            <li data-template="input-email">Email input</li>
                            <li data-template="input-color">Color input</li>
                            <li data-template="select">Select</li>
                            <li data-template="input-tel">Telephone input</li>
                            <li data-template="input-date">Date and time input</li>
                            <li data-template="input-number">Number input</li>
                            <li data-template="input-range">Range input</li>
                            <li data-template="input-hidden">Hidden input</li>
                            <li data-template="input-url">URL input</li>
                            <li data-template="input-search">Search input</li>
                            <li data-template="input-password">Password input</li>
                            <li data-template="input-file">File input</li>
                            <li data-template="checkbox-group">Checkbox group</li>
                            <li data-template="radio-group">Radio group</li>
                            <li data-template="checkbox">Checkbox</li>
                            <li data-template="checkbox-label">Checkbox with label</li>
                            <li data-template="radio">Radio</li>
                            <li data-template="radio-label">Radio with label</li>
                            <li data-template="form-control-feedback">Form control feedback</li>
                            <li data-template="static-control">Static control</li>
                            <li data-template="textarea">Textarea</li>
                            <li data-template="help-text">Help text block</li>
                            <li data-template="input-group">Input group</li>
                            <li data-template="fieldset">Fieldset</li>
                            <li data-template="legend" class="hide">Legend</li>
                            <li data-template="left-addon" class="hide">Left addon</li>
                            <li data-template="right-addon" class="hide">Right addon</li>
                        </ul>
                    </li>
                    <li>Misc
                        <ul data-type="misc">
                            <!--li>Map</li-->
                            <!--li>Video</li-->
                            <li data-template="custom-code">Custom code</li>
                            <li data-template="modal">Modal</li>
                            <li data-template="modal-header" class="hide">Modal header</li>
                            <li data-template="modal-body" class="hide">Modal body</li>
                            <li data-template="modal-footer" class="hide">Modal footer</li>
                            <li data-template="badge">Badge</li>
                            <li data-template="tag">Label</li>
                            <li data-template="caret">Caret</li>
                            <li data-template="close">Close</li>
                            <li data-template="breadcrumbs">Breadcrumbs</li>
                            <li data-template="breadcrumbs-item" class="hide">Breadcrumbs item</li>
                            <li data-template="breadcrumbs-active" class="hide">Span</li>
                            <li data-template="breadcrumbs-inactive" class="hide">Link</li>
                            <li data-template="hr">Hr</li>
                            <li data-template="responsive-embed">Responsive embed</li>
                            <li data-template="progressBar">Progress bar</li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <div id="mozaicLeftBarMinimized">
            <div id="showMozaicTooboxIcon" class="fa fa-caret-right"></div>
            <div class="leftBarHeader">Paleta</div>
        </div>
    </div>
    <div id="mozaicPageContainer">
        <div id="mozaicPageContext">
            <ol id="mozaicPageBreadcrumbs" class="breadcrumb">
                <li><span>Body</span></li>
            </ol>
            <nav class="navbar">
                <div class="container-fluid" id="mozaicPageContextToolbar">
                    <div class="toolbar pull-right">
                        <button type="button" data-action="undo" title="Undo" class="btn navbar-btn"><span class="fa fa-undo fa-fw"></span></button>
                        <button type="button" data-action="redo" title="Repeat" class="btn navbar-btn"><span class="fa fa-repeat fa-fw"></span></button>
                        <button type="button" data-action="xs" title="Extra small device" class="btn navbar-btn device-button"><span class="fa fa-mobile fa-fw"></span></button>
                        <button type="button" data-action="sm" title="Small device" class="btn navbar-btn device-button"><span class="fa fa-tablet fa-fw"></span></button>
                        <button type="button" data-action="md" title="Medium device" class="btn navbar-btn device-button active"><span class="fa fa-laptop fa-fw"></span></button>
                        <button type="button" data-action="lg" title="Large device" class="btn navbar-btn device-button"><span class="fa fa-desktop fa-fw"></span></button>
                        <button type="button" data-action="fullscreen" title="Fullscreen" class="btn navbar-btn"><span class="fa fa-arrows-alt fa-fw"></span></button>
                    </div>
                    <div class="toolbar pull-left"></div>
                </div>
            </nav>
        </div>
        <div id="mozaicPageTree">
            <div class="leftBarHeader">Navigace</div>
            <div class="tree-nav">
                <div class="node root">
                    <span class="node-handle">
                        <i class="fa fa-caret-down fa-fw"></i>
                        <b>Body</b>
                    </span>
                    <div class="sub-tree"></div>
                </div>
            </div>
        </div>
        <div id="mozaicPageWorkspace">
            <iframe src="/Mozaic/Bootstrap/Workspace" class="md"></iframe>
        </div>
        <div id="drop-placeholder"></div>
        <div id="modalSizeVisualization"></div>
    </div>
</div>
<input type="hidden" id="currentAppId" value="@ViewData["appId"]" />
<input type="hidden" id="currentPageId" value="@ViewData["pageId"]" />
<input type="hidden" id="currentPageVersion" value="@ViewData["pageVersion"]" />


<div class="hide">
    <div id="choose-page-dialog" title="Choose page">
        <div class="spinner-2">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <table id="page-table" class="table table-hover">
            <thead>
                <tr>
                    <th width="95%">Name</th>
                    <th width="5%" align="center">Boostrap</th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>
            </tbody>
        </table>
    </div>
    <div id="new-page-dialog" title="Create new page">
        <form>
            <fieldset>
                <label for="new-page-name">Page name</label>
                <input type="text" name="new-page-name" id="new-page-name" value="" class="text ui-widget-content ui-corner-all" style="width: 365px;">
            </fieldset>
        </form>
    </div>
    <div id="rename-page-dialog" title="Rename page">
        <form>
            <fieldset>
                <label for="page-name">Choose a new name</label>
                <input type="text" name="page-name" id="page-name" value="" class="text ui-widget-content ui-corner-all" style="width: 365px;">
            </fieldset>
        </form>
    </div>
    <div id="trash-page-dialog" title="Deleted pages">
        <div class="spinner-2">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <table id="trash-page-table" class="table table-hover">
            <thead>
                <tr>
                    <th width="95%">Name</th>
                    <th width="5%" align="center">Bootstrap</th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>
            </tbody>
        </table>
    </div>
</div>