@{
    ViewBag.Title = "Rules";
}
<script>
    $(function () {
        var urlDetail = $("#urlDetail").val();
        ko.applyBindings(new RuleListViewModel(urlDetail));
    });
</script>
<div class="container">
    <input type="hidden" id="urlDetail" value="@Url.Action("RuleDetail","Rules")" />
    <div class="col-md-4">
        <table class="table table-hover table-condensed">
            <caption>
                <h2>List Rules</h2>
            </caption>
            <thead>
                <tr>
                    <th colspan="2">Name</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: rules">
                <tr>
                    <td data-bind="text: name, click: $parent.updateRule"></td>
                    <td class="btn-group" style="white-space: nowrap">
                        <button class="btn btn-default" data-bind="click: $parent.updateRule"><i class="fa fa-fw fa-pencil"></i></button>
                        <button class="btn btn-default" data-bind="click: $parent.removeRule"><i class="fa fa-fw fa-trash-o"></i></button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" data-bind="text: countRule()"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
